#!/bin/bash
. ${HOME}/.profile
LOGFILE="{{emailmx_user[0].home}}/log/mta_maintenance.$(hostname).$(date +%Y%m%d%H%M%S).out"
find {{emailmx_user[0].home}}/spool/errors -mtime +7 -type f -exec rm {} \;  1>>$LOGFILE 2>>$LOGFILE
find {{emailmx_user[0].home}}/spool/errors -mtime +7 -type d -exec rmdir {} \;  1>>$LOGFILE 2>>$LOGFILE
find {{emailmx_user[0].home}}/spool/sidelined -mtime +7 -type f -exec rm {} \;  1>>$LOGFILE 2>>$LOGFILE
find {{emailmx_user[0].home}}/spool/sidelined -mtime +7 -type d -exec rmdir {} \;  1>>$LOGFILE 2>>$LOGFILE
{{emailmx_user[0].home}}/bin/imorphanrm -x -g 1>>$LOGFILE 2>>$LOGFILE
{{emailmx_user[0].home}}/bin/imorphanrm -x 1>>$LOGFILE 2>>$LOGFILE
# chown {{emailmx_user[0].username}}:{{emailmx_user[0].username}} $LOGFILE
