#! /bin/bash
# Add default queues to the queue-service Cassandra Backend

{% if groups[node_site + '-qadminsearch'] is defined %}{% 
	for host in groups[node_site + '-qadminsearch'] %}{% 
		if loop.first and host == inventory_hostname %}

CHECK=true
COUNT=0
while $CHECK; do

    ST=__$(curl -L http://{{host}}:{{queue_admin_port}}|grep timestamp)
    
    if [ "__" != "$ST" ]; then
        CHECK=false;

{% for site in sites %}

  		/usr/local/bin/rest-client-admin.sh method create name {{site}}_mta_deferred type deferred
  		/usr/local/bin/rest-client-admin.sh method create name {{site}}_mta_ndn type ndn
  		/usr/local/bin/rest-client-admin.sh method create name {{site}}_mta_error type error
  		/usr/local/bin/rest-client-admin.sh method create name {{site}}_mta_sideline type sideline
  		/usr/local/bin/rest-client-admin.sh method create name {{site}}_cal_reminder type mail
  		  		
{% endfor %}


    else
        if [ $COUNT == 24 ]; then
            echo "Queue Admin Service not ready"
            exit 1
        fi
        echo "Waiting for Queue Admin Service ($ST)..."
        COUNT=$[COUNT+1]
        sleep 5
    fi
    
done;

{% 		endif %}{% 
	endfor %}{% 
endif %}

