# /usr/lib/systemd/system/qadmin.service

[Unit]
Description=queueadmin
After=network.target remote-fs.target nss-lookup.target auditd.service sshd.service mx.service

[Service]
User={{emailmx_user[0].username}}
Group={{emailmx_user[0].username}}
PermissionsStartOnly=true
Environment=INTERMAIL={{emailmx_user[0].home}}
ExecStart={{emailmx_user[0].home}}/queueadmin/scripts/queueadmin start
SuccessExitStatus=143
StandardOutput=journal
StandardError=journal
LimitNOFILE=524288
LimitMEMLOCK=infinity
LimitNPROC=65536
LimitAS=infinity
Restart=always

[Install]
WantedBy=multi-user.target