#!/bin/bash
. ${HOME}/.profile
LOGFILE="{{emailmx_user[0].home}}/log/queueadmin_maintenance.$(hostname).$(date +%Y%m%d%H%M%S).out"
echo "recoverMessages..." 1>>$LOGFILE 2>>$LOGFILE
/usr/local/bin/rest-client-admin.sh method recoverMessages 1>>$LOGFILE 2>>$LOGFILE
echo "rectifyStats..." 1>>$LOGFILE 2>>$LOGFILE
/usr/local/bin/rest-client-admin.sh method rectifyStats 1>>$LOGFILE 2>>$LOGFILE
echo "clean {{node_site}}_mta_error" 1>>$LOGFILE 2>>$LOGFILE
/usr/local/bin/rest-client-admin.sh method clean name {{node_site}}_mta_error 1>>$LOGFILE 2>>$LOGFILE
echo "clean {{node_site}}_nagios" 1>>$LOGFILE 2>>$LOGFILE
/usr/local/bin/rest-client-admin.sh method clean name {{node_site}}_nagios 1>>$LOGFILE 2>>$LOGFILE
