execbeat:
  execs:
    -
      cron: "@every 10s"
      command: echo
      args: "ping"
      document_type: execbeat
      fields:
        service: echo


output.redis:
  hosts: ["{{ groups[node_site+'-redis'] | join (':'+( redis_port | string ) +'","') }}:{{ redis_port }}"]
  key: "healthstation"
  loadbalance: true
  db: 0
  timeout: 5
  max_bulk_size: {{execbeat_max_bulk_size}}
  worker: {{execbeat_worker}}
