# --------------------------------------------------------------
# ----- Configuration of Critical Path SMS Access Server -------
# --------------------------------------------------------------

#System.BasePort=25000
#System.TracefileName=../log/start-nplex
#Log.LogFile=../log/automatic
#SmscISHARHost=localhost
#SmscISHARName=VOunicMO1-it
#SmscISHARPwd=7Run1c-R
#SmscISHARPort=6700
#SmscEMAIL2SMSHost=localhost
#SmscEMAIL2SMSName=VOunicMO2-it
#SmscEMAIL2SMSPwd=eVun2c-V
#SmscEMAIL2SMSPort=6700
#SmscADPORTALHost=localhost
##SmscADPORTALName=smppclient2
#SmscADPORTALPwd=password
#SmscADPORTALPort=6700

#cd /NPM-HOME/isocor/npm/utils/SMPPSim
#./startsmppsimCPSMS_SmscIPX1eIPX2.sh

#MailEMAIL2SMS.SmtpServer=localhost
#MailEMAIL2SMS.SmtpPort=25250
#MailEMAIL2SMS.Maildomain=smsgw.etisalat.it
#TEST: swaks -t --server localhost --port 2500 --suppress-data --from samy1@mms.ae --to 393488008456@mms.ae --h-Subject: "TEST" --body "TEST_0123456789"

#MailADPORTAL.SmtpServer=localhost
#MailADPORTAL.SmtpPort=25251
#MailADPORTAL.Maildomain=email2sms.eim.ae
#TEST: swaks -t --server localhost --port 2501 --suppress-data --from samy1@email2sms.eim.ae --to 393488008456@email2sms.eim.ae --h-Subject: "TEST" --body "TEST_0123456789"

#MailISHAR.SmtpServer=localhost
#MailISHAR.SmtpPort=25252
#MailISHAR.Maildomain=gsm.net.ae
##TEST: swaks -t --server localhost --port 2502 --suppress-data --from samy1@gsm.net.ae --to 393488008456@gsm.net.ae --h-Subject: "TEST" --body "TEST_0123456789"

#ServiceDiscoveryURL=http://dir-a-01:8761/eureka/apps
#TEST: curl -s -L -H "Accept: application/json" -X GET http://172.26.202.10:8761/eureka/apps | python -m json.tool | less

#MosURL=/mxos/mailbox/v2/%SMI<From>/smsServices
#TEST: curl -L -X GET http://172.26.202.10:8081/mxos/mailbox/v2/samy1@dev.etisalat.ae/smsServices




# Configuration
System.BasePort={{ BasePort }}
#*.AlarmCommand=/opt/criticalpath/SNMP_AGT/v1.6/bin/actOnAlarm tron /opt/criticalpath/SNMP_AGT/CurrRel/spool/ localhost 6093
System.TracefileName=../trace/start-nplex
Log.LogFile=../log/automatic
SmscISHARHost={{ SmscISHARHost}}
SmscISHARName={{ SmscISHARName }}
SmscISHARPwd={{ SmscISHARPwd }}
SmscISHARPort={{ SmscISHARPort }}

SmscEMAIL2SMSHost={{ SmscEMAIL2SMSHost }}
SmscEMAIL2SMSName={{ SmscEMAIL2SMSName }}
SmscEMAIL2SMSPwd={{ SmscEMAIL2SMSPwd }}
SmscEMAIL2SMSPort={{ SmscEMAIL2SMSPort }}

SmscADPORTALHost={{ SmscADPORTALHost }}
SmscADPORTALName={{ SmscADPORTALName }}
SmscADPORTALPwd={{ SmscADPORTALPwd }}
SmscADPORTALPort={{ SmscADPORTALPort }}

MailEMAIL2SMS.SmtpServer={{ MailEMAIL2SMS_SmtpServer }}
MailEMAIL2SMS.SmtpPort={{ MailEMAIL2SMS_SmtpPort }}
MailEMAIL2SMS.Maildomain={{ MailEMAIL2SMS_Maildomain }}

MailADPORTAL.SmtpServer={{ MailADPORTAL_SmtpServer}}
MailADPORTAL.SmtpPort={{ MailADPORTAL_SmtpPort }}
MailADPORTAL.Maildomain={{ MailADPORTAL_Maildomain }}

MailISHAR.SmtpServer={{ MailISHAR_SmtpServer }}
MailISHAR.SmtpPort={{ MailISHAR_SmtpPort }}
MailISHAR.Maildomain={{ MailISHAR_Maildomain }}
#
#
ServiceDiscoveryURL={{ eureka_url }}
MosURL=/mxos/mailbox/v2/%SMI<From>/smsServices



*.AdmType=adm
*.AdminHost=&Host
*.AdminPassword=helloAdm
*.AdminPort=&System.BasePort+1
*.AdminAsciiPort=&System.BasePort+19
*.Standalone=false
*.Trace=false
*.Locale=ITALY
*.TimeZone=Europe/Paris
*.StartTimeout=300000
*.Type=Process

# FIFO Session
#*.EnableFifoConnect=true
#*.EnableFifoCleanup=true
#*.FifoPrefix=/tmp/test

*.MonitorHost=&Host
*.MonitorPassword=helloMon
*.MonitorPort=&System.BasePort+17
*.LogPort=&Log.LogPort
*.MqReceivePort=&System.BasePort+9
*.MqSubmitPort=&System.BasePort+7
*.MqRcvPassword=&Mq.RcvPassword
*.MqSubPassword=&Mq.SubPassword
*.MqHost=&Host


# System wide configuration
# -------------------------
System.ConfigTracing=false
System.interpreter=jre
System.TracefileCrypt=false
System.TracefileSize=88000000000
# Home is set by Admprocess
System.Home=&Home

# Administrator configuration
# ---------------------------
Adm.Standalone=true
Adm.AdminHost=localhost
Adm.AdminPassword=helloAdm
Adm.AdminPort=&System.BasePort+1
Adm.MonitorHost=&Monitor.MonitorHost
Adm.MonitorPassword=&Monitor.MonitorPassword
Adm.MonitorPort=&Monitor.MonitorPort
Adm.AsciiMonitorPort=&System.BasePort+99
Adm.DbLayer=Joi

# Components, observed by administrator
# -------------------------------------
Adm.Components=Backbone Log DbLayer Database \
				SmscISHAR SmscEMAIL2SMS SmscADPORTAL \
				MailISHAR MailEMAIL2SMS MailADPORTAL

Adm.Log=Log
Adm.Monitor=Monitor
Adm.SmAsi=SmAsi
Adm.Backbone=Mq
Adm.SmscSim1=SmscSim1
Adm.Database=Db

Adm.Db.AdmType=stdio
Adm.Db.Command=&System.Home+/Mobile/N-PLEX/DB-mSQL/mobile/msql2d
Adm.Db.Needs=
Adm.Db.Disabled=false
Adm.Log.Command=jre -mx512m com.netcs.mobile.log.LogActor Log
Adm.Log.Needs=
Adm.Monitor.Command=jre com.netcs.mobile.monitor.MonitorActor Monitor
Adm.Monitor.Needs=
Adm.Mq.Command=jre -mx512m com.netcs.mobile.MqPServer Mq
Adm.Mq.Needs=Log



# ----- Configuration of modules -----
# MSQL CONFIG
Adm.Db.AdmType=stdio
Adm.Db.Command=&System.Home+/Mobile/N-PLEX/DB-mSQL/mobile/msql2d
Adm.Db.Needs=
Adm.Db.Disabled=false
Adm.Db.Type=Process

Db.general.tcp_port=&System.BasePort+6
Db.general.unix_port=%I/msql2.sock
Db.general.inst_dir=&System.Home+/msql
Db.general.msql_user=&User
Db.general.pid_file=&Db.general.inst_dir+/msql2.pid
Db.general.databases=Mobile

# Must be set to your host or domain
Db.Mobile.host=*
Db.Mobile.read=*
Db.Mobile.write=*
Db.Mobile.access=remote

Adm.Joi.Command=java -mx512m com.netcs.mobile.joi.Main Joi
Adm.Joi.Needs=Log Database

*.JoiHost=&Host
*.JoiPort=&System.BasePort+12
*.JoiName=Joi
*.JoiPassword=hello
*.JoiTimeout=30000



# -----------
Joi.JoiAsciiPort=&System.BasePort+18
Joi.DatabaseType=msql
#Joi.DatabaseType=oracle
#Joi.DatabaseType=none
Joi.NumberOfSessions=20
#Joi.TraceSQL=true
#Joi.Trace=true
Joi.GarbageCollector=60000
Joi.GarbageCollectorTimeout=60000
Joi.GarbageCollectorGracePeriod=300000
Joi.UseCache=true
Joi.CacheSize=1000


#Joi.DispContext.InitFile=cfg-init/DispContext.dmp

Joi.Services.InitFile=services.data

Joi.System.InitFile=cfg-init/system.data
Joi.Routing.InitFile=cfg-init/routing.data
Joi.Names.InitFile=cfg-init/names.data
Joi.Subscriber.InitFile=cfg-init/subscriber.data
Joi.Templates.InitFile=cfg-init/templates.data
Joi.PullInfos.InitFile=cfg-init/pullinfos.data
Joi.PushSubscriber.InitFile=cfg-init/pushSubscriber.data
Joi.SCHEMA.InitFile=cfg-init/schema.data



# Must be a concrete hostname, not localhost
Joi.DatabaseHost=&Host
Joi.DatabasePort=&Db.general.tcp_port
Joi.DatabaseLogonName=&Db.general.msql_user
Joi.DatabaseLogonPassword=hello
Joi.DatabaseLabel=Mobile
Joi.ServerId=90

Log.AsciiLogPort=&System.BasePort+3
Log.LogPort=&System.BasePort+2
Log.LogSyntax=com.netcs.runtime.AsciiTransferSyntax
Log.LogFullBody=true

RemMonitor.MonitorHost=&Host
RemMonitor.MonitorPassword=helloMon
RemMonitor.MonitorPort=&System.BasePort+17
RemMonitor.AdminPort=&System.BasePort+1
RemMonitor.AdminHost=&Host
RemMonitor.AdminPassword=helloAdm
RemMonitor.LogPort=&System.BasePort+2
RemMonitor.Standalone=true

Viewer.Standalone=true

Mq.HighWaterMark=30000
Mq.LowWaterMark=25000
Mq.ReceiverWindowSize=20
Mq.MQTimeout=30000
Mq.MQRetryPeriod=60000
Mq.MQRetryLimit=3
Mq.RcvPassword=hello
Mq.SubPassword=hello
Mq.Persistent=false
Mq.MaxFileSize=10000000



Adm.SmscISHAR=SmscISHAR
Adm.SmscISHAR.Command=jre -mx1024m com.netcs.mobile.dispatcher.SmscDispatcher SmscISHAR
Adm.SmscISHAR.Needs=Backbone Log DbLayer
Adm.SmscISHAR.Disabled=false
Adm.SmscISHAR.RestartDelay=305000
SmscISHAR.KeepAliveTimer=30000
SmscISHAR.MqHost=&Host
SmscISHAR.MqRcvPassword=&Mq.RcvPassword
SmscISHAR.MqReceivePort=&Mq.MqReceivePort
SmscISHAR.MqSubPassword=&Mq.SubPassword
SmscISHAR.MqSubmitPort=&Mq.MqSubmitPort
SmscISHAR.DispatcherQueue=QUEUE_MT_ISHAR
SmscISHAR.SmscResponseTime=120000
SmscISHAR.MessageContextValidity=18000000
SmscISHAR.SmscTimeoutAlarmLimit=1
SmscISHAR.ReplyLookup=false
SmscISHAR.ReplyAddressStart=5417172600000
SmscISHAR.ReplyAddressEnd=5417172600999
SmscISHAR.SmscType=Smpp
SmscISHAR.ConnectionType=Tcp
SmscISHAR.SmscConfigName=Smpp

SmscISHAR.Smpp.SmscName=&SmscISHARName
SmscISHAR.Smpp.SmscPassword=&SmscISHARPwd
SmscISHAR.Smpp.SmscHost=&SmscISHARHost
SmscISHAR.Smpp.SmscPort=&SmscISHARPort

SmscISHAR.Smpp.DefaultOriginatorType=1
SmscISHAR.Smpp.DefaultOriginatorPlan=1
SmscISHAR.Smpp.DefaultOriginator=1230

SmscISHAR.Smpp.DefaultDestinationType=1
SmscISHAR.Smpp.DefaultDestinationPlan=1

SmscISHAR.Smpp.X25Address=
SmscISHAR.Smpp.SmscEsmClassMoMessage=
SmscISHAR.Smpp.SmscAddrRange=
SmscISHAR.Smpp.SmscInterfaceVersion=34
SmscISHAR.Smpp.SmscSystemType=
SmscISHAR.Smpp.SmscVersion=100
SmscISHAR.Smpp.ConnectionTimeout=150000
SmscISHAR.Smpp.WindowSize=10
SmscISHAR.Smpp.HexEncodingBinaryData=false
SmscISHAR.Trace=true
SmscISHAR.Smpp.Trace=true
SmscISHAR.Smpp.SmscTransPort.PortTrace=true
# MO/DR Tracing
#SmscISHAR.Smpp.SmscRecvPort.PortTrace=true
SmscISHAR.NetworkType=GSM
SmscISHAR.Smpp.SmscEsmClassDeliveryReceipt=4
SmscISHAR.Smpp.AppendNullByteToMessage=false
SmscISHAR.Smpp.SmscReferenceFormat=Hexadecimal
#SmscISHAR.Smpp.ForceDcsMT=8
SmscISHAR.Smpp.EncodingMapping=UTF8:UnicodeBigUnmarked
#SmscISHAR.Smpp.CharConversion=com.netcs.runtime.CustomCharset
#SmscISHAR.Smpp.MappingFile=charmaps/GSM
SmscISHAR.MaxNumOfMsgsInConcatenatedMsg=1


Adm.SmscEMAIL2SMS=SmscEMAIL2SMS
Adm.SmscEMAIL2SMS.Command=jre -mx1024m com.netcs.mobile.dispatcher.SmscDispatcher SmscEMAIL2SMS
Adm.SmscEMAIL2SMS.Needs=Backbone Log DbLayer
Adm.SmscEMAIL2SMS.Disabled=false
Adm.SmscEMAIL2SMS.RestartDelay=305000
SmscEMAIL2SMS.KeepAliveTimer=30000
SmscEMAIL2SMS.MqHost=&Host
SmscEMAIL2SMS.MqRcvPassword=&Mq.RcvPassword
SmscEMAIL2SMS.MqReceivePort=&Mq.MqReceivePort
SmscEMAIL2SMS.MqSubPassword=&Mq.SubPassword
SmscEMAIL2SMS.MqSubmitPort=&Mq.MqSubmitPort
SmscEMAIL2SMS.DispatcherQueue=QUEUE_MT_EMAIL2SMS
SmscEMAIL2SMS.SmscResponseTime=120000
SmscEMAIL2SMS.MessageContextValidity=18000000
SmscEMAIL2SMS.SmscTimeoutAlarmLimit=1
SmscEMAIL2SMS.ReplyLookup=false
SmscEMAIL2SMS.ReplyAddressStart=5417172600000
SmscEMAIL2SMS.ReplyAddressEnd=5417172600999
SmscEMAIL2SMS.SmscType=Smpp
SmscEMAIL2SMS.ConnectionType=Tcp
SmscEMAIL2SMS.SmscConfigName=Smpp

SmscEMAIL2SMS.Smpp.SmscName=&SmscEMAIL2SMSName
SmscEMAIL2SMS.Smpp.SmscPassword=&SmscEMAIL2SMSPwd
SmscEMAIL2SMS.Smpp.SmscHost=&SmscEMAIL2SMSHost
SmscEMAIL2SMS.Smpp.SmscPort=&SmscEMAIL2SMSPort

SmscEMAIL2SMS.Smpp.DefaultOriginatorType=1
SmscEMAIL2SMS.Smpp.DefaultOriginatorPlan=2
SmscEMAIL2SMS.Smpp.DefaultOriginator=1032

SmscEMAIL2SMS.Smpp.DefaultDestinationType=1
SmscEMAIL2SMS.Smpp.DefaultDestinationPlan=1

SmscEMAIL2SMS.Smpp.X25Address=
SmscEMAIL2SMS.Smpp.SmscEsmClassMoMessage=
SmscEMAIL2SMS.Smpp.SmscAddrRange=
SmscEMAIL2SMS.Smpp.SmscInterfaceVersion=34
SmscEMAIL2SMS.Smpp.SmscSystemType=
SmscEMAIL2SMS.Smpp.SmscVersion=100
SmscEMAIL2SMS.Smpp.ConnectionTimeout=150000
SmscEMAIL2SMS.Smpp.WindowSize=10
SmscEMAIL2SMS.Smpp.HexEncodingBinaryData=false
SmscEMAIL2SMS.Trace=true
SmscEMAIL2SMS.Smpp.Trace=true
SmscEMAIL2SMS.Smpp.SmscTransPort.PortTrace=true
# MO/DR Tracing
#SmscEMAIL2SMS.Smpp.SmscRecvPort.PortTrace=true
SmscEMAIL2SMS.NetworkType=GSM
SmscEMAIL2SMS.Smpp.SmscEsmClassDeliveryReceipt=4
SmscEMAIL2SMS.Smpp.AppendNullByteToMessage=false
SmscEMAIL2SMS.Smpp.SmscReferenceFormat=Hexadecimal
#SmscEMAIL2SMS.Smpp.ForceDcsMT=8
SmscEMAIL2SMS.Smpp.EncodingMapping=UTF8:UnicodeBigUnmarked
#SmscEMAIL2SMS.Smpp.CharConversion=com.netcs.runtime.CustomCharset
#SmscEMAIL2SMS.Smpp.MappingFile=charmaps/GSM

SmscEMAIL2SMS.MaxNumOfMsgsInConcatenatedMsg=8

SmscEMAIL2SMS.FilterPluginList=MosFilter
SmscEMAIL2SMS.FilterPlugin.MosFilter.Enabled=true
SmscEMAIL2SMS.FilterPlugin.MosFilter.ClassName=it.cp.CPSMSPlugin.CPSMSMosFilterPlugin
SmscEMAIL2SMS.FilterPlugin.MosFilter.Trace=true
SmscEMAIL2SMS.FilterPlugin.MosFilter.ServiceDiscoveryURL=&ServiceDiscoveryURL
SmscEMAIL2SMS.FilterPlugin.MosFilter.MosURL=&MosURL
SmscEMAIL2SMS.FilterPlugin.MosFilter.MosParameterToCheck=smsServicesAllowed=yes


SmscEMAIL2SMS.FilterPlugin.CharEncMarker.Trace=false



Adm.SmscADPORTAL=SmscADPORTAL
Adm.SmscADPORTAL.Command=jre -mx1024m com.netcs.mobile.dispatcher.SmscDispatcher SmscADPORTAL
Adm.SmscADPORTAL.Needs=Backbone Log DbLayer
Adm.SmscADPORTAL.Disabled=false
Adm.SmscADPORTAL.RestartDelay=305000
SmscADPORTAL.KeepAliveTimer=30000
SmscADPORTAL.MqHost=&Host
SmscADPORTAL.MqRcvPassword=&Mq.RcvPassword
SmscADPORTAL.MqReceivePort=&Mq.MqReceivePort
SmscADPORTAL.MqSubPassword=&Mq.SubPassword
SmscADPORTAL.MqSubmitPort=&Mq.MqSubmitPort
SmscADPORTAL.DispatcherQueue=QUEUE_MT_ADPORTAL
SmscADPORTAL.SmscResponseTime=120000
SmscADPORTAL.MessageContextValidity=18000000
SmscADPORTAL.SmscTimeoutAlarmLimit=1
SmscADPORTAL.ReplyLookup=false
SmscADPORTAL.ReplyAddressStart=5417172600000
SmscADPORTAL.ReplyAddressEnd=5417172600999
SmscADPORTAL.SmscType=Smpp
SmscADPORTAL.ConnectionType=Tcp
SmscADPORTAL.SmscConfigName=Smpp

SmscADPORTAL.Smpp.SmscName=&SmscADPORTALName
SmscADPORTAL.Smpp.SmscPassword=&SmscADPORTALPwd
SmscADPORTAL.Smpp.SmscHost=&SmscADPORTALHost
SmscADPORTAL.Smpp.SmscPort=&SmscADPORTALPort

SmscADPORTAL.Smpp.DefaultOriginatorType=1
SmscADPORTAL.Smpp.DefaultOriginatorPlan=2
SmscADPORTAL.Smpp.DefaultOriginator=2090

SmscADPORTAL.Smpp.DefaultDestinationType=1
SmscADPORTAL.Smpp.DefaultDestinationPlan=1

SmscADPORTAL.Smpp.X25Address=
SmscADPORTAL.Smpp.SmscEsmClassMoMessage=
SmscADPORTAL.Smpp.SmscAddrRange=
SmscADPORTAL.Smpp.SmscInterfaceVersion=34
SmscADPORTAL.Smpp.SmscSystemType=
SmscADPORTAL.Smpp.SmscVersion=100
SmscADPORTAL.Smpp.ConnectionTimeout=150000
SmscADPORTAL.Smpp.WindowSize=10
SmscADPORTAL.Smpp.HexEncodingBinaryData=false
SmscADPORTAL.Trace=true
SmscADPORTAL.Smpp.Trace=true
SmscADPORTAL.Smpp.SmscTransPort.PortTrace=true
# MO/DR Tracing
#SmscADPORTAL.Smpp.SmscRecvPort.PortTrace=true
SmscADPORTAL.NetworkType=GSM
SmscADPORTAL.Smpp.SmscEsmClassDeliveryReceipt=4
SmscADPORTAL.Smpp.AppendNullByteToMessage=false
SmscADPORTAL.Smpp.SmscReferenceFormat=Hexadecimal
#SmscADPORTAL.Smpp.ForceDcsMT=8
SmscEMAIL2SMS.Smpp.EncodingMapping=UTF8:UnicodeBigUnmarked
#SmscADPORTAL.Smpp.CharConversion=com.netcs.runtime.CustomCharset
#SmscADPORTAL.Smpp.MappingFile=charmaps/GSM

SmscADPORTAL.MaxNumOfMsgsInConcatenatedMsg=4


################ MailISHAR to SMS
Adm.MailISHAR=MailISHAR
Adm.MailISHAR.AdmType=&Adm.AdmType
Adm.MailISHAR.Command= java com.netcs.mobile.smtp.SmtpModule MailISHAR
Adm.MailISHAR.Needs=Backbone Log DbLayer
Adm.MailISHAR.Type=Process

MailISHAR.MqHost=localhost
MailISHAR.MqReceivePort=&Mq.MqReceivePort
MailISHAR.MqSubmitPort=&Mq.MqSubmitPort
MailISHAR.MqRcvPassword=hello
MailISHAR.MqSubPassword=hello
MailISHAR.Name=MailISHAR

#SmtpServer / SmtpPort / MailDomain Dfined at the beginning

MailISHAR.SmtpQueue=MailISHAR
MailISHAR.SmtpServerPort=
MailISHAR.WindowSize=20

#MailISHAR.Trace=true
#MailISHAR.Services.Trace=true
#MailISHAR.Routing.Trace=true
################ MailISHAR to SMS

################ MailEMAIL2SMS to SMS
Adm.MailEMAIL2SMS=MailEMAIL2SMS
Adm.MailEMAIL2SMS.AdmType=&Adm.AdmType
Adm.MailEMAIL2SMS.Command= java com.netcs.mobile.smtp.SmtpModule MailEMAIL2SMS
Adm.MailEMAIL2SMS.Needs=Backbone Log DbLayer
Adm.MailEMAIL2SMS.Type=Process

MailEMAIL2SMS.MqHost=localhost
MailEMAIL2SMS.MqReceivePort=&Mq.MqReceivePort
MailEMAIL2SMS.MqSubmitPort=&Mq.MqSubmitPort
MailEMAIL2SMS.MqRcvPassword=hello
MailEMAIL2SMS.MqSubPassword=hello
MailEMAIL2SMS.Name=MailEMAIL2SMS

#SmtpServer / SmtpPort / MailDomain Dfined at the beginning

MailEMAIL2SMS.SmtpQueue=MailEMAIL2SMS
MailEMAIL2SMS.SmtpServerPort=
MailEMAIL2SMS.WindowSize=20

#MailEMAIL2SMS.Trace=true
#MailEMAIL2SMS.Services.Trace=true
#MailEMAIL2SMS.Routing.Trace=true
################ MailEMAIL2SMS to SMS

################ MailADPORTAL to SMS
Adm.MailADPORTAL=MailADPORTAL
Adm.MailADPORTAL.AdmType=&Adm.AdmType
Adm.MailADPORTAL.Command= java com.netcs.mobile.smtp.SmtpModule MailADPORTAL
Adm.MailADPORTAL.Needs=Backbone Log DbLayer
Adm.MailADPORTAL.Type=Process

MailADPORTAL.MqHost=localhost
MailADPORTAL.MqReceivePort=&Mq.MqReceivePort
MailADPORTAL.MqSubmitPort=&Mq.MqSubmitPort
MailADPORTAL.MqRcvPassword=hello
MailADPORTAL.MqSubPassword=hello
MailADPORTAL.Name=MailADPORTAL

# SmtpServer / SmtpPort / MailDomain Dfined at the beginning

MailADPORTAL.SmtpQueue=MailADPORTAL
MailADPORTAL.SmtpServerPort=
MailADPORTAL.WindowSize=20

#MailADPORTAL.Trace=true
#MailADPORTAL.Services.Trace=true
#MailADPORTAL.Routing.Trace=true
################ MailADPORTAL to SMS
