 #/usr/lib/systemd/system/smsgw.service

[Unit]
Description=SMS Gateway

[Service]
Type=oneshot
RemainAfterExit=yes
TimeoutStartSec=10
ExecStart={{smsgw_user[0].home}}/npm/start-nplex
ExecStop={{smsgw_user[0].home}}/npm/stop-nplex
User=owmsms
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
