{{ begin_mark }} {{ ansible_managed }}

{% for host in groups['all'] %}
{%   set id_cluster_name='' %}
{%   if host in groups['cassblobmss'] and host in groups[node_site] %}
{%     set id_cluster_name=hostvars[host]['blob_cluster_name'] %}
{%   endif %}
{%   if host in groups['cassmetamss'] and host in groups[node_site] %}
{%     set id_cluster_name=id_cluster_name+' '+hostvars[host]['meta_cluster_name'] %}
{%   endif %}
{%   if host in groups['qservicecass'] and host in groups[node_site] %}
{%     set id_cluster_name=id_cluster_name+' '+hostvars[host]['qservice_cluster_name'] %}
{%   endif %}
{%   if host in groups['pabcalcassmeta'] and host in groups[node_site] %}
{%     set id_cluster_name=id_cluster_name+' '+hostvars[host]['pim_cluster_name'] %}
{%   endif %}
{%   if host in groups['searchcass'] and host in groups[node_site] %}
{%     set id_cluster_name=id_cluster_name+' '+hostvars[host]['search_cluster_name'] %}
{%   endif %}
{%   if hostvars[host]['ethernet_interfaces'] is defined %}
{%     for interface in hostvars[host]['ethernet_interfaces'] %}
{%       if interface['vlan'] is defined %}
{%         if interface['vlan'] == 'admin' %}
{%           set name_suffix=admin_suffix %}
{%         elif interface['vlan'] == 'service' %}
{%           set name_suffix=service_suffix+" "+host+" "+id_cluster_name %}
{%           if host in groups['directory'] and hostvars[host]['primary'] is defined and hostvars[host]['primary'] == 'true' and inventory_hostname in groups['provisioner'] %}
# primary master pointer
{{ interface['address'] }}	primarymaster
{%           endif %}
{%         elif interface['vlan'] == 'access' %}
{%           set name_suffix=access_suffix %}
{%         elif interface['vlan'] == 'storage' %}
{%           set name_suffix=storage_suffix %}
{%         else %}
{%           set name_suffix='' %}
{%         endif %}
{{ interface['address'] }}	{{ host + name_suffix }}
{%       else %}
{{ interface['address'] }}	{{ host }} {{ id_cluster_name }}
{%       endif %}
{%     endfor %}
{%   elif hostvars[host]['ansible_ssh_host'] is defined %}
{{ hostvars[host]['ansible_ssh_host'] }}	{{ host }}
{%   endif %}
{%   if hostvars[host]['VIP'] is defined %}
{%     if hostvars[host]['clusterId'] is defined and host in groups[node_site] and hostvars[host]['clusterId'] in clusters %}
{{ hostvars[host]['VIP'] }}	{{ hostvars[host]['clusterId'] + '-VIP' }} {{ hostvars[host]['clusterId'] }}
{%     else %}
{{ hostvars[host]['VIP'] }}	{{ host + '-VIP' }}
{%     endif %}
{%   endif %}
{% endfor %}
{% if inventory_hostname in groups['uxsuite'] %}
# haproxy hosts
{% if pabclusters is defined %}
127.0.0.1 {{pabclusters|join(' ')}}
{% endif %}
{% if calclusters is defined %}
127.0.0.1 {{calclusters|join(' ')}}
{% endif %}
{% endif %}
{% for centry in hosts_custom_entries|default([]) %}
{{centry.IP}} {{centry.entry}}
{% endfor %}
{{ end_mark }}
