## LDIF file to initialize DAC objects on SUR
## run after setting up initial dit (init_dit.ldif) and initial allocation rules (init_allocations.ldif)
## before any provisioning
## Must be run as root DN

##su - account used to install MX
#su - imail
#
## Initialize SUR with allocation counter feature
#ldapmodify -v -h 172.26.202.12 -p 6006 -D cn=root -w secret -f init_allocations.ldif
#
## Add a special user as the FIRST superadmin
#imldapsh -v -H <host> -P <port> -D cn=root -W <password> ca <adminName> <delivertHost> <internalId> <popAddress(adminName@domain)> <admin password> -convert <hashSchema to encrypt password> <domain> <status> <type> <cos>
#Example: 
#imldapsh -v -H 172.26.202.12 -P 6006 -D cn=root -W secret ca superadmin clusterx 12345 superadmin@owmessaging.com password -convert ssha1 owmessaging.com A S default
#
## Initialize SUR for PSS/DAC
#ldapmodify -v -h 172.26.202.12 -p 6006 -D cn=root -w secret -f init_DAC.ldif

# branch to store all realms object
dn: ou=realms,cn=admin root
changetype: add
objectclass: top
objectclass: organizationalUnit
ou: realms

# branch to store all roles
dn: ou=pssRoles,cn=admin root
changetype: add
objectclass: top
objectclass: organizationalUnit
ou: pssRoles

#add system administrator (choose one of existent users and replace)
{% set vals=domain_name.split('.') %}
dn: mail=superadmin@{{domain_name}},dc={{ vals | join (',dc=') }}
changetype: modify
add: objectclass
objectclass: adminUserPrefs
-
add: description
description: ProfileSuperuser



