#!/bin/bash

LDAP_PORT_IMDIRSERV=$(runuser -l imail -c 'imconfget -localconfig -d 6006 -m imdirserv ldapPort')
LDAP_MASTER_HOST=$(runuser -l imail -c 'imconfget -localconfig -d {{inventory_hostname}} -m common ldapmasterhosts')
LDAP_ROOT_PWD=$(runuser -l imail -c 'imconfget -localconfig -d secret -m common ldapRootPwd')
MXOS_LOCAL_PORT=$(runuser -l imail -c 'imconfget -localconfig -d 8081 -m mxos eureka.port')

if [ ! -f "{{emailmx_user[0].home}}/.update-schema.done" ]; then

  echo "init_allocations..."
  runuser -l  {{emailmx_user[0].username}} -c "ldapmodify -v -h ${LDAP_MASTER_HOST} -p ${LDAP_PORT_IMDIRSERV} -D cn=root -w ${LDAP_ROOT_PWD} -f /tmp/init_allocations.ldif"

  echo "create superadmin..."
  # work-around since imldapsh doesn't work anymore...
{% if provisioner_is_am_enabled == true %}
  runuser -l  {{emailmx_user[0].username}} -c 'imldapsh -D cn=root -W secret ca superadmin {{clusters[0]}} {{ 999999999 | random }} superadmin@{{domain_name}} password -convert ssha1 {{domain_name}} A S default'
  # curl -X PUT http://localhost:${MXOS_LOCAL_PORT}/mxos/mailbox/v2/superadmin@{{domain_name}} -d 'password=password&cosId=default'
{% else %}
  runuser -l  {{emailmx_user[0].username}} -c 'imldapsh -D cn=root -W secret ca superadmin {{clusters[0]}}-VIP {{ 999999999 | random }} superadmin@{{domain_name}} password -convert ssha1 {{domain_name}} A S default'
  # curl -X PUT http://localhost:${MXOS_LOCAL_PORT}/mxos/mailbox/v2/superadmin@{{domain_name}} -d 'password=password&cosId=default'
{% endif %}

  echo "init_DAC..."
  runuser -l  {{emailmx_user[0].username}} -c "ldapmodify -v -h ${LDAP_MASTER_HOST} -p ${LDAP_PORT_IMDIRSERV} -D cn=root -w ${LDAP_ROOT_PWD} -f /tmp/init_DAC.ldif"

{% if provisioner_custom_schema_attributes is defined %}

  echo "{{provisioner_custom_schema_attributes}}..."
  runuser -l  {{emailmx_user[0].username}} -c "ldapmodify -v -h ${LDAP_MASTER_HOST} -p ${LDAP_PORT_IMDIRSERV} -D cn=root -w ${LDAP_ROOT_PWD} -f /tmp/{{provisioner_custom_schema_attributes}}"

{% endif %}
{% if provisioner_custom_schema_objectclasses is defined %}

  echo "{{provisioner_custom_schema_objectclasses}}..."
  runuser -l  {{emailmx_user[0].username}} -c "ldapmodify -v -h ${LDAP_MASTER_HOST} -p ${LDAP_PORT_IMDIRSERV} -D cn=root -w ${LDAP_ROOT_PWD} -f /tmp/{{provisioner_custom_schema_objectclasses}}"

{% endif %}

  echo "Updating schema for hugemail and cryptomail..."
{% if fix_hugemail_cryptomail|default(false) == True %}
  runuser -l  {{emailmx_user[0].username}} -c "ldapmodify -v -h ${LDAP_MASTER_HOST} -p ${LDAP_PORT_IMDIRSERV} -D cn=root -w ${LDAP_ROOT_PWD} -f /tmp/add_attributes-hugemail-cryptomail.ldif"
  runuser -l  {{emailmx_user[0].username}} -c "ldapmodify -v -h ${LDAP_MASTER_HOST} -p ${LDAP_PORT_IMDIRSERV} -D cn=root -w ${LDAP_ROOT_PWD} -f /tmp/modify_objectclass-hugemail-cryptomail.ldif"
{% endif %}

  if [ $? == 0 ]; then

      date > {{emailmx_user[0].home}}/.update-schema.done
      echo "DO NOT REMOVE THIS FILE" >> {{emailmx_user[0].home}}/.update-schema.done

    fi

else

echo "schema already updated"

fi
