# Notes:   For the IP address of the defaultZone, we first look into the
#        file host_vars/'host name' under the "service" vlan;
#
#          If "ethernet_interfaces" is not defined, we will use the
#        ansible_ssh_host in the inventory file
---
server:
  port: {{eureka_port}}

eureka:
  datacenter: {{node_site}}
  environment: {{eureka_environment}}
  client:
    registerWithEureka: false
    fetchRegistry: true
    serviceUrl:
      defaultZone:
        {% set comma = joiner(",") %}
        {% for host in groups[node_site + "-directory"] -%}
          {% if hostvars[host]['ethernet_interfaces'] is defined -%}
            {% for interface in hostvars[host]['ethernet_interfaces'] -%}
              {% if interface['vlan'] is defined and interface['vlan'] == 'service' -%}
                 {{ comma() }}http://{{ interface['address'] }}:{{eureka_port}}/eureka/
              {%- endif %}
            {%- endfor %}
          {%- else -%}
                 {{ comma() }}http://{{ host + service_suffix }}:{{eureka_port}}/eureka/
          {%- endif %}
        {%- endfor %}

  server:
    waitTimeInMsWhenSyncEmpty: 0
    enableSelfPreservation: false

