# /etc/systemd/system/service-discovery.service

[Unit]
Description=OWM Service Discovery
After=network.target remote-fs.target nss-lookup.target auditd.service sshd.service 

[Service]
User={{owm_user[0].username}}
Group={{owm_user[0].username}}
PermissionsStartOnly=true
ExecStartPre=/bin/mkdir -p /var/log/service-discovery/
ExecStartPre=/bin/chown -R {{owm_user[0].username}}:{{owm_user[0].username}} /var/log/service-discovery/
ExecStart={{owm_user[0].home}}/service-discovery/service-discovery.jar
SuccessExitStatus=143

[Install]
WantedBy=multi-user.target