# {{ ansible_managed }}

define command{
        command_name    submit_check_result
        command_line    $USER1$/eventhandlers/submit_check_result.sh $HOSTNAME$ '$SERVICEDESC$' $SERVICESTATE$ '$SERVICEOUTPUT$'
}
