{{ ansible_snmp_begin_mark }} {{ ansible_managed }}
######################################################################

rocommunity {{ razorgate_snmp_read_community }}
rwcommunity {{ razorgate_snmp_write_community }}
mira_root_paths {{ razorgate_mira_root_paths }}
dlmod razorgate {{ razorgate_basepath }}/{{ razorgate_snmp_lib_path }}

######################################################################
{{ ansible_snmp_end_mark }}