# {{ ansible_managed }}
global
    chroot /var/lib/haproxy
    maxconn 8192
    user haproxy
    group haproxy
    daemon
    log /dev/log local0
    log /dev/log local1 notice
    stats socket 127.0.0.1:14567

defaults
    mode http
    log /dev/log local1 notice

    timeout connect 5000ms
    timeout client 50000ms
    timeout server 50000ms
    option redispatch
    option tcplog
    option dontlognull

{% if smtp_haproxy == 'true' %}
frontend fe-smtp 127.0.0.1:10025
    mode tcp
    default_backend be-smtp

{% endif %}
{% if elk_haproxy == 'true' %}
frontend fe-elk 127.0.0.1:19200
    mode http
    default_backend be-elk
    
{% endif %}
{% if mxos_haproxy == 'true' %}
frontend fe-mxos 127.0.0.1:18081
    mode http
    default_backend be-mxos
    
{% endif %}
{% if pabcal_haproxy == 'true' %}
frontend fe-pabd 127.0.0.1:9090
    mode http
    default_backend be-pabd

{% endif %}
{% if smtp_haproxy == 'true' %}
backend be-smtp
{% if groups[node_site+'-smtpout'] is defined %}
{% for host in groups[node_site+'-smtpout'] %}
    server {{ host }} {{ host }}:25 check inter 12000 rise 3 fall 3
{% endfor %}
{% elif groups[node_site+'-fep'] is defined %}
{% for host in groups[node_site+'-fep'] %}
    server {{ host }} {{ host }}:25 check inter 12000 rise 3 fall 3
{% endfor %}
{% endif %}
    balance roundrobin
    mode tcp
    option smtpchk

{% endif %}
{% if  elk_haproxy == 'true' %}
backend be-elk
{% if groups[node_site+'-elk'] is defined %}
{% for host in groups[node_site+'-elk'] %}
    server {{ host }} {{ host }}:{{elasticsearch_http_port|default(9200)}} check inter 12000 rise 3 fall 3
{% endfor %}
{% endif %}
    balance first
    mode http
    option httpclose
    
{% endif %}
{% if mxos_haproxy == 'true' %}
backend be-mxos
{% if groups[node_site+'-queue'] is defined and groups[node_site+'-mos'] is defined %}
{% for host in groups[node_site+'-queue'] | union ( groups[node_site+'-mos'] ) %}
    server {{ host }} {{ host }}:{{mxos_http_port|default(8081)}} check inter 12000 rise 3 fall 3
{% endfor %}
{% elif groups[node_site+'-queue'] is defined %}
{% for host in groups[node_site+'-queue'] %}
    server {{ host }} {{ host }}:{{mxos_http_port|default(8081)}} check inter 12000 rise 3 fall 3
{% endfor %}
{% elif groups[node_site+'-mos'] is defined %}
{% for host in groups[node_site+'-mos'] %}
    server {{ host }} {{ host }}:{{mxos_http_port|default(8081)}} check inter 12000 rise 3 fall 3
{% endfor %}
{% endif %}
    balance roundrobin
    mode http
    option httpclose
    
{% endif %}
{% if pabcal_haproxy == 'true' %}
backend be-pabd
{% if groups[node_site+'-pabcal'] is defined %}
{% for host in groups[node_site+'-pabcal'] %}
    server {{ host }}-pabd {{ host }}:{{pabd_http_port|default(9090)}} check inter 12000 rise 3 fall 3
{% endfor %}
{% endif %}
    balance roundrobin
    mode http
    option httpclose
    
{% endif %}