# {{ ansible_managed }}
global
    chroot /var/lib/haproxy
    maxconn 8192
    user haproxy
    group haproxy
    daemon
    log /dev/log local0
    log /dev/log local1 notice
    stats socket 127.0.0.1:14567

defaults
    mode http
    log /dev/log local1 notice

    timeout connect 5000ms
    timeout client 50000ms
    timeout server 50000ms
    option redispatch
    option tcplog
    option dontlognull

frontend fe-provisioner 127.0.0.1:{{provisioner_http_port|default(18680)}}
    mode http
    default_backend be-provisioner

backend be-provisioner
{% if groups[node_site+'-provisioner'] is defined %}
{% for host in groups[node_site+'-provisioner'] %}
    server {{ host }} {{ host }}:{{provisioner_http_port|default(18680)}} check inter 12000 rise 3 fall 3
{% endfor %}
{% endif %}
    balance first
    mode http
    option httpclose
