# {{ ansible_managed }}
global
    chroot /var/lib/haproxy
    maxconn 8192
    user haproxy
    group haproxy
    daemon
    log /dev/log local0
    log /dev/log local1 notice
    stats socket 127.0.0.1:14567
    
defaults
    mode http
    log /dev/log local1 notice

    timeout connect 5000ms
    timeout client 50000ms
    timeout server 50000ms
    option redispatch
    option tcplog
    option dontlognull

frontend fe-elk 127.0.0.1:19200
    mode http
    default_backend be-elk
frontend fe-smtp 127.0.0.1:10025
    mode tcp
    default_backend be-smtp
backend be-smtp
{% if groups[node_site+'-smtpout'] is defined and groups[node_site+'-smtpout']|length > 0 %}
{% for host in groups[node_site+'-smtpout'] %}
    server {{ host }} {{ host }}:25 check inter 12000 rise 3 fall 3
{% endfor %}
{% endif %}
    balance roundrobin
    mode tcp
    option smtpchk    
backend be-elk
{% if groups[node_site+'-elk'] is defined %}
{% for host in groups[node_site+'-elk'] %}
    server {{ host }} {{ host }}:{{elasticsearch_http_port|default(9200)}} check inter 12000 rise 3 fall 3
{% endfor %}
{% endif %}
    balance first
    mode http
    option httpclose
