# {{ ansible_managed }}
global
    chroot /var/lib/haproxy
    maxconn 8192
    user haproxy
    group haproxy
    daemon
    log /dev/log local0
    log /dev/log local1 notice
    stats socket 127.0.0.1:14567
    
defaults
    mode http
    log /dev/log local1 notice

    timeout connect 5000ms
    timeout client 50000ms
    timeout server 50000ms
    option redispatch
    option tcplog
    option dontlognull

frontend fe-smtp 127.0.0.1:10025
    mode tcp
    default_backend be-smtp

backend be-smtp
{% if groups[node_site+'-smtpout'] is defined %}
{% for host in groups[node_site+'-smtpout'] %}
    server {{ host }} {{ host }}:25 check inter 12000 rise 3 fall 3
{% endfor %}
{% elif groups[node_site+'-fep'] is defined %}
{% for host in groups[node_site+'-fep'] %}
    server {{ host }} {{ host }}:25 check inter 12000 rise 3 fall 3
{% endfor %}
{% endif %}
    balance roundrobin
    mode tcp
    option smtpchk
