# {{ ansible_managed }}
global
    chroot /var/lib/haproxy
    maxconn 8192
    user haproxy
    group haproxy
    daemon
    log /dev/log local0
    log /dev/log local1 notice
    stats socket 127.0.0.1:14567

defaults
    mode http
    log /dev/log local1 notice

    timeout connect 5000ms
    timeout client 50000ms
    timeout server 50000ms
    option redispatch
    option tcplog
    option dontlognull

frontend fe-mxos 127.0.0.1:{{provisioner_mxos_port|default(18081)}}
    mode http
    default_backend be-mxos
{% if inventory_hostname not in groups['pabcal'] %}
frontend fe-pabd 127.0.0.1:{{provisioner_cab_port|default(9090)}}
    mode http
    default_backend be-pabd
{% endif %}
{% if inventory_hostname not in groups['directory']|union(groups['secondarydirectory']) %}
frontend fe-dirmaster 127.0.0.1:{{provisioner_sur_master_port|default(6006)}}
    mode tcp
    default_backend be-dirmaster
frontend fe-imap 127.0.0.1:{{provisioner_imap_port|default(143)}}
    mode tcp
    default_backend be-imap
{% endif %}

backend be-mxos
{% if groups[node_site+'-provisioner'] is defined and groups[node_site+'-provisioner']|intersect(groups[node_site+'-mos'])|length>0 %}
{% for host in groups[node_site+'-provisioner']|intersect(groups[node_site+'-mos']) %}
    server {{ host }} {{ host }}:{{mxos_http_port|default(8081)}} check inter 12000 rise 3 fall 3
{% endfor %}
{% elif groups[node_site+'-queue'] is defined and groups[node_site+'-mos'] is defined %}
{% for host in groups[node_site+'-queue'] | union ( groups[node_site+'-mos'] ) %}
    server {{ host }} {{ host }}:{{mxos_http_port|default(8081)}} check inter 12000 rise 3 fall 3
{% endfor %}
{% elif groups[node_site+'-queue'] is defined %}
{% for host in groups[node_site+'-queue'] %}
    server {{ host }} {{ host }}:{{mxos_http_port|default(8081)}} check inter 12000 rise 3 fall 3
{% endfor %}
{% elif groups[node_site+'-mos'] is defined %}
{% for host in groups[node_site+'-mos'] %}
    server {{ host }} {{ host }}:{{mxos_http_port|default(8081)}} check inter 12000 rise 3 fall 3
{% endfor %}
{% endif %}
    balance first
    mode http
    option httpclose
{% if inventory_hostname not in groups['pabcal'] %}
backend be-pabd
{% if groups[node_site+'-pabcal'] is defined %}
{% for host in groups[node_site+'-pabcal'] %}
    server {{ host }}-pabd {{ host }}:{{pabd_http_port|default(9090)}} check inter 12000 rise 3 fall 3
{% endfor %}
{% endif %}
    balance first
    mode http
    option httpclose
{% endif %}
{% if inventory_hostname not in groups['directory']|union(groups['secondarydirectory']) %}
backend be-dirmaster
    server primarymaster primarymaster:{{ldap_master_port|default(6006)}} check inter 12000 rise 3 fall 3
    balance first
    mode tcp
backend be-imap
{% if groups[node_site+'-fep'] is defined %}
{% for host in groups[node_site+'-fep'] %}
    server {{ host }}-imap {{ host }}:{{imap_port|default(143)}} check inter 12000 rise 3 fall 3
{% endfor %}
{% endif %}
    balance first
    mode tcp
{% endif %}
