# {{ ansible_managed }}
global
    chroot /var/lib/haproxy
    maxconn 8192
    user haproxy
    group haproxy
    daemon
    log /dev/log local0
    log /dev/log local1 notice
    stats socket 127.0.0.1:14567

defaults
    mode http
    log /dev/log local1 notice

    timeout connect 5000ms
    timeout client 50000ms
    timeout server 50000ms
    option redispatch
    option tcplog
    option dontlognull

frontend fe-smtp 127.0.0.1:10025
    mode tcp
    default_backend be-smtp

frontend fe-mxos 127.0.0.1:8081
    mode http
    default_backend be-mxos
    
frontend fe-pabd 127.0.0.1:9090
    mode http
    default_backend be-pabd

backend be-smtp
{% if groups[node_site+'-smtpin'] is defined %}
{% for host in groups[node_site+'-smtpin'] %}
    server {{ host }} {{ host }}:25 check inter 12000 rise 3 fall 3
{% endfor %}
{% elif groups[node_site+'-fep'] is defined %}
{% for host in groups[node_site+'-fep'] %}
    server {{ host }} {{ host }}:25 check inter 12000 rise 3 fall 3
{% endfor %}
{% endif %}
    balance roundrobin
    mode tcp
    option smtpchk

    
backend be-mxos
{% if groups[node_site+'-queue'] is defined and groups[node_site+'-mos'] is defined %}
{% for host in groups[node_site+'-queue'] | union ( groups[node_site+'-mos'] ) %}
    server {{ host }} {{ host }}:{{mxos_http_port|default(8081)}} check inter 12000 rise 3 fall 3
{% endfor %}
{% elif groups[node_site+'-queue'] is defined %}
{% for host in groups[node_site+'-queue'] %}
    server {{ host }} {{ host }}:{{mxos_http_port|default(8081)}} check inter 12000 rise 3 fall 3
{% endfor %}
{% elif groups[node_site+'-mos'] is defined %}
{% for host in groups[node_site+'-mos'] %}
    server {{ host }} {{ host }}:{{mxos_http_port|default(8081)}} check inter 12000 rise 3 fall 3
{% endfor %}
{% endif %}
    balance roundrobin
    mode http
    option httpclose
    
backend be-pabd
{% if groups[node_site+'-pabcal'] is defined %}
{% for host in groups[node_site+'-pabcal'] %}
    server {{ host }}-pabd {{ host }}:{{pabd_http_port|default(9090)}} check inter 12000 rise 3 fall 3
{% endfor %}
{% endif %}
    balance roundrobin
    mode http
    option httpclose
    
