# {{ ansible_managed }}
global
    chroot /var/lib/haproxy
    maxconn 8192
    user haproxy
    group haproxy
    daemon
    log /dev/log local0
    log /dev/log local1 notice
    stats socket 127.0.0.1:14567

defaults
    mode http
    log /dev/log local1 notice

    timeout connect 5000ms
    timeout client 50000ms
    timeout server 50000ms
    option redispatch
    option tcplog
    option dontlognull

frontend fe-mxos 127.0.0.1:18081
    mode http
    default_backend be-mxos
frontend fe-smtp 127.0.0.1:10025
    mode tcp
    default_backend be-smtp
frontend fe-imap 127.0.0.1:10143
    mode tcp
    default_backend be-imap
{% if ( service_discovery_enabled == 'false' or ( dav_on_haproxy is defined and dav_on_haproxy == 'true' ) ) and groups[node_site+'-pabcal'] is defined %}
frontend fe-caldav 127.0.0.1:{{capd_http_port|default(5229)}}
    mode http
    default_backend be-caldav
frontend fe-carddav 127.0.0.1:{{pabd_http_port|default(9090)}}
    mode http
    default_backend be-carddav
{% if dav_on_https is defined and dav_on_https == 'true' %}
frontend fe-caldav-ssl 127.0.0.1:{{capd_https_port|default(5232)}}
    mode tcp
    default_backend be-caldav-ssl
frontend fe-carddav-ssl 127.0.0.1:{{pabd_https_port|default(9092)}}
    mode tcp
    default_backend be-carddav-ssl
{% endif %}
{% endif %}
{% if groups[node_site+'-hugemail'] is defined and groups[node_site+'-hugemail']|length>0 %}
frontend fe-hgm 127.0.0.1:18082
    mode http
    default_backend be-hgm
{% endif %}

backend be-mxos
{% if groups[node_site+'-queue'] is defined and groups[node_site+'-mos'] is defined and groups[node_site+'-provisioner'] is defined %}
{% if haproxy_skip_mos_provisioner == 'true' %}
{% for host in groups[node_site+'-queue'] | union ( groups[node_site+'-mos'] ) | difference ( groups[node_site+'-provisioner'] ) %}
    server {{ host }} {{ host }}:{{mxos_http_port|default(8081)}} check inter 12000 rise 3 fall 3
{% endfor %}
{% else %}
{% for host in groups[node_site+'-queue'] | union ( groups[node_site+'-mos'] ) %}
    server {{ host }} {{ host }}:{{mxos_http_port|default(8081)}} check inter 12000 rise 3 fall 3
{% endfor %}
{% endif %}
{% elif groups[node_site+'-queue'] is defined and groups[node_site+'-mos'] is defined %}
{% for host in groups[node_site+'-queue'] | union ( groups[node_site+'-mos'] ) %}
    server {{ host }} {{ host }}:{{mxos_http_port|default(8081)}} check inter 12000 rise 3 fall 3
{% endfor %}
{% elif groups[node_site+'-queue'] is defined %}
{% for host in groups[node_site+'-queue'] %}
    server {{ host }} {{ host }}:{{mxos_http_port|default(8081)}} check inter 12000 rise 3 fall 3
{% endfor %}
{% elif groups[node_site+'-mos'] is defined %}
{% for host in groups[node_site+'-mos'] %}
    server {{ host }} {{ host }}:{{mxos_http_port|default(8081)}} check inter 12000 rise 3 fall 3
{% endfor %}
{% endif %}
    balance roundrobin
    mode http
    option httpclose
backend be-smtp
{% if groups[node_site+'-smtpout'] is defined and groups[node_site+'-smtpout']|length > 0 %}
{% for host in groups[node_site+'-smtpout'] %}
    server {{ host }} {{ host }}:{{smtp_port|default(25)}} check inter 12000 rise 3 fall 3
{% endfor %}
{% endif %}
    balance roundrobin
    mode tcp
    option smtpchk
backend be-imap
{% if groups[node_site+'-fep'] is defined %}
{% for host in groups[node_site+'-fep'] %}
    server {{ host }} {{ host }}:{{imap_port|default(143)}} check inter 12000 rise 3 fall 3
{% endfor %}
{% endif %}
    balance roundrobin
    mode tcp
{% if ( service_discovery_enabled == 'false' or ( dav_on_haproxy is defined and dav_on_haproxy == 'true' ) ) and groups[node_site+'-pabcal'] is defined %}
backend be-caldav
     balance roundrobin
     mode http
     option httpclose
{% if pabcal_proxy_enabled == 'true' %}
{% for host in groups[node_site+'-fep'] %}
     server {{host}}-capd {{host}}:{{capd_http_port|default(5229)}} check inter 12000 rise 3 fall 3
{% endfor %}
{% else %}
{% for host in groups[node_site+'-pabcal'] %}
     server {{host}}-capd {{host}}:{{capd_http_port|default(5229)}} check inter 12000 rise 3 fall 3
{% endfor %}
{% endif %}
{% if dav_on_https is defined and dav_on_https == 'true' %}
backend be-caldav-ssl
     balance roundrobin
     mode tcp
     option ssl-hello-chk
{% if pabcal_proxy_enabled == 'true' %}
{% for host in groups[node_site+'-fep'] %}
     server {{host}}-capd-ssl {{host}}:{{capd_https_port|default(5232)}} check inter 12000 rise 3 fall 3
{% endfor %}
{% else %}
{% for host in groups[node_site+'-pabcal'] %}
     server {{host}}-capd-ssl {{host}}:{{capd_https_port|default(5232)}} check inter 12000 rise 3 fall 3
{% endfor %}
{% endif %}
{% endif %}
{% endif %}
{% if ( service_discovery_enabled == 'false' or ( dav_on_haproxy is defined and dav_on_haproxy == 'true' ) ) and groups[node_site+'-pabcal'] is defined %}
backend be-carddav
     balance roundrobin
     mode http
     option httpclose
{% if pabcal_proxy_enabled == 'true' %}
{% for host in groups[node_site+'-fep'] %}
     server {{host}}-pabd {{host}}:{{pabd_http_port|default(9090)}} check inter 12000 rise 3 fall 3
{% endfor %}
{% else %}
{% for host in groups[node_site+'-pabcal'] %}
     server {{host}}-pabd {{host}}:{{pabd_http_port|default(9090)}} check inter 12000 rise 3 fall 3
{% endfor %}
{% endif %}
{% if dav_on_https is defined and dav_on_https == 'true' %}
backend be-carddav-ssl
     balance roundrobin
     mode tcp
     option ssl-hello-chk
{% if pabcal_proxy_enabled == 'true' %}
{% for host in groups[node_site+'-fep'] %}
     server {{host}}-pabd-ssl {{host}}:{{pabd_https_port|default(9092)}} check inter 12000 rise 3 fall 3
{% endfor %}
{% else %}
{% for host in groups[node_site+'-pabcal'] %}
     server {{host}}-pabd-ssl {{host}}:{{pabd_https_port|default(9092)}} check inter 12000 rise 3 fall 3
{% endfor %}
{% endif %}
{% endif %}
{% endif %}
{% if groups[node_site+'-hugemail'] is defined and groups[node_site+'-hugemail']|length>0 %}
backend be-hgm
    balance roundrobin
    mode http
    option httpclose
{% for host in groups[node_site+'-hugemail'] %}
    server {{host}}-hgm {{host}}:{{hugemail_http_port|default(8080)}} check inter 12000 rise 3 fall 3
{% endfor %}
{% endif %}
