# /usr/lib/systemd/system/cassmeta.service
# TODO: invoke nodetool drain before stop/restart

[Unit]
Description=Cassandra Metadata
After=network.target remote-fs.target nss-lookup.target auditd.service sshd.service

[Service]
PIDFile=/var/run/cassandra-meta-{{cass_user[0].username}}/cassandra.pid
User={{cass_user[0].username}}
Group={{cass_user[0].username}}
PermissionsStartOnly=true
ExecStartPre=/bin/mkdir -p /var/run/cassandra-meta-{{cass_user[0].username}}/
ExecStartPre=/bin/chown -R {{cass_user[0].username}}:{{cass_user[0].username}} /var/run/cassandra-meta-{{cass_user[0].username}}/
ExecStart={{cass_user[0].home}}/cassandra-meta/cassandra/bin/cassandra {% if cassandra_meta_metrics_enabled == 'true' %}-Dcassandra.metricsReporterConfigFile=metrics-graphite-config.yaml{% endif %} -f -p /var/run/cassandra-meta-{{cass_user[0].username}}/cassandra.pid
StandardOutput=journal
StandardError=journal
LimitNOFILE=524288
LimitMEMLOCK=infinity
LimitNPROC=65536
LimitAS=infinity
Restart=always
SuccessExitStatus=143

[Install]
WantedBy=multi-user.target
