# Licensed to the Apache Software Foundation (ASF) under one
# or more contributor license agreements.  See the NOTICE file
# distributed with this work for additional information
# regarding copyright ownership.  The ASF licenses this file
# to you under the Apache License, Version 2.0 (the
# "License"); you may not use this file except in compliance
# with the License.  You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

# Cassandra Node IP=Data Center:Rack

{% for site in sites %}
{% if clusterId is defined %}
{% for host in groups[site + '-' + group_id]|intersect(groups[clusterId]) %}
{{ host + storage_suffix }}={{site}}:RAC{{ loop.index }}
{% endfor %}
{% else %}
{% for host in groups[site + "-" + group_id] %}
{{ host + storage_suffix }}={{site}}:RAC{{ loop.index }}
{% endfor %}
{% endif %}
{% endfor %}

default=UNKNOWN:UNCONFIGURED

#192.168.1.100=DC1:RAC1
#192.168.2.200=DC2:RAC2

#10.0.0.10=DC1:RAC1
#10.0.0.11=DC1:RAC1
#10.0.0.12=DC1:RAC2

#10.20.114.10=DC2:RAC1
#10.20.114.11=DC2:RAC1

#10.21.119.13=DC3:RAC1
#10.21.119.10=DC3:RAC1

#10.0.0.13=DC1:RAC2
#10.21.119.14=DC3:RAC2
#10.20.114.15=DC2:RAC2

# default for unknown nodes
#default=DC1:r1

# Native IPv6 is supported, however you must escape the colon in the IPv6 Address
# Also be sure to comment out JVM_OPTS="$JVM_OPTS -Djava.net.preferIPv4Stack=true"
# in cassandra-env.sh
#fe80\:0\:0\:0\:202\:b3ff\:fe1e\:8329=DC1:RAC3
