#!/bin/bash

LOGFILE="{{cass_user[0].home}}/cassandra-meta/log/cassmeta_maintenance.$(hostname).$(date +%Y%m%d%H%M%S).out"

{{cass_user[0].home}}/cassandra-meta/cassandra/bin/nodetool -h 127.0.0.1 -p {{cassandra_jmx_port|default(7299)}} repair -pr -full 1>>$LOGFILE 2>>$LOGFILE
{{cass_user[0].home}}/cassandra-meta/cassandra/bin/nodetool -h 127.0.0.1 -p {{cassandra_jmx_port|default(7299)}} compact 1>>$LOGFILE 2>>$LOGFILE
{{cass_user[0].home}}/cassandra-meta/cassandra/bin/nodetool -h 127.0.0.1 -p {{cassandra_jmx_port|default(7299)}} cleanup 1>>$LOGFILE 2>>$LOGFILE
