// Keyspace for Hugemail 

CREATE KEYSPACE IF NOT EXISTS hugemail
  WITH REPLICATION = {
     'class' : '{{ hugemail_replication_strategy }}',
{% if hugemail_replication_strategy == "SimpleStrategy" -%}
     'replication_factor': {{ hugemail_replication_factor }}
{% elif hugemail_replication_strategy == "NetworkTopologyStrategy" %}
{% set comma = joiner(",") %}
{% for site in sites -%}
      {{ comma() }}'{{ site }}' : '{{ hugemail_replication_factor }}'
{%- endfor %}
{%- endif %}
    }
  AND DURABLE_WRITES = true;
