# For details see:
# * http://wiki.apache.org/cassandra/Metrics
# * https://github.com/addthis/metrics-reporter-config

# This is an example file for configuring which metrics should go
# where.  The sample sends everything to a flat file for humans to
# poke at.  metrics-ganglia or metrics-graphite are more likely to
# operationally useful.

# Some metrics are global for a node (KeyCache capacity) while others
# are broken down by column family or even IP.  The sample list
# includes all of the global metrics via a while list.  To include
# metrics for the system column family for example add
# "^org.apache.cassandra.metrics.ColumnFamily.system.+".


# Start Cassandra with
# -Dcassandra.metricsReporterConfigFile=metrics-reporter-config.yaml
# for this file to be used.  If you are using metrics-ganglia,
# metrics-graphite, or a custom reporter you will also have to add those
# jars to the lib directory.  Nothing in this file can affect
# jmx metrics.

graphite:
  -
    period: {{cassandra_graphite_metrics_period|default(60)}}
    timeunit: 'SECONDS'
    hosts:
{% for host in groups[node_site+'-elk'] %}
     - host: '{{host+admin_suffix}}'
       port: 2003
{% endfor %}
    prefix: "{{cassandra_rack}}__{{cass_user[0].username}}__{{inventory_hostname}}__{{keyspace_type}}__meta__"
    predicate:
      color: "white"
      useQualifiedName: true
      patterns:
        - '^org.apache.cassandra.metrics.ClientRequest.Write.Latency.*'
        - '^org.apache.cassandra.metrics.ClientRequest.Latency.Write.*'
        - '^org.apache.cassandra.metrics.ClientRequest.Read.Latency.*'
        - '^org.apache.cassandra.metrics.ClientRequest.Latency.Read.*'
        - '^org.apache.cassandra.metrics.ClientRequest.Write.TotalLatency.*'
        - '^org.apache.cassandra.metrics.ClientRequest.TotalLatency.Write.*'
        - '^org.apache.cassandra.metrics.ClientRequest.Read.TotalLatency.*'
        - '^org.apache.cassandra.metrics.ClientRequest.TotalLatency.Read.*'
        - '^org.apache.cassandra.metrics.*Storage.*'
        - '^org.apache.cassandra.metrics.Compaction.PendingTasks.*'
        - '^org.apache.cassandra.metrics.Compaction.CompletedTasks.*'
        - '^java.lang.+'
        - '^org.apache.cassandra.metrics.ClientRequest.Write.Timeouts.*'
        - '^org.apache.cassandra.metrics.ClientRequest.Timeouts.Write.*'
        - '^org.apache.cassandra.metrics.ClientRequest.Read.Timeouts.*'
        - '^org.apache.cassandra.metrics.ClientRequest.Timeouts.Read.*'
        - '^org.apache.cassandra.metrics.ClientRequest.Write.Unavailables.*'
        - '^org.apache.cassandra.metrics.ClientRequest.Unavailables.Write.*'
        - '^org.apache.cassandra.metrics.ClientRequest.Read.Unavailables.*'
        - '^org.apache.cassandra.metrics.ClientRequest.Unavailables.Read.*'
        - '^org.apache.cassandra.metrics.Cache.KeyCache.Hits.*'
        - '^org.apache.cassandra.metrics.Cache.Hits.KeyCache.*'
        - '.*CounterMutationStage.*'
        - '.*MutationStage.*'
        - '.*ReadRepairStage.*'
        - '.*ReadStage.*'
        - '.*RequestResponseStage.*'
#        - '.*TotalDiskSpaceUsed.*'
#        - '^org.apache.cassandra.metrics.PendingTasks.Compaction.*'
#        - '^org.apache.cassandra.metrics.CompletedTasks.Compaction.*'
#        - '^org.apache.cassandra.metrics.PendingTasks.request.CounterMutationStage.*'
#        - '^org.apache.cassandra.metrics.PendingTasks.request.MutationStage.*'
#        - '^org.apache.cassandra.metrics.PendingTasks.request.ReadRepairStage.*'
#        - '^org.apache.cassandra.metrics.PendingTasks.request.ReadStage.*'
#        - '^org.apache.cassandra.metrics.PendingTasks.request.RequestResponseStage.*'
#        - '^org.apache.cassandra.metrics.request.CounterMutationStage.PendingTasks.*'
#        - '^org.apache.cassandra.metrics.request.MutationStage.PendingTasks.*'
#        - '^org.apache.cassandra.metrics.request.ReadRepairStage.PendingTasks.*'
#        - '^org.apache.cassandra.metrics.request.ReadStage.PendingTasks.*'
#        - '^org.apache.cassandra.metrics.request.RequestResponseStage.PendingTasks.*'
#        - '^org.apache.cassandra.metrics.CurrentlyBlockedTasks.request.CounterMutationStage.*'
#        - '^org.apache.cassandra.metrics.CurrentlyBlockedTasks.request.MutationStage.*'
#        - '^org.apache.cassandra.metrics.CurrentlyBlockedTasks.request.ReadRepairStage.*'
#        - '^org.apache.cassandra.metrics.CurrentlyBlockedTasks.request.ReadStage.*'
#        - '^org.apache.cassandra.metrics.CurrentlyBlockedTasks.request.RequestResponseStage.*'
#        - '^org.apache.cassandra.metrics.request.CounterMutationStage.CurrentlyBlockedTasks.*'
#        - '^org.apache.cassandra.metrics.request.MutationStage.CurrentlyBlockedTasks.*'
#        - '^org.apache.cassandra.metrics.request.ReadRepairStage.CurrentlyBlockedTasks.*'
#        - '^org.apache.cassandra.metrics.request.ReadStage.CurrentlyBlockedTasks.*'
#        - '^org.apache.cassandra.metrics.request.RequestResponseStage.CurrentlyBlockedTasks.*'
#        - "^org.apache.cassandra.metrics.Compaction.+"
#        - "^org.apache.cassandra.metrics.ClientRequest.+"
#        - "^org.apache.cassandra.metrics.Cache.+"
#        - "^org.apache.cassandra.metrics.Storage.+"
#        - "^org.apache.cassandra.metrics.ThreadPools.+"
#        - "^org.apache.cassandra.metrics.ColumnFamily.KeyspaceMetadata.+"
#        - "^org.apache.cassandra.metrics.ColumnFamily.KeyspaceBlobStore.+"
#        - "^org.apache.cassandra.metrics.ColumnFamily.pab.+"
#        - "^org.apache.cassandra.metrics.ColumnFamily.cal.+"
#        - "^org.apache.cassandra.metrics.ColumnFamily.KeyspaceMetadata.queueservice.+"
#        - "^org.apache.cassandra.metrics.ColumnFamily.KeyspaceMetadata.blobstore.+"
#        - "^org.apache.cassandra.metrics.ColumnFamily.KeyspaceMetadata.hugemail.+"