#!/bin/bash

{% if groups[node_site+'-qelk'] is defined %}{%
	for host in groups[node_site+'-qelk'] %}{%
		if loop.first %}

CHECK=true
COUNT=0
while $CHECK; do

    ST=$(curl -L http://{{ host }}:{{ elasticsearch_http_port|default(9200) }}/_cluster/health?pretty=true|grep status|awk -F "\"" '{ print $4 }')

    if [ "green" == "$ST" ] || [ "yellow" == "$ST" ]; then
        CHECK=false;
        echo "ElasticSearch Cluster is now up and running ($ST)"
        echo "Registering queue service on ElasticSearch"
        curl -XPUT 'http://{{ host }}:{{ elasticsearch_http_port|default(9200) }}/messagerecords?pretty' -d'{"mappings": {"external": {"date_detection": false,"properties": {"submittime": {"type": "date","format": "yyyyMMddHHmmssSSS"},"attempt": {"type": "long"},"messageid": {"type": "string"},"queuename": {"type":"string"},"size": {"type": "long"}},"_ttl":{"enabled": true,"default": "5d"}}}}'
    else
        if [ $COUNT == 4 ]; then
            echo "Elasticsearch cluster not ready"
            exit 1
        fi
        echo "Waiting for ElasticSearch Cluster ($ST)..."
        COUNT=$[COUNT+1]
        sleep 30
    fi

done;

{%		endif %}{%
	endfor %}{%
endif %}
