# {{ ansible_managed }}
# OS checks
command[check_load]=/usr/lib64/nagios/plugins/check_load -w {{((ansible_processor|length/2)|round|int)*nrpe_check_load_warning_factor}},{{(((ansible_processor|length/2)|round|int)*nrpe_check_load_warning_factor/3*2)|int}},{{(((ansible_processor|length/2)|round|int)*nrpe_check_load_warning_factor/3)|int}} -c {{((ansible_processor|length/2)|round|int)*nrpe_check_load_critical_factor}},{{(((ansible_processor|length/2)|round|int)*nrpe_check_load_critical_factor/3*2)|int}},{{(((ansible_processor|length/2)|round|int)*nrpe_check_load_critical_factor/3)|int}}
command[check_total_procs]=/usr/lib64/nagios/plugins/check_procs -w {{nrpe_procs_warning}} -c {{nrpe_procs_critical}}
command[check_zombie_procs]=/usr/lib64/nagios/plugins/check_procs -w {{nrpe_procs_zombie_warning}} -c {{nrpe_procs_zombie_critical}} -s Z
command[check_steal_cpu]=/usr/lib64/nagios/plugins/check_cpu_steal.sh -w {{nrpe_steal_iowait_warning}},{{nrpe_steal_cpu_warning}} -c {{nrpe_steal_iowait_critical}},{{nrpe_steal_cpu_critical}}
{% if nrpe_disk_types is defined and nrpe_disk_types|length > 0 %}
command[check_disks]=/usr/lib64/nagios/plugins/check_disk -w {{nrpe_disk_usage_warning}} -c {{'nrpe_disk_usage_critical'}} -r / -N {{ nrpe_disk_types|join(' -N ') }}
command[check_ro_mounts]=/usr/lib64/nagios/plugins/check_ro_mounts.sh -N {{ nrpe_disk_types|join(' -N ') }}
{% else %}
command[check_disks]=/usr/lib64/nagios/plugins/check_disk -w {{nrpe_disk_usage_warning}} -c {{nrpe_disk_usage_critical}} -r /
{% endif %}
command[check_total_procs]=/usr/lib64/nagios/plugins/check_procs -w {{nrpe_procs_warning}} -c {{nrpe_procs_critical}}
{% if ntp_config_server is defined and ntp_config_server|length > 0 %}
command[check_ntp_time]=/usr/lib64/nagios/plugins/check_ntp_time -H {{ntp_config_server|random}}
{% endif %}
command[check_filebeat_procs]=/usr/lib64/nagios/plugins/check_procs -C filebeat -c 1:1
command[check_metricbeat_procs]=/usr/lib64/nagios/plugins/check_procs -C metricbeat -c 1:1
{% if inventory_hostname in groups['mx'] %}
# Mx checks
command[check_mx_ping]=/usr/lib64/nagios/plugins/check_mx_ping.sh -U {{emailmx_user[0].username}} -H {{emailmx_user[0].home}}
{% if inventory_hostname in groups['directory']|union(groups['secondarydirectory']) %}
command[check_dir_sync]=/usr/lib64/nagios/plugins/check_dir_sync.sh -U {{emailmx_user[0].username}} -H {{emailmx_user[0].home}} -T {{nrpe_dir_sync_warning}}
{% endif %}
{% if inventory_hostname in groups['fep']|union(groups['uxsuite'])|union(groups['mos']) and clusters is defined and clusters|length>0 %}
{% for amvip in clusters %}
command[check_am_{{amvip}}]=/usr/lib64/nagios/plugins/check_http -H {{amvip}}-VIP -p {{mss_listening_port_proxy|default(55014)}} -u /basic_status -w 0.1 -c 1
{% endfor %}
{% endif %}
{% if inventory_hostname in groups['fep']|union(groups['uxsuite'])|union(groups['mss'])|union(groups['pabcal']) and groups['mos'] is defined and groups['mos']|length>0 %}
{% for moshost in groups[node_site+'-mos'] %}
command[check_mos_{{moshost}}]=/usr/lib64/nagios/plugins/check_http -H {{moshost}} -p {{mos_listening_port|default(8081)}} -u /mxos/monitor -w 0.1 -c 1
{% endfor %}
{% endif %}
{% endif %}
{% if inventory_hostname in groups['cassandra'] %}
{%   if nrpe_cassandra_mount_points is defined and nrpe_cassandra_mount_points|length > 0 %}
# Cassandra checks
command[check_cassandra_disks]=/usr/lib64/nagios/plugins/check_disk -w 50% -c 40% -p {{ nrpe_cassandra_mount_points|join(' -p ') }}
{%   endif %}
{% for user in nrpe_cass_users|default([]) %}
command[check_cassandra_{{user.cassuser}}_{{user.casstype}}]=/usr/lib64/nagios/plugins/check_cassandra_cluster.sh -U {{user.cassuser}} -T {{user.casstype}} -w {{user.wnodes}} -c {{user.cnodes}} -W {{user.wlatency|default(10)}} -C {{user.clatency|default(100)}}
command[check_cassandra_maintenance_{{user.cassuser}}_{{user.casstype}}]=/usr/lib64/nagios/plugins/check_cassandra_maintenance.sh -U {{user.cassuser}} -L cassandra-{{user.casstype}}/log/ -D {{user.cmaintdays|default(7)}} -W {{user.wmaintdays|default(5)}} -T {{user.celapsed|default(43200)}}
{% endfor %}
{% endif %}

{% if inventory_hostname in groups['qservice'] %}
command[check_qservice]=/usr/lib64/nagios/plugins/check_queue_service.sh -q {{node_site}}_nagios
{% endif %}

{% if inventory_hostname in groups['elk-search'] %}
command[check_elasticsearch]=/usr/lib64/nagios/plugins/check_http -H localhost -p {{elasticsearch_http_port|default(9200)}} -u /_cat/health -s green
command[check_logstash]=/usr/lib64/nagios/plugins/check_http -H localhost -p {{logstash_http_port|default(9600)}} -u / -s id
command[check_redis]=/usr/lib64/nagios/plugins/check_redis.sh -w {{nrpe_redis_blocked_clients_warning}},{{nrpe_redis_rejected_connections_warning}},{{nrpe_redis_evicted_keys_warning}} -c {{nrpe_redis_blocked_clients_critical}},{{nrpe_redis_rejected_connections_critical}},{{nrpe_redis_evicted_keys_critical}}
{% endif %}

{% if inventory_hostname in groups['qelk-search'] %}
command[check_elasticsearch]=/usr/lib64/nagios/plugins/check_http -H localhost -p {{elasticsearch_http_port|default(9200)}} -u /_cat/health -s green
{% endif %}

{% if inventory_hostname in groups['hugemail'] %}
command[check_hugemail]=/usr/lib64/nagios/plugins/check_http -H localhost -p {{hugemail_http_port|default(8080)}} -u /info
{% endif %}

{% if inventory_hostname in groups['directory'] %}
command[check_eureka]=/usr/lib64/nagios/plugins/check_http -H localhost -p {{eureka_port|default(8761)}} -u /health -s UP -w 0.1 -c 1
command[check_dir_switchover]=/usr/lib64/nagios/plugins/check_procs -a imswitchoverlistener -c 1:1
command[check_dir_autoswitch]=/usr/lib64/nagios/plugins/check_procs -a imautoswitchover -c 1:1
{% endif %}

{% if haproxy_config_template is defined %}
command[check_haproxy]=/usr/lib64/nagios/plugins/check_procs -C haproxy -c 1:
{% endif %}

{% if inventory_hostname in groups['mss'] and s3_endpoints|default([])|length>0 %}
{% for vip in s3_endpoints|default([]) %}
command[check_s3_{{vip}}]=/usr/lib64/nagios/plugins/check_tcp -H {{vip}} -p {{blobstore_cluster_port|default(8080)}} -w 0.1 -c 0.5
{% endfor %}
{% endif %}

#command[check_users]=/usr/lib64/nagios/plugins/check_users -w $ARG1$ -c $ARG2$
#command[check_load]=/usr/lib64/nagios/plugins/check_load -w $ARG1$ -c $ARG2$
#command[check_disk]=/usr/lib64/nagios/plugins/check_disk -w $ARG1$ -c $ARG2$ -p $ARG3$
#command[check_procs]=/usr/lib64/nagios/plugins/check_procs -w $ARG1$ -c $ARG2$ -s $ARG3$

#command[check_users]=/usr/lib64/nagios/plugins/check_users -w 5 -c 10
#command[check_load]=/usr/lib64/nagios/plugins/check_load -w 15,10,5 -c 30,25,20
#command[check_hda1]=/usr/lib64/nagios/plugins/check_disk -w 20% -c 10% -p /dev/hda1
#command[check_zombie_procs]=/usr/lib64/nagios/plugins/check_procs -w 5 -c 10 -s Z
#command[check_total_procs]=/usr/lib64/nagios/plugins/check_procs -w 150 -c 200
