#!/bin/sh

INTERMAIL={{emailmx_user[0].home}}
ORACLE_HOME=tmpORACLE_HOME
DB2_HOME=tmpDB2_HOME
PATH=/usr/bin:/bin:$INTERMAIL/bin
export PATH
PERLHOME=$INTERMAIL/perl
export PERLHOME
LD_LIBRARY_PATH=$ORACLE_HOME/lib32:$ORACLE_HOME/lib:$DB2_HOME/lib
export LD_LIBRARY_PATH
LIBPATH=$ORACLE_HOME/lib32:$ORACLE_HOME/lib:$DB2_HOME/lib
export LIBPATH
. ${INTERMAIL}/.profile

$INTERMAIL/bin/imservping
