{% set userlist = [] %}
{% for user in nrpe_sudoers %}
{%   set _=userlist.append(user['username']) %}
{%   if loop.last %}
Defaults:nrpe   !requiretty
Cmnd_Alias      HSCMD = /sbin/runuser -l {{userlist|join(' *, /sbin/runuser -l ')}} *
nrpe            ALL = (root) NOPASSWD: HSCMD
{%   endif %}
{% endfor %}
