{{ nginx_home_dir }}/nginx_mss/logs/*.log {
        daily
        missingok
        rotate 52
        compress
        delaycompress
        notifempty
        su  {{emailmx_user[0].username}} {{emailmx_user[0].username}}
        create 0644 {{emailmx_user[0].username}} {{emailmx_user[0].username}}
        sharedscripts
        postrotate
                [ ! -f /run/nginx/nginx-mss.pid ] || kill -USR1 `cat /run/nginx/nginx-mss.pid`
        endscript
}
