[Unit]
Description=The nginx HTTP and reverse proxy server
After=network.target remote-fs.target nss-lookup.target auditd.service sshd.service

[Service]
Type=forking
PIDFile=/run/nginx/nginx-mos.pid
User={{emailmx_user[0].username}}
Group={{emailmx_user[0].username}}
PermissionsStartOnly=true
ExecStartPre=/bin/mkdir -p /run/nginx
ExecStartPre=/bin/chown -R {{emailmx_user[0].username}}:{{emailmx_user[0].username}} /run/nginx
ExecStartPre=/usr/bin/rm -f /run/nginx/nginx-mos.pid
ExecStart={{ nginx_home_dir }}/nginx_mos/sbin/nginx -c {{ nginx_home_dir }}/nginx_mos/conf/nginx.conf -p {{ nginx_home_dir }}/nginx_mos
ExecReload=/bin/kill -s HUP $MAINPID
KillSignal=SIGQUIT
TimeoutStopSec=5
KillMode=process
PrivateTmp=true
LimitNOFILE=524288
LimitMEMLOCK=infinity
LimitNPROC=65536
LimitAS=infinity

[Install]
WantedBy=multi-user.target
