worker_processes auto;

daemon on;
master_process on;


error_log  logs/error.log error;

pid        /run/nginx/nginx-swift.pid;

worker_rlimit_nofile 200000;
worker_rlimit_core  500M;
working_directory   {{ nginx_home_dir }}/nginx_swift;

events {
    worker_connections 25000;
    use epoll;
    multi_accept off;
}

http {
    sendfile on;
    keepalive_requests 500000;
    keepalive_timeout 60s;
    tcp_nopush on;
    tcp_nodelay on;
    client_body_buffer_size {{ swift_client_body_buffer_size }};

    open_file_cache max=25000 inactive=30s;
    open_file_cache_valid    60s;
    open_file_cache_min_uses 2;
    open_file_cache_errors   on;

    log_format timed_combined '$remote_addr - $remote_user [$time_local]  '
    '"$request" $status $body_bytes_sent '
    '"$http_referer" "$upstream_addr" '
    '$request_time $upstream_response_time request_time $pipe';

    access_log logs/access.log timed_combined;

   upstream swift_{{ node_site }} {
{% if groups['swift-hugemail'] is defined %}
{%   for host in groups['swift-hugemail'] %}
{%     if hostvars[host]['ethernet_interfaces'] is defined %}
{%       for interface in hostvars[host]['ethernet_interfaces'] %}
{%         if interface['vlan'] is defined %}
{%           if interface['vlan'] == 'service' %}
        server {{ interface['address'] }}:{{swift_listening_port}};
{%           endif %}
{%         endif %}
{%       endfor %}
{%     endif %}
{%   endfor %}
{% endif %}

        hash $http_host;
        hash_again 100;
        healthcheck_enabled;
        healthcheck_delay {{ swift_healthcheck_delay }};
        healthcheck_timeout {{ swift_healthcheck_timeout }};
        healthcheck_failcount {{ swift_healthcheck_failcount }};
        healthcheck_send 'GET /healthcheck HTTP/1.0';
        keepalive 100;
    }

   server {
        listen {{ swift_listening_port_proxy }};
        client_max_body_size {{ swift_client_max_body_size }};
        keepalive_timeout 60s;
        location /swift_status {
           healthcheck_status;
        }

        location /basic_status {
           stub_status on;
        }

        location / {
           proxy_pass http://swift_{{ node_site }};
           proxy_http_version 1.1;
           proxy_set_header Connection "";
        }

        keepalive_requests {{ swift_keepalive_requests }};
        proxy_connect_timeout {{ swift_proxy_connect_timeout }};
        proxy_read_timeout {{ swift_proxy_read_timeout }};
        proxy_send_timeout {{ swift_proxy_send_timeout }};
        proxy_next_upstream {{ swift_proxy_next_upstream }};
        proxy_buffering {{ swift_proxy_buffering }};
   }
}
