#!/bin/bash

# make sure the MX shell environment is loaded
. {{ emailmx_user[0].home }}/.profile

setrcval()
{
    # Usage: setrcval <keyname> <keyvalue>
    local key value

    key="$1"
    shift
    value="$*"
    eval imconfcontrol -install \
        -noRestarts -nobroadcast -key "\"$key\"=\"$value\""
}

delrcval()
{
  # Usage: delrcval <keyname>
  local key

  key="$1"
  eval imconfcontrol -install \
      -noRestarts -nobroadcast -key "\"$key\""
}

# Lock the config server
imconfcontrol -lockserver || exit 1

# {{ rg_groups }}
{% for rg_group in rg_groups | sort %}
# {{ rg_group }}
GROUP_HOSTS=""
NUMCOUNTERS=0
MAXCOUNTERS=16
{%   for host in groups[rg_group] | sort %}
# {{ host }}
{%     if hostvars[host]['razorgate_configdb_group'] == rg_group %}
{%       if hostvars[host]['primary'] is defined %}
DEFAULT_SERVERS=$(imconfget -localconfig -m sysadmin -h "*" additionalServers 2>/dev/null | grep -v "imconfget:" 2>/dev/null)
ADDITIONAL_SERVERS=""
ADDITIONAL_SERVER_LIST=('smtp') # always enabled in this setup
# Cannot access per-group variables here, so use the 'primary' RazorGate's
# value, which should be the groups value.  If it's overriden on the host
# level for the primary host, it becomes the default for the group.
MAXCOUNTERS={{ rg_num_counters_hosts | default(16) }}
{%       endif %}
# {{ hostvars[host]['emailmx_user'][0]['username'] }}
{%       if hostvars[host]['ethernet_interfaces'] is defined %}
{%         for interface in hostvars[host]['ethernet_interfaces'] %}
{%           if interface['vlan'] is defined %}
{%             if interface['vlan'] == 'access' %}
if [ ${NUMCOUNTERS} -lt ${MAXCOUNTERS} ]; then
  NUMCOUNTERS=$((NUMCOUNTERS+1))
  if [ "x$GROUP_HOSTS" = "x" ]; then
    GROUP_HOSTS="{{ interface['address'] }}"
  else
    GROUP_HOSTS="$GROUP_HOSTS,{{ interface['address'] }}"
  fi
  ADDITIONAL_SERVER_LIST+=('counters')
fi
{%             endif %}
{%           endif %}
{%         endfor %}
{%       endif %}
setrcval '/{{ host }}/common/ConfigDBPath' '{{ hostvars[host]['emailmx_user'][0]['home'] }}/config/config.db'
{%       if hostvars[host]['primary'] is defined %}
{%         if hostvars[host]['rg_mxenabled_mode'] %}
setrcval '/{{ rg_group }}/common/EurekaEnabled' '1'
setrcval '/{{ rg_group }}/common/MXEnabled' '1'
{%         else %}
setrcval '/{{ rg_group }}/common/EurekaEnabled' '0'
setrcval '/{{ rg_group }}/common/MXEnabled' '0'
{%         endif %}
{%         if hostvars[host]['rg_plugin_kas_enabled'] %}
setrcval '/{{ rg_group }}/smtp/plugin-kas.enabled' '1'
ADDITIONAL_SERVER_LIST+=('kas')
{%         else %}
setrcval '/{{ rg_group }}/smtp/plugin-kas.enabled' '0'
{%         endif %}
{%         if hostvars[host]['rg_plugin_kav_enabled'] %}
setrcval '/{{ rg_group }}/smtp/plugin-kav.enabled' '1'
{%         else %}
setrcval '/{{ rg_group }}/smtp/plugin-kav.enabled' '0'
ADDITIONAL_SERVER_LIST+=('kav')
{%         endif %}
{%         if hostvars[host]['rg_plugin_sophosas_enabled'] %}
setrcval '/{{ rg_group }}/smtp/plugin-sophosas.enabled' '1'
{%         else %}
setrcval '/{{ rg_group }}/smtp/plugin-sophosas.enabled' '0'
ADDITIONAL_SERVER_LIST+=('sophosas')
{%         endif %}
{%         if hostvars[host]['rg_plugin_sophosav_enabled'] %}
setrcval '/{{ rg_group }}/smtp/plugin-sophosav.enabled' '1'
{%         else %}
setrcval '/{{ rg_group }}/smtp/plugin-sophosav.enabled' '0'
ADDITIONAL_SERVER_LIST+=('sophosav')
{%         endif %}
{%         if hostvars[host]['rg_plugin_vadeas_enabled'] %}
setrcval '/{{ rg_group }}/smtp/plugin-vadeas.enabled' '1'
{%         else %}
setrcval '/{{ rg_group }}/smtp/plugin-vadeas.enabled' '0'
ADDITIONAL_SERVER_LIST+=('vadeas')
{%         endif %}
{%         if hostvars[host]['rg_smtp_auth'] %}
setrcval '/{{ rg_group }}/smtp/AUTHenable' '1'
{%         else %}
setrcval '/{{ rg_group }}/smtp/AUTHenable' '0'
{%         endif %}
{%         if hostvars[host]['rg_smtp_auth_for_relay'] %}
setrcval '/{{ rg_group }}/smtp/AuthenticationRequiredForRelaying' '1'
{%         else %}
setrcval '/{{ rg_group }}/smtp/AuthenticationRequiredForRelaying' '0'
{%         endif %}
{%         if hostvars[host]['rg_smtp_cram_md5_auth'] %}
setrcval '/{{ rg_group }}/smtp/CRAM-MD5enable' '1'
{%         else %}
setrcval '/{{ rg_group }}/smtp/CRAM-MD5enable' '0'
{%         endif %}
{%         if hostvars[host]['rg_smtp_digest_md5_auth'] %}
setrcval '/{{ rg_group }}/smtp/DIGEST-MD5enable' '1'
{%         else %}
setrcval '/{{ rg_group }}/smtp/DIGEST-MD5enable' '0'
{%         endif %}
{%         if hostvars[host]['rg_smtp_login_auth'] %}
setrcval '/{{ rg_group }}/smtp/LOGINenable' '1'
{%         else %}
setrcval '/{{ rg_group }}/smtp/LOGINenable' '0'
{%         endif %}
{%         if hostvars[host]['rg_smtp_plain_auth'] %}
setrcval '/{{ rg_group }}/smtp/PLAINenable' '1'
{%         else %}
setrcval '/{{ rg_group }}/smtp/PLAINenable' '0'
{%         endif %}
{%         if hostvars[host]['rg_ow_logging'] %}
setrcval '/{{ rg_group }}/common/OWLogging' '1'
{%         else %}
setrcval '/{{ rg_group }}/common/OWLogging' '0'
{%         endif %}
{%         if hostvars[host]['rg_ow_stat_file'] %}
setrcval '/{{ rg_group }}/common/SeparateStatLog' '1'
{%         else %}
setrcval '/{{ rg_group }}/common/SeparateStatLog' '0'
{%         endif %}
{%         if hostvars[host]['rg_smtp_help_enable'] %}
setrcval '/{{ rg_group }}/smtp/HELPenable' '1'
{%         else %}
setrcval '/{{ rg_group }}/smtp/HELPenable' '0'
{%         endif %}
{%         if hostvars[host]['rg_extra_configdb_group_keys'] is defined %}
{%           for entry in hostvars[host]['rg_extra_configdb_group_keys'] %}
{%             if entry.value is defined %}
# configuring {{entry.key}}=[{{entry.value}}]
setrcval "/{{ rg_group }}/{{entry.key}}" "{{entry.value}}"
{%             else %}
# removing key {{entry.key}}
delrcval "/{{ rg_group }}/{{entry.key}}"
{%             endif  %}
{%           endfor %}
{%         endif %}
{%       endif %}
# {{ rg_group }} {{ host }}
ADDITIONAL_SERVERS_REGEX=$(echo "${ADDITIONAL_SERVER_LIST[*]}" | sed 's/ /|/g')
ADDITIONAL_SERVERS=$(echo "${DEFAULT_SERVERS}" | egrep "(${ADDITIONAL_SERVERS_REGEX})")
setrcval '/{{ rg_group }}/sysadmin/additionalServers' "${ADDITIONAL_SERVERS}"
{%     endif %}
{%   endfor %}

setrcval '/{{ rg_group }}/common/dcountersHosts' "$GROUP_HOSTS"

{% endfor %}

# Unlock the config server
imconfcontrol -unlockserver
