#!/bin/bash

# run the main script via runuser. Done this way as running individual
# commands via runuser causes problems when the value to be pushed to 
# the config db is multi-line.
runuser -l {{emailmx_user[0].username}} -g {{ emailmx_user[0].username if users_create_per_user_group else users_group }} -c "/bin/bash /tmp/owm-razorgate-configdb.sh"
