#!/bin/bash

cd /etc/swift/

/usr/bin/swift-ring-builder account.builder create 18 3 1 || exit 1
/usr/bin/swift-ring-builder container.builder create 18 3 1 || exit 1
/usr/bin/swift-ring-builder object.builder create 18 3 1 || exit 1

{% if groups['swift-hugemail'] is defined %}
{%   for host in groups['swift-hugemail'] %}
{%     if hostvars[host]['ethernet_interfaces'] is defined %}
{%       for interface in hostvars[host]['ethernet_interfaces'] %}
{%         if interface['vlan'] is defined %}
{%           if interface['vlan'] == 'storage' %}
{%             for item in physical_disks %}
/usr/bin/swift-ring-builder account.builder add --region 1 --zone 1 --ip {{ interface['address'] }} --port {{ account_server_bind_port }} --device {{ item.mountpoint_subdir }} --weight 100 || exit 1
{%             endfor %}
{%           endif %}
{%         endif %}
{%       endfor %}
{%     endif %}
{%   endfor %}
{% endif %}
/usr/bin/swift-ring-builder account.builder || exit 1
/usr/bin/swift-ring-builder account.builder rebalance || exit 1

{% if groups['swift-hugemail'] is defined %}
{%   for host in groups['swift-hugemail'] %}
{%     if hostvars[host]['ethernet_interfaces'] is defined %}
{%       for interface in hostvars[host]['ethernet_interfaces'] %}
{%         if interface['vlan'] is defined %}
{%           if interface['vlan'] == 'storage' %}
{%             for item in physical_disks %}
  /usr/bin/swift-ring-builder container.builder add --region 1 --zone 1 --ip {{ interface['address'] }} --port {{ container_server_bind_port }} --device {{ item.mountpoint_subdir }}  --weight 100 || exit 1
{%             endfor %}
{%           endif %}
{%         endif %}
{%       endfor %}
{%     endif %}
{%   endfor %}
{% endif %}
/usr/bin/swift-ring-builder container.builder || exit 1
/usr/bin/swift-ring-builder container.builder rebalance || exit 1

{% if groups['swift-hugemail'] is defined %}
{%   for host in groups['swift-hugemail'] %}
{%     if hostvars[host]['ethernet_interfaces'] is defined %}
{%       for interface in hostvars[host]['ethernet_interfaces'] %}
{%         if interface['vlan'] is defined %}
{%           if interface['vlan'] == 'storage' %}
{%             for item in physical_disks %}
  /usr/bin/swift-ring-builder object.builder add --region 1 --zone 1 --ip {{ interface['address'] }} --port {{ object_server_bind_port }} --device {{ item.mountpoint_subdir }}  --weight 100 || exit 1
{%             endfor %}
{%           endif %}
{%         endif %}
{%       endfor %}
{%     endif %}
{%   endfor %}
{% endif %}
/usr/bin/swift-ring-builder object.builder || exit 1
/usr/bin/swift-ring-builder object.builder rebalance || exit 1

