#!/bin/bash
# Loop device hook

{% for item in loopback_disks %}
  /usr/sbin/losetup {{ item.device_path }} {{ item.file_path }}
  /usr/bin/mount {{ item.device_path }} {{ mountpoint_base }}/{{ item.mountpoint_subdir }} -t xfs -o noatime,nodiratime,nobarrier,logbufs=8
{% endfor %}
