{{ begin_mark }} {{ ansible_managed }}
{% for filesystem in physical_disks %}
{{ "LABEL=%-20s %-40s\t%s\tdefaults\t0\t0"|format( filesystem.label , mountpoint_base + "/" + filesystem.mountpoint_subdir, filesystem.fs_type ) }}
{% endfor %}
{{ end_mark }}
