{{ begin_mark }} {{ ansible_managed }}
uid = {{ swift_user[0].username }}
gid = {{ swift_user[0].username }}
log file = /var/log/rsyncd.log
pid file = /var/run/rsyncd.pid
address = {% for interface in hostvars[inventory_hostname]['ethernet_interfaces'] %}{% if interface['vlan'] is defined and interface['vlan'] == 'storage' %}{{ interface['address'] }}{% endif %}{% endfor %}

[account]
max connections = 2
path = {{ mountpoint_base }}
read only = False
lock file = /var/lock/account.lock

[container]
max connections = 2
path = {{ mountpoint_base }}
read only = False
lock file = /var/lock/container.lock

[object]
max connections = 2
path = {{ mountpoint_base }}
read only = False
lock file = /var/lock/object.lock
{{ end_mark }}
