spring:
  application:
    name: hugemail

server:
  port: {{hugemail_http_port|default(8080)}}

config:
  host: {{ confserv_ip_address }}
  port: {{ confserv_port|default(6003) }}
  messageExpiryActive: true
  messageExpiryFreqMs: 300000

eureka:
  client:
    serviceUrl:
      defaultZone: {{ eureka_url }}

multipart:
  maxFileSize: {{ hugemail_max_file_size }}
  maxRequestSize: {{ hugemail_max_request_size }}
