#!/bin/bash

/usr/sbin/runuser -l {{emailmx_user[0].username}} -c "/{{emailmx_user[0].home}}/lib/imservctrl kill"
/bin/find {{emailmx_user[0].home}}/tmp -name '*.pid' -exec rm -f {} \;
/bin/find {{emailmx_user[0].home}}/pab -name '*.pid' -exec rm -f {} \;
/bin/find {{emailmx_user[0].home}}/cal -name '*.pid' -exec rm -f {} \;

exit 0