# /usr/lib/systemd/system/mx.service
# rev: 1.0.3

[Unit]
Description=mx
{% if alternate_rpmdb is defined %}
After=network.target remote-fs.target nss-lookup.target auditd.service sshd.service service-discovery.service razorgate-{{ emailmx_user[0].username }}.service
{% else %}
After=network.target remote-fs.target nss-lookup.target auditd.service sshd.service service-discovery.service razorgate.service
{% endif %}

[Service]
PIDFile={{emailmx_user[0].home}}/tmp/immgrserv.pid
ExecStart={{emailmx_user[0].home}}/etc/mx start
ExecStop={{emailmx_user[0].home}}/etc/mx stop
ExecStopPost={{emailmx_user[0].home}}/etc/mx-cleanup.sh
#TimeoutStopSec="5min"
User={{emailmx_user[0].username}}
Group={{emailmx_user[0].username if users_create_per_user_group else users_group}}
PermissionsStartOnly=true
StandardOutput=journal
StandardError=journal
LimitNOFILE=524288
LimitMEMLOCK=infinity
LimitNPROC=65536
LimitAS=infinity
Restart=always

[Install]
WantedBy=multi-user.target