#!/bin/bash

# Lock the config server
runuser -l {{emailmx_user[0].username}} -g {{emailmx_user[0].username}} -c 'imconfcontrol -lockserver'

# Updating additionalServers in config.db
runuser -l {{emailmx_user[0].username}} -g {{emailmx_user[0].username}} -c 'imconfcontrol -install -nobroadcast -key ""/{{inventory_hostname}}/sysadmin/additionalServers"="webtop\ webtopctl\ webtopping""'

# Updating webtop_opt in config.db
runuser -l {{emailmx_user[0].username}} -g {{emailmx_user[0].username}} -c 'imconfcontrol -install -nobroadcast -key ""/{{inventory_hostname}}/sysadmin/webtop_opt"="""'

# Updating webtop_run in config.db
runuser -l {{emailmx_user[0].username}} -g {{emailmx_user[0].username}} -c 'imconfcontrol -install -nobroadcast -key ""/{{inventory_hostname}}/sysadmin/webtop_run"="on""'

# Unlock the config server
runuser -l {{emailmx_user[0].username}} -g {{emailmx_user[0].username}} -c 'imconfcontrol -unlockserver'