#!/bin/bash
#
#This script verifies if the LDAP Primary Master has changed and updates /etc/hosts if it has 
#John McEvoy 17-01-2017
#Updated on 31-01-2017 with ldapServerHosts

. {{emailmx_user[0].home}}/.profile

rundir={{emailmx_user[0].home}}/scripts
dt=$(date '+%d%m%Y-%H%M%S');
hostsfile="/etc/hosts"
newhosts="$rundir/hosts-new"
lasthosts="$rundir/hosts-$dt"
hostname=`cat $INTERMAIL/config/hostname`

master=`imconfget -localconfig -m common ldapMasterHosts`
masterip=`grep " $master " $hostsfile | cut -f1`
hostline="$masterip\tprimarymaster"

#if current master IP does not match the "primarymaster" entry in hostsfile
#then update hosts file and restart haproxy to pick up the change
if grep "primarymaster" $hostsfile | grep -v $masterip
then
sed "s/.*primarymaster.*/$hostline/" $hostsfile > $newhosts
mv $hostsfile $lasthosts
mv $newhosts $hostsfile
chmod 644 $hostsfile
systemctl restart haproxy

#Update ldapServerHosts
ldapserverhosts=`imconfget -localconfig -fullpath /$hostname/imdirserv/ldapServerHosts` 
origmaster=`echo $ldapserverhosts | cut -d" " -f1`
count=$(grep -o " " <<< "$ldapserverhosts" | wc -l)
count=$((count+1))
lastmaster=`echo $ldapserverhosts | cut -d" " -f$count`
ldapserverhosts=`echo $ldapserverhosts | sed -e "s/$origmaster/$master/g"`
ldapserverhosts=`echo $ldapserverhosts | sed -e "s/ $lastmaster/ $origmaster/g"` 

# Lock the config server
runuser -l {{emailmx_user[0].username}} -g {{emailmx_user[0].username}} -c 'imconfcontrol -lockserver'
#Set the ldapServerHosts key in config.db
imconfcontrol -install -nobroadcast -key /$hostname/imdirserv/ldapServerHosts="$ldapserverhosts"
#Unlock the config server
runuser -l {{emailmx_user[0].username}} -g {{emailmx_user[0].username}} -c 'imconfcontrol -unlockserver'
fi
