# /usr/lib/systemd/system/checkmaster.service

[Unit]
Description=Checkmaster
After=network.target

[Service]
Type=simple
ExecStart={{emailmx_user[0].home}}/scripts/checkmaster.sh

[Install]
WantedBy=multi-user.target