---
actions:
  1:
    action: delete_indices
    description: >-
      Delete indices older than {{curator_age_days}} days (based on index name).
    options:
      ignore_empty_list: True
      continue_if_exception: True
    filters:
    - filtertype: pattern
      kind: regex
      value: '^(filebeat-.*?|metricbeat-.*?|mxstatbeat-.*?|execbeat-.*?|graphite-.*?|messages-.*?|services-.*?).*$'
    - filtertype: age
      source: name
      direction: older
      timestring: '%Y.%m.%d'
      unit: days
      unit_count: {{curator_age_days}}
  2:
    action: forcemerge
    description: >-
      forceMerge indices older than 2 days (based on index name)
      to 2 segments per shard.  Delay 120 seconds between each forceMerge operation
      to allow the cluster to quiesce. This action will ignore indices already
      forceMerged to the same or fewer number of segments per shard, so the
      'forcemerged' filter is unneeded.
    options:
      max_num_segments: 2
      delay: 120
      continue_if_exception: True
    filters:
    - filtertype: pattern
      kind: regex
      value: '^(filebeat-.*?|metricbeat-.*?|mxstatbeat-.*?|execbeat-.*?|graphite-.*?|messages-.*?|services-.*?).*$'
    - filtertype: age
      source: name
      direction: older
      timestring: '%Y.%m.%d'
      unit: days
      unit_count: 1
  3:
    action: replicas
    description: >-
      Reduce the replica count to 0 for indices older than
      {{(curator_age_days/3*2)|int}} days (based on index name)
    options:
      count: 0
      wait_for_completion: False
      continue_if_exception: True
    filters:
    - filtertype: pattern
      kind: regex
      value: '^(filebeat-.*?|metricbeat-.*?|mxstatbeat-.*?|execbeat-.*?|graphite-.*?|messages-.*?|services-.*?).*$'
    - filtertype: age
      source: name
      direction: older
      timestring: '%Y.%m.%d'
      unit: days
      unit_count: {{(curator_age_days/3*2)|int}}
