---
client:
  hosts: ["{{ groups[node_site+'-elk'] | join (':'+( elasticsearch_http_port | default(9200) | string ) +'","') }}:{{ elasticsearch_http_port | default(9200) }}"]

logging:
  loglevel: 'INFO'
  logfile: '/var/log/elasticsearch/curator.log'
  logformat: 'default'
  blacklist: ['elasticsearch', 'urllib3']
