# ======================== Elasticsearch Configuration =========================
#
# NOTE: Elasticsearch comes with reasonable defaults for most settings.
#       Before you set out to tweak and tune the configuration, make sure you
#       understand what are you trying to accomplish and the consequences.
#
# The primary way of configuring a node is via this file. This template lists
# the most important settings you may want to configure for a production cluster.
#
# Please consult the documentation for further information on configuration options:
# https://www.elastic.co/guide/en/elasticsearch/reference/index.html
#
# ---------------------------------- Cluster -----------------------------------
#
# Use a descriptive name for your cluster:
#
cluster.name: {{elasticsearch_clusterName}}
#
# ------------------------------------ Node ------------------------------------
#
# Use a descriptive name for the node:
#
node.name: {{inventory_hostname}}

node.master: {{ elasticsearch_master_enabled | lower }}

node.data: {{elasticsearch_data_enabled}}
#
# Add custom attributes to the node:
#
#node.attr.rack: r1
#
# ----------------------------------- Paths ------------------------------------
#
# Path to directory where to store the data (separate multiple locations by comma):
#
{% if elasticsearch_data_path is defined %}
path.data: {{ elasticsearch_data_path }}
{% endif %}
#path.data: /path/to/data
#
# Path to log files:
#
#path.logs: /path/to/logs
{% if elasticsearch_backups_path is defined %}
path.repo : ['{{elasticsearch_backups_path}}']
{% endif %}
#
# ----------------------------------- Memory -----------------------------------
#
# Lock the memory on startup:
#
#bootstrap.memory_lock: true
#
# Make sure that the heap size is set to about half the memory available
# on the system and that the owner of the process is allowed to use this
# limit.
#
# Elasticsearch performs poorly when the system is swapping the memory.
#
# ---------------------------------- Network -----------------------------------
#
# Set the bind address to a specific IP (IPv4 or IPv6):
#
network.bind_host: {{elasticsearch_bind_host}}

network.host: _site_
#
# Set a custom port for HTTP:
#
http.port: {{elasticsearch_http_port|default(9200)}}

http.enabled: {{elasticsearch_http_enabled}}
#
# For more information, consult the network module documentation.
#
# --------------------------------- Discovery ----------------------------------
#
# Pass an initial list of hosts to perform discovery when new node is started:
# The default list of hosts is ["127.0.0.1", "[::1]"]
#
{% if elasticsearch_gr_enabled == 'true' %}
{% set elkgroupname = "elk-search" %}
{% else %}
{% set elkgroupname = node_site+"-elk" %}
{% endif %}
discovery.zen.ping.unicast.hosts: [{% if groups[elkgroupname] is defined %}{% for host in groups[elkgroupname] %}"{{host+admin_suffix}}:9300",{% endfor %}{% endif %}ENDOFLOOP]
#
# Prevent the "split brain" by configuring the majority of nodes (total number of master-eligible nodes / 2 + 1):
#
discovery.zen.minimum_master_nodes: {{ (( groups[node_site + '-elk']|length ) / 2)|int + 1 }}
#
# For more information, consult the zen discovery module documentation.
#
# ---------------------------------- Gateway -----------------------------------
#
# Block initial recovery after a full cluster restart until N nodes are started:
#
#gateway.recover_after_nodes: 3
#
# For more information, consult the gateway module documentation.
#
# ---------------------------------- Various -----------------------------------
#
# Require explicit names when deleting indices:
#
#action.destructive_requires_name: true

{% if elasticsearch_xpack_enabled == 'true' %}
xpack.security.enabled: {{xpack_security_enabled}}
{% endif %}
