<?xml version="1.0" encoding="UTF-8"?>
<!-- Master node configuration example -->
<configuration>
    <dataDirectory>{{ hirundo_master_data_path }}</dataDirectory>
    <initialLogLevel>INFO</initialLogLevel>
    <master>
        <webManager>
            <enabled>true</enabled>

            <!-- Only for tests. Comment out for production deployments -->
            <!--
            <autoLoginUser>
                <login>testuser</login>
                <name>Auto Test User</name>
            </autoLoginUser>
            -->

            <http>
                <host>*</host>
                <port>1972</port>
            </http>
            <!--https>
                <host>*</host>
                <port>11972</port>
                <keyStore>/home/hirundo/ssl/ssl-selfsigned.jks</keyStore-->
                <!-- Obfuscated passwords can be created with:
                java -cp jetty-util-VERSION.jar org.eclipse.jetty.util.security.Password
                -->
                <!--<keyStorePassword>OBF:1v2j1uum1xtv1zej1zer1xtn1uvk1v1v</keyStorePassword>-->
                <!--keyStorePassword>password</keyStorePassword-->
                <!--<keyManagerPassword>OBF:1v2j1uum1xtv1zej1zer1xtn1uvk1v1v</keyManagerPassword>-->
                <!--keyManagerPassword>password</keyManagerPassword>
            </https-->
        </webManager>

        <consoleManager>
            <enabled>true</enabled>

            <!-- Only for tests. Comment out for production deployments -->
            <!--
            <autoLoginUser>
                <login>testsshuser</login>
                <name>Auto SSH Test User</name>
            </autoLoginUser>
            -->

            <host>*</host>
            <port>2222</port>
        </consoleManager>

        <database>
            <dbms>POSTGRESQL</dbms>
            <database>hirundo</database>
            <user>hirundo</user>
            <password>{{ hirundo_password }}</password>
            <host>localhost</host>
        </database>
    </master>
</configuration>
