<?xml version="1.0" encoding="UTF-8"?>
<!-- Slave node configuration example -->
<configuration>
    <dataDirectory>{{ hirundo_agent_data_path }}</dataDirectory>
    <initialLogLevel>INFO</initialLogLevel>
    <slave>
        <!--
        <host>127.0.0.1</host>
        -->
        <host>*</host>
        <port>10000</port>
        <httpPort>10001</httpPort>
    </slave>
</configuration>
