#!/bin/bash

psql -c "CREATE USER {{ hirundo_user }} WITH ENCRYPTED PASSWORD '{{ hirundo_password }}';" && \
psql -c "CREATE USER {{ hirundo_replica_user }} REPLICATION LOGIN CONNECTION LIMIT 1 ENCRYPTED PASSWORD '{{ hirundo_replica_password }}';" && exit 0

exit 1
