#!/bin/bash

pg_basebackup -h {{ hirundo_replica_master }} -U {{ hirundo_replica_user }} -Ft -x -D - > /tmp/backup.tar && \
rm -rf {{ postgres_data|default('/var/lib/pgsql/data/') }}/* && \
tar x -v -C {{ postgres_data|default('/var/lib/pgsql/data/') }} -f /tmp/backup.tar && \
rm -f /tmp/backup.tar && exit 0

exit 1
