# /etc/systemd/system/hirundo-agent.service

[Unit]
Description=Hirundo Agent
After=network.target auditd.service mx.service

[Service]
User={{emailmx_user[0].username}}
Group={{ emailmx_user[0].username if users_create_per_user_group else users_group }}
WorkingDirectory={{emailmx_user[0].home}}/hirundo-agent/hirundo
ExecStart={{emailmx_user[0].home}}/hirundo-agent/hirundo/hirundo.sh start
TimeoutSec=300
SyslogIdentifier=hirundo-agent-%i
SuccessExitStatus=143
LimitNOFILE=524288
LimitMEMLOCK=infinity
LimitNPROC=65536
LimitAS=infinity
Restart=always

[Install]
WantedBy=multi-user.target
