# This tells the slave to keep pulling WALs from master.
standby_mode = on

# This is how to connect to the master.
primary_conninfo = 'host={{ hirundo_replica_master }} user={{ hirundo_replica_user }} password={{ hirundo_replica_password }}'
