#!/bin/bash

/bin/echo 0 > /sys/fs/cgroup/memory/camelot.slice/memory.swappiness
{% for user in users|default([]) %}
/bin/echo 0 > /sys/fs/cgroup/memory/user.slice/user-{{user.uid}}.slice/memory.swappiness
{% endfor %}