#!/bin/bash

# make sure the MX shell environment is loaded
. {{ emailmx_user[0].home }}/.profile

setrcval()
{
    # Usage: setrcval <keyname> <keyvalue>
    local key value

    key="$1"
    shift
    value="$*"
    eval imconfcontrol -install \
        -noRestarts -nobroadcast -key "\"$key\"=\"$value\""
}

delrcval()
{
  # Usage: delrcval <keyname>
  local key

  key="$1"
  eval imconfcontrol -install \
      -noRestarts -nobroadcast -key "\"$key\""
}

# Lock the config server
imconfcontrol -lockserver || exit 1

# install global settings
setrcval '/*/common/switchoverCheckInterval' '{{ switchoverCheckInterval }}'
setrcval '/*/common/switchoverThresholdTimeFrame' '{{ switchoverThresholdTimeFrame }}'
setrcval '/*/common/switchoverThresholdCount' '{{ switchoverThresholdCount }}'
setrcval '/*/common/scriptListeningPort' '{{ scriptListeningPort }}'
setrcval '/*/common/switchOverPriorityHosts' '{{ switchOverPriorityHosts }}'
setrcval '/*/imswitchoverlistener/responseTimeOutInterval' '{{ switchOverListenerResponseTimeoutInterval }}'
setrcval '/*/imswitchoverlistener/socketCommunicationTimeOutInterval' '{{ switchOverListenerSocketCommunicationTimeOutInterval }}'
{% if sur_nlevel_consistency == 'true' %}
setrcval '/*/imautoswitchover/checkActiveHostList' 'true'
setrcval '/*/imdirserv/ldapActiveHostList' '{{ switchOverPriorityHosts }}'
setrcval '/*/imdirserv/ldapActiveHostListAutoUpdate' 'false'
setrcval '/*/imdirserv/ldapActiveProvisioningTimeout' '10'
setrcval '/*/imdirserv/enableSecMasterWriteThru' 'true'
{% else %}
delrcval '/*/imautoswitchover/checkActiveHostList'
delrcval '/*/imdirserv/ldapActiveHostList'
delrcval '/*/imdirserv/ldapActiveHostListAutoUpdate'
delrcval '/*/imdirserv/ldapActiveProvisioningTimeout'
delrcval '/*/imdirserv/enableSecMasterWriteThru'
{% endif %}
# install per-server configuration
{% for dirnode in groups["directory"]|union(groups["secondarydirectory"]) %}
	setrcval '/{{ dirnode }}/common/scriptListeningPort' '{{ scriptListeningPort }}'
	setrcval '/{{ dirnode }}/sysadmin/imautoswitchover_run' 'on'
	setrcval '/{{ dirnode }}/sysadmin/imswitchoverlistener_run' 'on'

	SERVERS=$(imconfget -h "{{ dirnode }}" -m "sysadmin" "additionalServers" 2>/dev/null | grep -v "imconfget:" 2>/dev/null)
	if [ $? -eq 1 ]; then
		# key not found
		SERVERS=$(echo -e "imswitchoverlistener\nimautoswitchover")
	else
		if ! echo "${SERVERS}" | grep -q imswitchoverlistener; then
			SERVERS=$( echo "${SERVERS}" ; echo "imswitchoverlistener" )
		fi

		if ! echo "${SERVERS}" | grep -q imautoswitchover; then
			SERVERS=$( echo "${SERVERS}" ; echo "imautoswitchover" )
		fi
	fi
	setrcval '/{{ dirnode }}/sysadmin/additionalServers' "${SERVERS}"

    EXISTING_MONITOR=$(imconfget -h "{{ dirnode }}" -m "sysadmin" "monitoredServers" 2>/dev/null | grep -v "imconfget:" 2>/dev/null)
    if [ $? -eq 1 ]; then
    	# key not found
    	EXISTING_MONITOR=""
    fi
	{% if monitor_imautoswitchover %}
	    if ! echo "${EXISTING_MONITOR}" | grep -q imautoswitchover; then
	    	EXISTING_MONITOR="${EXISTING_MONITOR} imautoswitchover"
	    	setrcval '/{{ dirnode }}/sysadmin/monitoredServers' "${EXISTING_MONITOR}"
	    fi
	{% endif %}
	{% if monitor_imswitchoverlistener %}
	    if ! echo "${EXISTING_MONITOR}" | grep -q imswitchoverlistener; then
	    	EXISTING_MONITOR="${EXISTING_MONITOR} imswitchoverlistener"
	    	setrcval '/{{ dirnode }}/sysadmin/monitoredServers' "${EXISTING_MONITOR}"
	    fi
	{% endif %}
{% endfor %}
# Unlock the config server
imconfcontrol -unlockserver
