# /etc/systemd/system/service-discovery.service

[Unit]
Description=OWM Service Discovery
After=network.target remote-fs.target nss-lookup.target auditd.service sshd.service 

[Service]
User={{sncr_user[0].username}}
Group={{sncr_user[0].username}}
PermissionsStartOnly=true
ExecStartPre=/bin/mkdir -p /var/log/service-discovery/
ExecStartPre=/bin/chown -R {{sncr_user[0].username}}:{{sncr_user[0].username}} /var/log/service-discovery/
ExecStart={{sncr_user[0].home}}/service-discovery/{{package.name|regex_replace('#sd_version#', eureka_version)}}.jar
SuccessExitStatus=143

[Install]
WantedBy=multi-user.target