# {{ ansible_managed }}

<Location "/(app|bundles|status|api|elasticsearch|plugins|ui)">
#  SSLRequireSSL
   Options ExecCGI
   AllowOverride None

   AuthName "Healthstation Access"
   AuthType Basic
   AuthUserFile /etc/mx-passwd

   <IfModule mod_authz_core.c>
      # Apache 2.4
      <RequireAll>
         Require all granted
         # Require local
         Require valid-user
      </RequireAll>
   </IfModule>
   <IfModule !mod_authz_core.c>
      # Apache 2.2
      Order allow,deny
      Allow from all
      #  Order deny,allow
      #  Deny from all
      #  Allow from {{kibana_host}}
      Require valid-user
   </IfModule>

</Location>

<IfModule mod_proxy.c>

ProxyRequests Off

ProxyPass /app http://{{kibana_host}}:{{kibana_port}}/app
ProxyPassReverse /app http://{{kibana_host}}:{{kibana_port}}/app

ProxyPass /bundles http://{{kibana_host}}:{{kibana_port}}/bundles
ProxyPassReverse /bundles http://{{kibana_host}}:{{kibana_port}}/bundles

ProxyPass /status http://{{kibana_host}}:{{kibana_port}}/status
ProxyPassReverse /status http://{{kibana_host}}:{{kibana_port}}/status

ProxyPass /api http://{{kibana_host}}:{{kibana_port}}/api
ProxyPassReverse /api http://{{kibana_host}}:{{kibana_port}}/api

ProxyPass /elasticsearch http://{{kibana_host}}:{{kibana_port}}/elasticsearch
ProxyPassReverse /elasticsearch http://{{kibana_host}}:{{kibana_port}}/elasticsearch

ProxyPass /plugins http://{{kibana_host}}:{{kibana_port}}/plugins
ProxyPassReverse /plugins http://{{kibana_host}}:{{kibana_port}}/plugins

ProxyPass /ui http://{{kibana_host}}:{{kibana_port}}/ui
ProxyPassReverse /ui http://{{kibana_host}}:{{kibana_port}}/ui

ProxyPass /es_admin http://{{kibana_host}}:{{kibana_port}}/es_admin
ProxyPassReverse /es_admin http://{{kibana_host}}:{{kibana_port}}/es_admin

</IfModule>
