server.port: {{kibana_port}}
server.host: "{{kibana_host}}"
elasticsearch.url: "http://{{elasticsearch_load_balancer_host}}:{{elasticsearch_load_balancer_port}}"
elasticsearch.preserveHost: {{elasticsearch_preserve_host}}
kibana.index: "{{default_kibana_index}}"
kibana.defaultAppId: "{{kibana_default_app_id}}"
elasticsearch.ssl.verify: {{verify_ssl}}
elasticsearch.requestTimeout: {{request_timeout}}
elasticsearch.shardTimeout: {{shard_timeout}}
logging.quiet: true
{% if elasticsearch_xpack_enabled == 'true' %}
xpack.security.enabled: {{xpack_security_enabled}}
{% endif %}
