#!/bin/bash
. ${HOME}/.profile
if [ ! -f "{{emailmx_user[0].home}}/.disable_mss_maintenance" ]; then
LOGFILE="{{emailmx_user[0].home}}/log/mss_maintenance.$(hostname).$(date +%Y%m%d%H%M%S).out"
imboxmaint {{meta_cluster_name}} {{metadata_cluster_port}} {{duration}} 1>>$LOGFILE 2>>$LOGFILE
# chown {{emailmx_user[0].username}}:{{emailmx_user[0].username}} $LOGFILE
fi