#!/bin/bash
# Path: {{ emailmx_user[0].home }}/scripts/nginx-monitor.sh
#
# Author        : John McEvoy
# E-mail        : john.mcevoy@synchronoss.com
# Description   : Verify the  health of the local web service and if unavailalbe stop the local nginx
#                 that manages https cert and web traffic. Also start nginx service if the web service becomes
#                 available again
#                 Should be run on all webmail and DAC (dadm) nodes on the platform
#
HTTPPORT={{ ux_ssl_local_port }}
URI={{ ping_uri }}
CONNECTTIMEOUT=1
MAXTIME=3
STATE=`cat {{ emailmx_user[0].home }}/scripts/nginx-state-file`

if curl -v --max-time $MAXTIME --connect-timeout $CONNECTTIMEOUT --silent http://localhost:$HTTPPORT$URI 2>&1 | grep -q "HTTP/1.1 200"
then
    echo WEB SERVICE IS HEALTHY
    #http web service is healthy. Now start nginx if it is not running?
    if pgrep -x "nginx" >/dev/null 2>&1
    then
        echo NGINX IS RUNNING
        #nginx is running so nothing to do
        exit
    elif [ $STATE = "monitor" ]
    then
        echo NGINX WAS NOT RUNNING SO IT WAS STARTED
        #nginx is not running but http web service is so start nginx
        systemctl start nginx
        exit
    else
        echo NGINX HAD BEEN STOPPED MANUALLY SO IT WAS NOT RESTARTED
    fi
else
    #http web service is NOT healthy. Stop NGINX if running leave state as it is
    echo WEBSERVICE NOT HEALTHY. NGINX IS STOPPED
    if pgrep -x "nginx" >/dev/null 2>&1
    then
        #so nginx is running so stop it.
        systemctl stop nginx
        /bin/echo $STATE > {{ emailmx_user[0].home }}/scripts/nginx-state-file
    fi
fi
