[Service]
ExecStartPre=/bin/bash -c "/bin/echo monitor > {{ emailmx_user[0].home }}/scripts/nginx-state-file"
ExecStopPost=/bin/bash -c '/bin/echo manual > {{ emailmx_user[0].home }}/scripts/nginx-state-file'
