# /usr/lib/systemd/system/nginx-monitor.service

[Unit]
Description=NGINX MONITOR
After=network.target

[Service]
Type=simple
ExecStart={{ emailmx_user[0].home }}/scripts/nginx-monitor.sh

[Install]
WantedBy=multi-user.target
