# For more information on configuration, see:
#   * Official English Documentation: http://nginx.org/en/docs/
# Deployed by Ansible

user nginx;
worker_processes auto;
error_log /var/log/nginx/error.log;
pid /run/nginx.pid;

# Load dynamic modules. See /usr/share/nginx/README.dynamic.
include /usr/share/nginx/modules/*.conf;

events {
    worker_connections 1024;
}

http {
    log_format  main  '$remote_addr - $remote_user [$time_local] "$request" '
                      '$status $body_bytes_sent "$http_referer" '
                      '"$http_user_agent" "$http_x_forwarded_for"';

    access_log  /var/log/nginx/access.log  main;

    sendfile            on;
    tcp_nopush          on;
    tcp_nodelay         on;
    keepalive_timeout   65;
    types_hash_max_size 2048;

    include             /etc/nginx/mime.types;
    default_type        application/octet-stream;

    server_tokens off;

    # Load modular configuration files from the /etc/nginx/conf.d directory.
    # See http://nginx.org/en/docs/ngx_core_module.html#include
    # for more information.
    include /etc/nginx/conf.d/*.conf;

# Settings for a TLS enabled server.
    server {
        listen       {{ux_ssl_port}} ssl http2 default_server;
        listen       [::]:{{ux_ssl_port}} ssl http2 default_server;
        server_name  _;
        root         /usr/share/nginx/html;

        ssl_certificate "/etc/pki/nginx/{{certificate_file}}";
        ssl_certificate_key "/etc/pki/nginx/private/{{certs_uxsuite.server_key}}";
        ssl_session_cache shared:SSL:1m;
        ssl_session_timeout  10m;
        ssl_ciphers HIGH:!aNULL:!MD5;
        ssl_prefer_server_ciphers on;

        # Load configuration files for the default server block.
        include /etc/nginx/default.d/*.conf;
        
        location = / {
{% if ux_ssl_public_port == 443 %}
            return 301 https://$host{{login_url}};
{% else %}
            return 301 https://$host:{{ux_ssl_public_port}}{{login_url}};
{% endif %}
        }

        location / {
            client_max_body_size 0;
            proxy_set_header Host $host;
            proxy_set_header X-Real-IP $remote_addr;
            proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
            proxy_set_header Connection "";
            proxy_buffering off;
            proxy_read_timeout 36000s;
            proxy_redirect off;
            proxy_intercept_errors off;
            proxy_pass http://localhost:{{ux_ssl_local_port}};
        }

        error_page 502   /502.html;
        location = /502.html {
            root   html;
        }
    }
    server {
        listen {{ux_http_port}};
        listen [::]:{{ux_http_port}};
        server_name _;
        location / {
{% if ux_ssl_public_port == 443 %}
            return 301 https://$host{{login_url}};
{% else %}
            return 301 https://$host:{{ux_ssl_public_port}}{{login_url}};
{% endif %}
        }
    }
}
