{
  "order": 1,
  "settings": {
    {% if elasticsearch_on_hdd == 'true' %}
    "index.merge.scheduler.max_thread_count": 1,
    {% endif %}
    "index.refresh_interval": "{{elasticsearch_index_refresh_interval}}",
    "number_of_shards": {{elasticsearch_number_of_shards}}
  },
  "template": "graphite-*",
  "mappings": {
    "_default_": {
      "_all": {
        "enabled": false
      },
      "_meta": {
        "version": "5.6.2"
      },
      "date_detection": false,
      "dynamic_templates": [
        {
          "strings_as_keyword": {
            "mapping": {
              "ignore_above": 1024,
              "type": "keyword"
            },
            "match_mapping_type": "string"
          }
        }
      ],
      "properties": {
        "@timestamp": {
          "type": "date"
        },
        "Cache": {
          "properties": {
            "Hits": {
              "properties": {
                "KeyCache": {
                  "properties": {
                    "count": {
                      "type": "float"
                    },
                    "m15_rate": {
                      "type": "float"
                    },
                    "m1_rate": {
                      "type": "float"
                    },
                    "m5_rate": {
                      "type": "float"
                    },
                    "mean_rate": {
                      "type": "float"
                    }
                  }
                }
              }
            }
          }
        },
        "ClientRequest": {
          "properties": {
            "Latency": {
              "properties": {
                "Read": {
                  "properties": {
                    "count": {
                      "type": "float"
                    },
                    "m15_rate": {
                      "type": "float"
                    },
                    "m1_rate": {
                      "type": "float"
                    },
                    "m5_rate": {
                      "type": "float"
                    },
                    "max": {
                      "type": "float"
                    },
                    "mean": {
                      "type": "float"
                    },
                    "mean_rate": {
                      "type": "float"
                    },
                    "min": {
                      "type": "float"
                    },
                    "p50": {
                      "type": "float"
                    },
                    "p75": {
                      "type": "float"
                    },
                    "p95": {
                      "type": "float"
                    },
                    "p98": {
                      "type": "float"
                    },
                    "p99": {
                      "type": "float"
                    },
                    "p999": {
                      "type": "float"
                    },
                    "stddev": {
                      "type": "float"
                    }
                  }
                },
                "Write": {
                  "properties": {
                    "count": {
                      "type": "float"
                    },
                    "m15_rate": {
                      "type": "float"
                    },
                    "m1_rate": {
                      "type": "float"
                    },
                    "m5_rate": {
                      "type": "float"
                    },
                    "max": {
                      "type": "float"
                    },
                    "mean": {
                      "type": "float"
                    },
                    "mean_rate": {
                      "type": "float"
                    },
                    "min": {
                      "type": "float"
                    },
                    "p50": {
                      "type": "float"
                    },
                    "p75": {
                      "type": "float"
                    },
                    "p95": {
                      "type": "float"
                    },
                    "p98": {
                      "type": "float"
                    },
                    "p99": {
                      "type": "float"
                    },
                    "p999": {
                      "type": "float"
                    },
                    "stddev": {
                      "type": "float"
                    }
                  }
                }
              }
            },
            "Timeouts": {
              "properties": {
                "Read": {
                  "properties": {
                    "count": {
                      "type": "float"
                    },
                    "m15_rate": {
                      "type": "float"
                    },
                    "m1_rate": {
                      "type": "float"
                    },
                    "m5_rate": {
                      "type": "float"
                    },
                    "mean_rate": {
                      "type": "float"
                    }
                  }
                },
                "Write": {
                  "properties": {
                    "count": {
                      "type": "float"
                    },
                    "m15_rate": {
                      "type": "float"
                    },
                    "m1_rate": {
                      "type": "float"
                    },
                    "m5_rate": {
                      "type": "float"
                    },
                    "mean_rate": {
                      "type": "float"
                    }
                  }
                }
              }
            },
            "TotalLatency": {
              "properties": {
                "Read": {
                  "properties": {
                    "count": {
                      "type": "float"
                    }
                  }
                },
                "Write": {
                  "properties": {
                    "count": {
                      "type": "float"
                    }
                  }
                }
              }
            },
            "Unavailables": {
              "properties": {
                "Read": {
                  "properties": {
                    "count": {
                      "type": "float"
                    },
                    "m15_rate": {
                      "type": "float"
                    },
                    "m1_rate": {
                      "type": "float"
                    },
                    "m5_rate": {
                      "type": "float"
                    },
                    "mean_rate": {
                      "type": "float"
                    }
                  }
                },
                "Write": {
                  "properties": {
                    "count": {
                      "type": "float"
                    },
                    "m15_rate": {
                      "type": "float"
                    },
                    "m1_rate": {
                      "type": "float"
                    },
                    "m5_rate": {
                      "type": "float"
                    },
                    "mean_rate": {
                      "type": "float"
                    }
                  }
                }
              }
            }
          }
        },
        "Compaction": {
          "properties": {
            "CompletedTasks": {
              "type": "float"
            },
            "PendingTasks": {
              "type": "float"
            }
          }
        },
        "Storage": {
          "properties": {
            "Exceptions": {
              "properties": {
                "count": {
                  "type": "float"
                }
              }
            },
            "Load": {
              "properties": {
                "count": {
                  "type": "float"
                }
              }
            },
            "TotalHints": {
              "properties": {
                "count": {
                  "type": "float"
                }
              }
            },
            "TotalHintsInProgress": {
              "properties": {
                "count": {
                  "type": "float"
                }
              }
            }
          }
        },
        "ThreadPools": {
          "properties": {
            "ActiveTasks": {
              "properties": {
                "request": {
                  "properties": {
                    "CounterMutationStage": {
                      "type": "float"
                    },
                    "MutationStage": {
                      "type": "float"
                    },
                    "ReadRepairStage": {
                      "type": "float"
                    },
                    "ReadStage": {
                      "type": "float"
                    },
                    "RequestResponseStage": {
                      "type": "float"
                    }
                  }
                }
              }
            },
            "CompletedTasks": {
              "properties": {
                "request": {
                  "properties": {
                    "CounterMutationStage": {
                      "type": "float"
                    },
                    "MutationStage": {
                      "type": "float"
                    },
                    "ReadRepairStage": {
                      "type": "float"
                    },
                    "ReadStage": {
                      "type": "float"
                    },
                    "RequestResponseStage": {
                      "type": "float"
                    }
                  }
                }
              }
            },
            "CurrentlyBlockedTasks": {
              "properties": {
                "request": {
                  "properties": {
                    "CounterMutationStage": {
                      "properties": {
                        "count": {
                          "type": "float"
                        }
                      }
                    },
                    "MutationStage": {
                      "properties": {
                        "count": {
                          "type": "float"
                        }
                      }
                    },
                    "ReadRepairStage": {
                      "properties": {
                        "count": {
                          "type": "float"
                        }
                      }
                    },
                    "ReadStage": {
                      "properties": {
                        "count": {
                          "type": "float"
                        }
                      }
                    },
                    "RequestResponseStage": {
                      "properties": {
                        "count": {
                          "type": "float"
                        }
                      }
                    }
                  }
                }
              }
            },
            "MaxPoolSize": {
              "properties": {
                "request": {
                  "properties": {
                    "CounterMutationStage": {
                      "type": "float"
                    },
                    "MutationStage": {
                      "type": "float"
                    },
                    "ReadRepairStage": {
                      "type": "float"
                    },
                    "ReadStage": {
                      "type": "float"
                    },
                    "RequestResponseStage": {
                      "type": "float"
                    }
                  }
                }
              }
            },
            "PendingTasks": {
              "properties": {
                "request": {
                  "properties": {
                    "CounterMutationStage": {
                      "type": "float"
                    },
                    "MutationStage": {
                      "type": "float"
                    },
                    "ReadRepairStage": {
                      "type": "float"
                    },
                    "ReadStage": {
                      "type": "float"
                    },
                    "RequestResponseStage": {
                      "type": "float"
                    }
                  }
                }
              }
            },
            "TotalBlockedTasks": {
              "properties": {
                "request": {
                  "properties": {
                    "CounterMutationStage": {
                      "properties": {
                        "count": {
                          "type": "float"
                        }
                      }
                    },
                    "MutationStage": {
                      "properties": {
                        "count": {
                          "type": "float"
                        }
                      }
                    },
                    "ReadRepairStage": {
                      "properties": {
                        "count": {
                          "type": "float"
                        }
                      }
                    },
                    "ReadStage": {
                      "properties": {
                        "count": {
                          "type": "float"
                        }
                      }
                    },
                    "RequestResponseStage": {
                      "properties": {
                        "count": {
                          "type": "float"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "host": {
          "type": "ip"
        },
        "hostname": {
          "type": "keyword",
          "ignore_above": 256
        },
        "keyspace": {
          "type": "keyword",
          "ignore_above": 256
        },
        "port": {
          "type": "long"
        },
        "rac": {
          "type": "keyword",
          "ignore_above": 256
        },
        "role": {
          "type": "keyword",
          "ignore_above": 256
        },
        "type": {
          "type": "keyword",
          "ignore_above": 256
        },
        "user": {
          "type": "keyword",
          "ignore_above": 256
        }
      }
    }
  }
}
