input {
{% for host in groups[node_site+'-redis'] %}
    redis {
        host => "{{host+admin_suffix}}"
        data_type => "list"
        key => "healthstation"
        codec => json
      }
{% endfor %}
    graphite {
        port => 2003
        type => 'graphite'
    }
}

filter {
  if [type] in [ "mxLog", "capdLog", "pabdLog", "razorgateLog" ] {
    grok {
      patterns_dir => "/usr/share/logstash/patterns"
      match => { "message" => [ "%{MXLOG}", "%{MXCONTROLTIMESTAMP:timestamp} : %{GREEDYDATA:data}", "%{GREEDYDATA:data}" ]}
    }
    grok {
      match => { "data" => [ "%{WORD:event}\(\d+/\d+\) (?:\[%{IP:fromhost}\])?(?:%{MXMSGID:msgid}:%{INT:mbox})?(?:%{WORD:op}:)?(?:user=%{USERNAME:user}@%{HOSTNAME:domain})?(?:%{DATA})?(?::mbox=%{INT:mbox})?(?:%{DATA})?(?::mss=%{HOSTNAME:mss})?(?::from=<%{DATA:from}>)?(?::fldr=%{WORD:fldr})?(?::msgid=%{MXMSGID:msgid})?(?::msgid=%{MXORIGMSGID:origmsgid})?(?::origMsgid=%{MXORIGMSGID:origmsgid})?(?:%{DATA})?(?::size=%{INT:size:int})?(?::cmd=%{MXCMD:cmd})?(?::rme=%{WORD:rme})?(?::port=%{INT:port:int})?(?::fromhost=%{IP:fromhost})?(?::fromport=%{INT:fromport:int})?(?::localAddr=%{IP:localaddr})?(?::localAddr=\[%{IP:localaddr}\])?(?::sid=%{MXMSGID:sid})?(?::docid=%{MXMSGID:docid})?(?::respcode=%{WORD:respcode})?(?::resptime=%{INT:resptime:int})?", "%{WORD:event}\(\d+/\d+\)?(\s+)?(?:\[%{IP:fromhost}\])?(?:%{MXMSGID:msgid}:%{INT:mbox})?(?:%{WORD:op}:)?(?:user=%{USERNAME:user}@%{HOSTNAME:domain})?(?:%{DATA})?(?::mbox=%{INT:mbox})?(?:%{DATA})?(?::mss=%{HOSTNAME:mss})?(?::from=<%{DATA:from}>)?(?::fldr=%{WORD:fldr})?(?::msgid=%{MXMSGID:msgid})?(?::msgid=%{MXORIGMSGID:origmsgid})?(?::origMsgid=%{MXORIGMSGID:origmsgid})?(?:%{DATA})?(?::size=%{INT:size:int})?(?::cmd=%{MXCMD:cmd})?(?::rme=%{WORD:rme})?(?::port=%{INT:port:int})?(?::fromhost=%{IP:fromhost})?(?::fromport=%{INT:fromport:int})?(?::localAddr=%{IP:localaddr})?(?::localAddr=\[%{IP:localaddr}\])?(?::sid=%{MXMSGID:sid})?(?::docid=%{MXMSGID:docid})?(?::respcode=%{WORD:respcode})?(?::resptime=%{INT:resptime:int})?", "%{GREEDYDATA:data}" ] }
    }
    date {
      match => ["timestamp","yyyyMMdd HHmmssSSSZ", "EEE MMM d HH:mm:ss ZZZ yyyy"]
    }
  } else if [type] in [ "mxStat", "capdStat", "pabdStat" ] {
    grok {
      patterns_dir => "/usr/share/logstash/patterns"
      match => { "message" => [ "%{MXSTATPERF}", "%{MXSTATPERF2}", "%{MXSTATCOUNTER}", "%{MXSTATEXTCOUNTER}", "%{MXSTATEXTCOUNTER2}", "%{MXSTATPOOL}", "%{MXPABCALLONGSTAT}" ] }
    }
    date {
      match => ["timestamp","yyyyMMdd HHmmssSSSZ"]
    }
  } else if [type] == "mxosLog"  {
    grok {
      patterns_dir => "/usr/share/logstash/patterns"
      match => { "message" => [ "%{MOSDATE:timestamp}\s*%{LOGLEVEL:severity}\s*\[.*\]\s*%{WORD:className}\:%{WORD:functionName}\:%{WORD:lineNumber}\s*-\s*%{GREEDYDATA:data}", "%{GREEDYDATA:data}" ] }
    }
    date {
      match => ["timestamp","dd-MM-yyyy HH:mm:ss,SSS"]
    }
  } else  if [type] == "mxosStat" {
    grok{
      patterns_dir => "/usr/share/logstash/patterns"
      match => ["message", "%{MOSDATE:timestamp}\s*\-\s*%{WORD:name}\s*%{WORD:request}\s*%{INT:min:int}/%{INT:max:int}/%{INT:avg:int} ns %{INT:errors:int}/%{INT:timeouts:int}/%{INT:total:int}"]
    }
    date {
      match => ["timestamp","dd-MM-yyyy HH:mm:ss,SSS"]
    }
  } else if [type] == "qsLog" {
    grok {
      match =>{ "message" => [ "%{TIMESTAMP_ISO8601:timestamp}\[%{DATA:thread}\]%{LOGLEVEL:severity}\s*%{DATA:className}\s\-%{GREEDYDATA:data}", "%{GREEDYDATA:data}" ] }
    }
    date {
      match => ["timestamp","yyyy-MM-dd HH:mm:ss,SSS"]
    }
  } else if [type] == "qsStat" {
    grok {
      match => ["message", "%{TIMESTAMP_ISO8601:timestamp}\s+%{WORD:name}:%{WORD:request}\s+%{INT:min:int}/%{INT:avg:int}/%{INT:max:int} \[ms\] %{INT:success:int}/%{INT:errors:int}/%{INT:total:int}"]
    }
    date {
      match => ["timestamp","yyyy-MM-dd HH:mm:ss"]
    }
  } else if [type] == "cassandraData" {
    grok {
      match => { "message" => [ "%{WORD:severity}\s*\[%{DATA:code}\]\s*%{TIMESTAMP_ISO8601:timestamp}\s*%{DATA:className}\s-\s%{GREEDYDATA:data}", "%{GREEDYDATA:data}" ] }
    }
    date {
      match => ["timestamp","yyyy-MM-dd HH:mm:ss,SSS"]
    }
  } else if [type] == "webtopLog" {
    grok {
      match => { "message" => ["%{TIMESTAMP_ISO8601:timestamp}\s\((?:%{IPORHOST:fromhost}\s+%{DATA:event}\s%{NUMBER}\s%{DATA:sid}\s%{DATA:user}\s%{DATA:user})?(?:\s+)?\)\s%{WORD:severity}\s+%{DATA}\s+-\s+(?:Done:\s+%{INT:resptime:int}\s+ms.)?%{GREEDYDATA:data}", "%{GREEDYDATA:data}" ] }
    }
    date {
      match => ["timestamp","yyyy-MM-dd HH:mm:ss,SSS"]
    }
  } else if [type] == "webtopStat" {
    grok {
      match => { "message" => [ "%{TIMESTAMP_ISO8601:timestamp}\s+%{WORD:name}\s+%{INT:counter:int}$", "%{TIMESTAMP_ISO8601:timestamp}\s+%{WORD:name}\s+%{DATA:request}\s+%{INT:counter:int}\s+%{INT:min:int}/%{INT:avg:int}/%{INT:max:int} \[ms\]$", "%{TIMESTAMP_ISO8601:timestamp}\s+%{WORD:name}\s+%{DATA:request}\s+%{INT:counter:int}/%{INT:errors:int}\s+%{INT:min:int}/%{INT:avg:int}/%{INT:max:int} \[ms\]$"] }
    }
    date {
      match => ["timestamp","yyyy-MM-dd HH:mm:ss"]
    }
  } else if [type] == "webtopAnalytics" {
        grok {
          match => { "message" => [ '%{TIMESTAMP_ISO8601:timestamp}(?: hostname="%{DATA}")?(?: servername="%{DATA}")?(?: api="%{DATA:op}")?(?: remoteaddr="%{DATA:fromhost}")?(?: remoteport="%{INT:fromport}" )?(?: useragent="%{DATA:useragent}")?(?: application="%{DATA:op}")?(?: sessionid="%{DATA:sid}")?(?: userid="%{DATA:user}")?(?: username="%{DATA:user}")?(?: email="%{DATA:user}")?(?: service="%{DATA:event}")?(?: action="%{DATA:event}")?(?: method="%{DATA:event}")?(?: error="%{DATA:error}")?(?: duration="%{INT:resptime:int}")?'] }
        }
        date {
          match => ["timestamp","yyyy-MM-dd HH:mm:ss:SSSZ"]
        }
  } else if [type] == "mediaLog" {
    grok {
      match => { "message" => [ "%{TIMESTAMP_ISO8601:timestamp}\s%{DATA:className}\s\(.*?\)\s*%{LOGLEVEL:severity}\s*%{DATA:code}\s-\s%{GREEDYDATA:data}", "%{GREEDYDATA:data}" ] }
    }
    date {
      match => ["timestamp","yyyy-MM-dd HH:mm:ss,SSS"]
    }
  } else if [type] == "provLog" {
    grok {
      match => { "message" => [ "%{TIMESTAMP_ISO8601:timestamp}\|%{GREEDYDATA:data}", "%{GREEDYDATA:data}" ] }
    }
    date {
      match => ["timestamp","yyyy-MM-dd HH:mm:ss,SSS"]
    }
  } else if [type] == "dacLog" {
    grok {
      match => { "message" => [ "%{TIMESTAMP_ISO8601:timestamp}\s\[.*?\]\s\[.*?\]\s\[.*?\]\s%{LOGLEVEL:severity}\s%{GREEDYDATA:data}", "%{GREEDYDATA:data}" ] }
    }
    date {
      match => ["timestamp","yyyy-MM-dd HH:mm:ss,SSS"]
    }
  } else if [type] == "nginxAccess" {
    grok{
      match => ["message","%{IPORHOST:clientip}\s*-\s*-\s*\[%{HTTPDATE:timestamp}\]\s*\"%{WORD:verb}\s*%{URIPATHPARAM:data}\s*HTTP/%{NUMBER:httpversion}\"\s*%{NUMBER:response}\s*(?:%{NUMBER:bytes}|-)\s*(?:\"(?:%{URI:referrer}|-)\"|%{QS:referrer})\s*%{QS:agent}"]
    }
    date {
      match => ["timestamp","dd/MMM/yyyy:HH:mm:ss Z"]
    }
    mutate {
      add_field => { "severity" => "INFO" }
    }
  } else if [type] == "nginxError" {
    grok{
      match => ["message", "%{YEAR}/%{MONTHNUM}/%{MONTHDAY}\s*%{TIME}\s*\[%{WORD:level}\]\s*(?<ProcessID>[0-9]*\#?[0-9]):\s*%{GREEDYDATA:data}"]
    }
    mutate {
      add_field => { "severity" => "ERROR" }
    }
  } else if [type] == "auditLog" {
    mutate {
      rename => { "message" => "data" }
    }
  } else if [type] == "messagesLog" {
    grok{
      match => { "message" => [ "%{SYSLOGBASE}", "%{GREEDYDATA:data}" ] }
    }
    mutate{
      rename => { "message" => "data" }
      add_field => { "service" => "%{program}" }
    }
    if 'cassandra' in [service] {
      grok{
        match => { "data" => [ "%{SYSLOGTIMESTAMP:junk}\s+(.*?)\s%{DATA:junk}:\s%{LOGLEVEL:severity}\s+(.*?)\s+%{GREEDYDATA:data}", "%{SYSLOGTIMESTAMP:junk}\s+(.*?)\s%{DATA:junk}:\s+%{GREEDYDATA:data}" ] }
      }
    }
    date {
      match => ["timestamp", "MMM dd YYY HH:mm:ss", "MMM  d YYY HH:mm:ss", "MMM dd HH:mm:ss", "MMM  d HH:mm:ss", "ISO8601"]
    }
  } else if [type] == "redisLog" {
    grok{
        patterns_dir => "/usr/share/logstash/patterns"
        match => { "message" => [ "%{REDISLOG}", "%{GREEDYDATA:data}" ] }
    }
    mutate{
      rename => { "message" => "data" }
    }
    date {
      match => ["timestamp", "dd MMM HH:mm:ss.SSS"]
    }
  } else if [type] == "logstashLog" {
    grok{
      match => { "message" => [ "\[%{TIMESTAMP_ISO8601:timestamp}\]\[%{LOGLEVEL:severity}.*?\]\[%{DATA:className}\]%{GREEDYDATA:data}", "%{GREEDYDATA:data}" ] }
    }
    date {
      match => [ "timestamp", "ISO8601" ]
    }
  } else if [type] == "elasticsearchLog" {
    grok{
      match => { "message" => [ "\[%{TIMESTAMP_ISO8601:timestamp}\]\[%{LOGLEVEL:severity}.*?\]\[%{DATA:className}\]\s+\[%{WORD:client}\]%{GREEDYDATA:data}", "%{TIMESTAMP_ISO8601:timestamp}\s+%{LOGLEVEL:severity}\s+%{GREEDYDATA:data}", "\[%{TIMESTAMP_ISO8601:timestamp}\]\[%{LOGLEVEL:severity}\s+\]\[%{DATA:className}\](?:\s+)?\[%{IPORHOST:client}\]%{GREEDYDATA:data}", "%{GREEDYDATA:data}" ] }
    }
    date {
      match => [ "timestamp", "ISO8601", "YYYY-MM-dd HH:mm:ss,SSS" ]
    }
  } else if [type] == "hirundoLog" {
    grok {
      match => { "message" => [ "%{TIMESTAMP_ISO8601:timestamp}\s+\[%{DATA:thread}\]\s+%{LOGLEVEL:severity}\s+%{DATA:className} - %{GREEDYDATA:data}", "%{TIME:timestamp}\s+\[%{DATA:thread}\]\s+%{LOGLEVEL:severity}\s+%{DATA:className} - %{GREEDYDATA:data}" ] }
    }
    date {
      match => [ "timestamp", "YYYY-MM-dd HH:mm:ss.SSS", "HH:mm:ss.SSS"]
    }
  } else if [type] == "graphite" {
    grok {
      match => { "message" => [ "%{DATA:junk}\s" ] }
    }
    grok {
      match => { "junk" => [ "%{DATA:rac}__%{DATA:user}__%{DATA:hostname}__%{DATA:keyspace}__%{DATA:role}__\.org\.apache\.cassandra\.metrics\.%{GREEDYDATA:property}",
                             "%{DATA:rac}__%{DATA:user}__%{DATA:hostname}__%{DATA:keyspace}__%{DATA:role}__\.+jvm\.+%{GREEDYDATA:property}",
                             "%{DATA:rac}__%{DATA:user}__%{DATA:hostname}__%{DATA:keyspace}__%{DATA:role}__\.+%{GREEDYDATA:property}" ] }
    }
    if [property] == "Compaction.PendingTasks.value" {
      mutate {
        rename => { "%{junk}" => "Compaction.PendingTasks" }
      }
    } else if [property] == "Compaction.CompletedTasks.value" {
      mutate {
        rename => { "%{junk}" => "Compaction.CompletedTasks" }
      }
    } else {
      mutate {
        rename => { "%{junk}" => "%{property}" }
      }
    }
    mutate {
      remove_field => [ "property" ]
    }
  } else if [type] != "metricsets" {
    mutate {
      add_tag =>  [ "hs_raw_data" ]
    }
  }
  if !("_grokparsefailure" in [tags]) and !("_dateparsefailure" in [tags]) and !("hs_raw_data" in [tags]) {
    mutate {
      remove_field => ["message", "input_type", "offset", "junk", "program", "logsource", "className", "lineNumber", "thread", "functionName" ]
    }
  }
  mutate {
    remove_field => [ "timestamp" ]
    rename => { "data" => "message" }
  }
}

output {
    if [type] == 'metricsets' {
        elasticsearch {
            hosts => ["{{ groups[node_site+'-elk'] | join (':'+( elasticsearch_port | string ) +'","') }}:{{ elasticsearch_port }}"]
            index => "metricbeat-%{+YYYY.MM.dd}"
            document_type => "metricbeat"
            template => "/etc/metricbeat/metricbeat.template.json"
            template_name => "metricbeat"
            template_overwrite => true
        }
    } else if [type] in [ "mxStat", "capdStat", "pabdStat", "mxosStat", "qsStat", "webtopStat" ] {
        elasticsearch {
            hosts => ["{{ groups[node_site+'-elk'] | join (':'+( elasticsearch_port | string ) +'","') }}:{{ elasticsearch_port }}"]
            index => "mxstatbeat-%{+YYYY.MM.dd}"
            document_type => "mxstatbeat"
            template => "/etc/logstash/mxstatbeat.template.json"
            template_name => "mxstatbeat"
            template_overwrite => true
        }
{% if logstash_execbeat_enabled == 'true' %}
    } else if [type] == 'execbeat' {
        elasticsearch {
            hosts => ["{{ groups[node_site+'-elk'] | join (':'+( elasticsearch_port | string ) +'","') }}:{{ elasticsearch_port }}"]
            index => "execbeat-%{+YYYY.MM.dd}"
            document_type => "execbeat"
            template => "/etc/execbeat/execbeat.template.json"
            template_name => "execbeat"
            template_overwrite => true
        }
{% endif %}
    } else if [type] == 'graphite' {
      elasticsearch {
          hosts => ["{{ groups[node_site+'-elk'] | join (':'+( elasticsearch_port | string ) +'","') }}:{{ elasticsearch_port }}"]
          index => "graphite-%{+YYYY.MM.dd}"
          document_type => "graphite"
          template => "/etc/logstash/graphite.template.json"
          template_name => "graphite"
          template_overwrite => true
      }
    } else if [service] in [ '{{ elasticsearch_mx_services | join ("', '") }}' ] {
      elasticsearch {
          hosts => ["{{ groups[node_site+'-elk'] | join (':'+( elasticsearch_port | string ) +'","') }}:{{ elasticsearch_port }}"]
          index => "services-%{+YYYY.MM.dd}"
          document_type => "services"
          template => "/etc/logstash/services.template.json"
          template_name => "services"
          template_overwrite => true
      }
    } else {
        elasticsearch {
            hosts => ["{{ groups[node_site+'-elk'] | join (':'+( elasticsearch_port | string ) +'","') }}:{{ elasticsearch_port }}"]
            index => "messages-%{+YYYY.MM.dd}"
            document_type => "messages"
            template => "/etc/logstash/messages.template.json"
            template_name => "messages"
            template_overwrite => true
        }
    }
#stdout { codec => rubydebug }
}
