{
  "order": 1,
  "settings": {
    {% if elasticsearch_on_hdd == 'true' %}
    "index.merge.scheduler.max_thread_count": 1,
    {% endif %}
    "index.refresh_interval": "{{elasticsearch_index_refresh_interval}}",
    "index.number_of_replicas": {{elasticsearch_logfiles_replicas}},
    "number_of_shards": {{elasticsearch_number_of_shards}}
  },
 "template": "mxstatbeat-*",
   "mappings": {
    "_default_": {
    	"_all": {
    		"norms": false,
        "enabled": false
    	},
    	"_meta": {
    		"version": "5.6.2"
    	},
      "properties": {
        "@timestamp": {
          "type": "date"
        },
        "@version": {
          "type": "text",
          "fields": {
            "keyword": {
              "type": "keyword",
              "ignore_above": 256
            }
          }
        },
        "above_thrld": { "type": "long" },
        "avg": { "type": "long" },
        "avg_unit": {
          "type": "keyword",
          "ignore_above": 256
        },
        "beat": {
          "properties": {
            "hostname": {
              "ignore_above": 1024,
              "type": "keyword"
            },
            "name": {
              "ignore_above": 1024,
              "type": "keyword"
            },
            "version": {
              "ignore_above": 1024,
              "type": "keyword"
            }
          }
        },
        "error": {
          "ignore_above": 1024,
          "type": "keyword"
        },
        "fileset": {
          "properties": {
            "module": {
              "ignore_above": 1024,
              "type": "keyword"
            },
            "name": {
              "ignore_above": 1024,
              "type": "keyword"
            }
          }
        },
        "meta": {
          "properties": {
            "cloud": {
              "properties": {
                "availability_zone": {
                  "ignore_above": 1024,
                  "type": "keyword"
                },
                "instance_id": {
                  "ignore_above": 1024,
                  "type": "keyword"
                },
                "machine_type": {
                  "ignore_above": 1024,
                  "type": "keyword"
                },
                "project_id": {
                  "ignore_above": 1024,
                  "type": "keyword"
                },
                "provider": {
                  "ignore_above": 1024,
                  "type": "keyword"
                },
                "region": {
                  "ignore_above": 1024,
                  "type": "keyword"
                }
              }
            }
          }
        },
        "offset": {
          "type": "long"
        },
        "read_timestamp": {
          "ignore_above": 1024,
          "type": "keyword"
        },
        "below_thrld":  { "type": "long" },
        "counter":  { "type": "long" },
        "curr":  { "type": "long" },
        "errors": { "type": "long" },
        "input_type": {
          "ignore_above": 1024,
          "type": "keyword"
        },
        "label": {
          "type": "keyword",
          "ignore_above": 256
        },
        "max":  { "type": "long" },
        "max_time":  { "type": "long" },
        "message": {
          "norms": false,
          "type": "text",
          "index": "not_analyzed"
        },
        "min":  { "type": "long" },
        "min_time":  { "type": "long" },
        "offset": {
          "type": "long"
        },
        "name": {
          "type": "keyword",
          "ignore_above": 256
        },
        "ops":  { "type": "long" },
        "ops_unit": {
          "type": "keyword",
          "ignore_above": 256
        },
        "ops_unit_time": {
          "type": "keyword",
          "ignore_above": 256
        },
        "pool_":  { "type": "long" },
        "pool_cfgmax": { "type": "long" },
        "pool_cfgmin":  { "type": "long" },
        "pool_curr":  { "type": "long" },
        "pool_max":  { "type": "long" },
        "pool_min":  { "type": "long" },
        "pool_minthr": { "type": "long" },
        "queue_add": { "type": "long" },
        "queue_curr": { "type": "long" },
        "queue_max":  { "type": "long" },
        "queue_min": { "type": "long" },
        "queue_notacq": { "type": "long" },
        "queue_notacqthrld": { "type": "long" },
        "queue_remove": { "type": "long" },
        "queue_thrld": { "type": "long" },
        "request": {
          "type": "keyword",
          "ignore_above": 256
        },
        "res_begin": { "type": "long" },
        "res_created":  { "type": "long" },
        "res_destroyed":  { "type": "long" },
        "res_end":  { "type": "long" },
        "res_idle":  { "type": "long" },
        "res_wrkg":  { "type": "long" },
        "service": {
          "type": "keyword",
          "ignore_above": 256
        },
        "source": {
          "ignore_above": 1024,
          "type": "keyword"
        },
        "srv_avg":  { "type": "long" },
        "srv_max":  { "type": "long" },
        "srv_min":  { "type": "long" },
        "srv_thr":  { "type": "long" },
        "srv_var":  { "type": "long" },
        "success":  { "type": "long" },
        "tags": {
          "type": "keyword",
          "ignore_above": 1024
        },
        "threshold":  { "type": "long" },
        "timeouts": { "type": "long" },
        "total":  { "type": "long" },
        "total_time":  { "type": "long" },
        "type": {
          "type": "keyword",
          "ignore_above": 1024
        },
        "variance":  { "type": "long" },
        "wait_avg":  { "type": "long" },
        "wait_max":  { "type": "long" },
        "wait_min":  { "type": "long" },
        "wait_thr":  { "type": "long" },
        "wait_var":  { "type": "long" }
      }
    }
  }
}
