{
  "order": 1,
  "settings": {
    {% if elasticsearch_on_hdd == 'true' %}
    "index.merge.scheduler.max_thread_count": 1,
    {% endif %}
    "index.number_of_replicas": {{elasticsearch_logfiles_replicas}},
    "index.mapping.total_fields.limit": 1000,
    "index.refresh_interval": "{{elasticsearch_index_refresh_interval}}",
    "number_of_shards": {{elasticsearch_number_of_shards}}
  },
  "template": "services-*",
  "aliases": {
    "last_3_months": {}
  },
  "mappings": {
    "_default_": {
      "_all": {
        "enabled": false
      },
      "_meta": {
        "version": "5.6.2"
      },
      "date_detection": false,
      "dynamic_templates": [
        {
          "strings_as_keyword": {
            "mapping": {
              "ignore_above": 1024,
              "type": "keyword"
            },
            "match_mapping_type": "string"
          }
        }
      ],
      "properties": {
        "@timestamp": {
          "type": "date"
        },
        "beat": {
          "properties": {
            "hostname": {
              "ignore_above": 1024,
              "type": "keyword"
            },
            "name": {
              "ignore_above": 1024,
              "type": "keyword"
            },
            "version": {
              "ignore_above": 1024,
              "type": "keyword"
            }
          }
        },
        "error": {
          "ignore_above": 1024,
          "type": "keyword"
        },
        "fileset": {
          "properties": {
            "module": {
              "ignore_above": 1024,
              "type": "keyword"
            },
            "name": {
              "ignore_above": 1024,
              "type": "keyword"
            }
          }
        },
        "input_type": {
          "ignore_above": 1024,
          "type": "keyword"
        },
        "message": {
          "norms": false,
          "type": "text",
          "index": "not_analized"
        },
        "meta": {
          "properties": {
            "cloud": {
              "properties": {
                "availability_zone": {
                  "ignore_above": 1024,
                  "type": "keyword"
                },
                "instance_id": {
                  "ignore_above": 1024,
                  "type": "keyword"
                },
                "machine_type": {
                  "ignore_above": 1024,
                  "type": "keyword"
                },
                "project_id": {
                  "ignore_above": 1024,
                  "type": "keyword"
                },
                "provider": {
                  "ignore_above": 1024,
                  "type": "keyword"
                },
                "region": {
                  "ignore_above": 1024,
                  "type": "keyword"
                }
              }
            }
          }
        },
        "offset": {
          "type": "long"
        },
        "read_timestamp": {
          "ignore_above": 1024,
          "type": "keyword"
        },
        "source": {
          "ignore_above": 1024,
          "type": "keyword"
        },
        "tags": {
          "ignore_above": 1024,
          "type": "keyword"
        },
        "type": {
          "ignore_above": 1024,
          "type": "keyword"
        },
        "respcode": {
          "type": "keyword",
          "ignore_above": 1024
        },
        "mbox": {
          "type": "keyword",
          "ignore_above": 1024
        },
        "resptime": {
          "type": "long"
        },
        "size": {
          "type": "long"
        },
        "domain": {
          "type": "keyword",
          "ignore_above": 1024
        },
        "cmd": {
          "type": "keyword",
          "ignore_above": 1024
        },
        "lineNumber": {
          "type": "keyword",
          "ignore_above": 1024
        },
        "useragent": {
          "type": "keyword",
          "ignore_above": 1024
        },
        "className": {
          "type": "keyword",
          "ignore_above": 1024
        },
        "event": {
          "type": "keyword",
          "ignore_above": 1024
        },
        "msgid": {
          "type": "keyword",
          "ignore_above": 1024
        },
        "junk": {
          "type": "keyword",
          "ignore_above": 1024
        },
        "fromhost": {
          "type": "ip"
        },
        "rme": {
          "type": "keyword",
          "ignore_above": 1024
        },
        "mss": {
          "type": "keyword",
          "ignore_above": 1024
        },
        "from": {
          "type": "keyword",
          "ignore_above": 1024
        },
        "port": {
          "type": "long"
        },
        "sid": {
          "type": "keyword",
          "ignore_above": 1024
        },
        "client": {
          "type": "keyword",
          "ignore_above": 1024
        },
        "severity": {
          "type": "keyword",
          "ignore_above": 1024
        },
        "op": {
          "type": "keyword",
          "ignore_above": 1024
        },
        "origmsgid": {
          "type": "keyword",
          "ignore_above": 1024
        },
        "functionName": {
          "type": "keyword",
          "ignore_above": 1024
        },
        "docid": {
          "type": "keyword",
          "ignore_above": 1024
        },
        "thread": {
          "type": "keyword",
          "ignore_above": 1024
        },
        "message": {
          "type": "text",
          "norms": false
        },
        "localaddr": {
          "type": "ip"
        },
        "service": {
          "type": "keyword",
          "ignore_above": 1024
        },
        "fromport": {
          "type": "long"
        },
        "fldr": {
          "type": "keyword",
          "ignore_above": 1024
        },
        "user": {
          "type": "keyword",
          "ignore_above": 1024
        }
      }
    }
  }
}
