#!/bin/bash

CHECK=true

while $CHECK; do
if [ "running" != "$(runuser -l {{cass_user[0].username}} -g {{cass_user[0].username}} -c 'nohup {{cass_user[0].home}}/cassandra-blob/cassandra/bin/nodetool statusbinary')" ];
    then echo "Waiting..."
    CHECK=true
    sleep 5
else
    CHECK=false
    echo "Cassandra is UP"
    sleep 5
fi
done