#!/bin/bash

# Lock the config server
runuser -l {{emailmx_user[0].username}} -g {{ emailmx_user[0].username if users_create_per_user_group else users_group }} -c 'imconfcontrol -lockserver'

{% for node_site in sites %}
{% if groups[node_site+'-directory'] is defined and groups[node_site+'-pabcal']|length > 0 and calclusters|length > 0 %}
{% for cal_cluster_key in calclusters %}

# Set the eureka.enabled key in config.db
runuser -l {{emailmx_user[0].username}} -g {{ emailmx_user[0].username if users_create_per_user_group else users_group }} -c 'imconfcontrol -install -nobroadcast -key ""/{{node_site}}-{{cal_cluster_key}}/capd/eureka.enabled"="true""'

# Set the eureka.serviceUrl.{{cal_cluster_key}} key in config.db
runuser -l {{emailmx_user[0].username}} -g {{ emailmx_user[0].username if users_create_per_user_group else users_group }} -c 'imconfcontrol -install -nobroadcast -key ""/{{node_site}}-{{cal_cluster_key}}/capd/eureka.serviceUrl.{{cal_cluster_key}}"="http://{{ groups[node_site+'-directory'] | join (':'+( eureka_port | string ) +'/eureka/,http://') }}:{{ ( eureka_port | string ) + '/eureka/' }}""'

# Set the eureka.{{node_site}}.availabilityZones key in config.db
runuser -l {{emailmx_user[0].username}} -g {{ emailmx_user[0].username if users_create_per_user_group else users_group }} -c 'imconfcontrol -install -nobroadcast -key ""/{{node_site}}-{{cal_cluster_key}}/capd/eureka.{{node_site}}.availabilityZones"="{{cal_cluster_key}}""'

# Set the StoragePlugin.ClusterPort key in config.db
runuser -l {{emailmx_user[0].username}} -g {{ emailmx_user[0].username if users_create_per_user_group else users_group }} -c 'imconfcontrol -install -nobroadcast -key ""/{{node_site}}-{{cal_cluster_key}}/capd/StoragePlugin.ClusterPort"="{{cassandra_cal_meta_native_transport_port}}""'

# Set the Settings.DiscoveryVipAddress key in config.db
runuser -l {{emailmx_user[0].username}} -g {{ emailmx_user[0].username if users_create_per_user_group else users_group }} -c 'imconfcontrol -install -nobroadcast -key ""/{{node_site}}-{{cal_cluster_key}}/capd/Settings.DiscoveryVipAddress"="CALENDAR""'

# Set the cal_reminder queue key in config.db
runuser -l {{emailmx_user[0].username}} -g {{ emailmx_user[0].username if users_create_per_user_group else users_group }} -c 'imconfcontrol -install -nobroadcast -key ""/{{node_site}}-{{cal_cluster_key}}/capd/StoragePlugin.QueueReminderName"="{{node_site}}_cal_reminder""'

{% endfor %}
{% endif %}
{% endfor %}

{% if cal_disable_provisioning is defined %}
# Set the Settings.DisableProvisioning key in config.db
runuser -l {{emailmx_user[0].username}} -g {{ emailmx_user[0].username if users_create_per_user_group else users_group }} -c 'imconfcontrol -install -nobroadcast -key ""/*/capd/Settings.DisableProvisioning"="{{cal_disable_provisioning}}""'
{% endif %}

# Configure Reminder SMTP
runuser -l {{emailmx_user[0].username}} -g {{ emailmx_user[0].username if users_create_per_user_group else users_group }} -c 'imconfcontrol -install -nobroadcast -key ""/*/capd/Settings.CalReminderSMTPHost"="127.0.0.1""'
runuser -l {{emailmx_user[0].username}} -g {{ emailmx_user[0].username if users_create_per_user_group else users_group }} -c 'imconfcontrol -install -nobroadcast -key ""/*/capd/Settings.CalReminderSMTPuser"="{{reminder_smtpuser}}""'
runuser -l {{emailmx_user[0].username}} -g {{ emailmx_user[0].username if users_create_per_user_group else users_group }} -c 'imconfcontrol -install -nobroadcast -key ""/*/capd/Settings.CalReminderSMTPpassword"="""'
runuser -l {{emailmx_user[0].username}} -g {{ emailmx_user[0].username if users_create_per_user_group else users_group }} -c 'imconfcontrol -install -nobroadcast -key ""/*/capd/Settings.CalReminderSMTPport"="10025""'

# Unlock the config server
runuser -l {{emailmx_user[0].username}} -g {{ emailmx_user[0].username if users_create_per_user_group else users_group }} -c 'imconfcontrol -unlockserver'
