#! /bin/bash

# Lock the config server
runuser -l {{emailmx_user[0].username}} -g {{ emailmx_user[0].username if users_create_per_user_group else users_group }} -c 'imconfcontrol -lockserver'

# Elasticsearch clusters configuration
{% for site in sites %}
{%   if groups[site+'-qelk'] is defined %}

# site={{ site }}
runuser -l {{emailmx_user[0].username}} -g {{ emailmx_user[0].username if users_create_per_user_group else users_group }} -c 'imconfcontrol -install -nobroadcast -key ""/{{ site }}/common/esConnectionTimeoutInSec"="{{ es_connection_timeout_in_sec }}""'
runuser -l {{emailmx_user[0].username}} -g {{ emailmx_user[0].username if users_create_per_user_group else users_group }} -c 'imconfcontrol -install -nobroadcast -key ""/{{ site }}/common/maxSearchResults"="{{ es_max_search_results }}""'
runuser -l {{emailmx_user[0].username}} -g {{ emailmx_user[0].username if users_create_per_user_group else users_group }} -c 'imconfcontrol -install -nobroadcast -key ""/{{ site }}/common/enableESSync"="{{ es_enable_es_sync }}""'
{%     if es_enable_es_sync == 'true' %}
runuser -l {{emailmx_user[0].username}} -g {{ emailmx_user[0].username if users_create_per_user_group else users_group }} -c 'imconfcontrol -install -nobroadcast -key ""/{{ site }}/common/esClusterName"="{{ queue_search_elasticsearch_clusterName }}""'
runuser -l {{emailmx_user[0].username}} -g {{ emailmx_user[0].username if users_create_per_user_group else users_group }} -c 'imconfcontrol -install -nobroadcast -key ""/{{ site }}/common/esEndpoints"="{{ groups[site+'-qelk'] | join (':' + queue_search_elasticsearch_port|string + '\\\\n') }}:{{ queue_search_elasticsearch_port|string }}""'
{%     else %}
runuser -l {{emailmx_user[0].username}} -g {{ emailmx_user[0].username if users_create_per_user_group else users_group }} -c 'imconfcontrol -install -nobroadcast -key ""/{{ site }}/common/esClusterName""'
runuser -l {{emailmx_user[0].username}} -g {{ emailmx_user[0].username if users_create_per_user_group else users_group }} -c 'imconfcontrol -install -nobroadcast -key ""/{{ site }}/common/esEndpoints""'
{%     endif %}
{%   endif %}
{% endfor %}

# Unlock the config server
runuser -l {{emailmx_user[0].username}} -g {{ emailmx_user[0].username if users_create_per_user_group else users_group }} -c 'imconfcontrol -unlockserver'
