#!/bin/bash

# Lock the config server
runuser -l {{emailmx_user[0].username}} -g {{ emailmx_user[0].username if users_create_per_user_group else users_group }} -c 'imconfcontrol -lockserver'

{% if groups['cassblob']|length > 0 %}
runuser -l {{emailmx_user[0].username}} -c 'imconfcontrol -install -nobroadcast -key ""/*/common/cassandraTotalBlobCFs""=""{{blobmessagecf}}""'
runuser -l {{emailmx_user[0].username}} -c 'imconfcontrol -install -nobroadcast -key ""/*/mss/cassandraBlobWrConsisLevels""=""LOCAL_QUORUM""'
runuser -l {{emailmx_user[0].username}} -c 'imconfcontrol -install -nobroadcast -key ""/*/mss/cassandraMetaRdConsisLevels""=""LOCAL_QUORUM""'
runuser -l {{emailmx_user[0].username}} -c 'imconfcontrol -install -nobroadcast -key ""/*/mss/cassandraMetaWrConsisLevels""=""LOCAL_QUORUM""'
{% endif %}

{% for mighost in groups['migration']|default([]) %}
runuser -l {{emailmx_user[0].username}} -c 'imconfcontrol -install -nobroadcast -key ""/{{ mighost }}/mss/serviceAppName""=""MSS_MAILBOX_SERVICE:MIGMSS""'
{% endfor %}

# Unlock the config server
runuser -l {{emailmx_user[0].username}} -g {{ emailmx_user[0].username if users_create_per_user_group else users_group }} -c 'imconfcontrol -unlockserver'
