#! /bin/bash

# Lock the config server
runuser -l {{emailmx_user[0].username}} -g {{ emailmx_user[0].username if users_create_per_user_group else users_group }} -c 'imconfcontrol -lockserver'

{% for entry in configdb_keys %}
{% if entry.value is defined %}
# configuring {{entry.key}}=[{{entry.value}}]
runuser -l {{emailmx_user[0].username}} -g {{ emailmx_user[0].username if users_create_per_user_group else users_group }} -c 'imconfcontrol -install -nobroadcast -key ""{{entry.key}}"="{{entry.value}}""'
{% else %}
# removing key {{entry.key}}
runuser -l {{emailmx_user[0].username}} -g {{ emailmx_user[0].username if users_create_per_user_group else users_group }} -c 'imconfcontrol -install -nobroadcast -key ""{{entry.key}}""'
{% endif %}
{% endfor %}

# Unlock the config server
runuser -l {{emailmx_user[0].username}} -g {{ emailmx_user[0].username if users_create_per_user_group else users_group }} -c 'imconfcontrol -unlockserver'
