#!/bin/bash

# Lock the config server
runuser -l {{emailmx_user[0].username}} -g {{ emailmx_user[0].username if users_create_per_user_group else users_group }} -c 'imconfcontrol -lockserver'

## This is to configure imboxmaint and assign each node a range of group based

{% for site in sites %}
{% for cluster in clusters %}
{% for host in groups[site+'-mss']|intersect(groups[cluster])|difference(groups[site+'-migration']) %}
{{ host + '=' + (((maintenance_group_number|int)*loop.index0)|string) + '-' + ((((maintenance_group_number|int)*loop.index)-1)|string) + ' ' }}
runuser -l {{emailmx_user[0].username}} -c 'imconfcontrol -install -nobroadcast -key ""/{{host}}/imboxmaint/maintenanceGroupidStart""=""{{(((maintenance_group_number|int)*loop.index0)|string)}}""'
runuser -l {{emailmx_user[0].username}} -c 'imconfcontrol -install -nobroadcast -key ""/{{host}}/imboxmaint/maintenanceGroupidEnd""=""{{((((maintenance_group_number|int)*loop.index)-1)|string)}}""'
{% if loop.last %}
runuser -l {{emailmx_user[0].username}} -c 'imconfcontrol -install -nobroadcast -key ""/{{site}}-{{cluster}}/imboxmaint/clusterName""=""{{cluster}}""'
runuser -l {{emailmx_user[0].username}} -c 'imconfcontrol -install -nobroadcast -key ""/{{site}}-{{cluster}}/common/clusterMaxMaintenanceGroups""=""{{maintenance_group_number|int*loop.index}}""'
{% endif %}
{% endfor %}
{% endfor %}
{% endfor %}

# Unlock the config server
runuser -l {{emailmx_user[0].username}} -g {{ emailmx_user[0].username if users_create_per_user_group else users_group }} -c 'imconfcontrol -unlockserver'
