#! /bin/bash

# Lock the config server
runuser -l {{emailmx_user[0].username}} -g {{ emailmx_user[0].username if users_create_per_user_group else users_group }} -c 'imconfcontrol -lockserver'
{% for site in sites %}{%
	if groups[site+'-searchcass'] is defined %}

# site={{ site }}
runuser -l {{emailmx_user[0].username}} -g {{ emailmx_user[0].username if users_create_per_user_group else users_group }} -c 'imconfcontrol -install -nobroadcast -key ""/{{ site }}/search/cassandraPort"="{{search_cassandra_meta_native_transport_port}}""'
{%		for i in groups[site+'-searchcass'] %}{%
			if loop.last %}
runuser -l {{emailmx_user[0].username}} -g {{ emailmx_user[0].username if users_create_per_user_group else users_group }} -c 'imconfcontrol -install -nobroadcast -key ""/{{ site }}/search/cassandraEndpoints"="{{ groups[site+'-searchcass'] | join ('\\\\n' ) }}""'
{%			endif %}{%
		endfor %}{%
	endif %}{%
endfor %}
{% if groups['search']|default([])|length > 0 %}

runuser -l {{emailmx_user[0].username}} -g {{ emailmx_user[0].username if users_create_per_user_group else users_group }} -c 'imconfcontrol -install -nobroadcast -key ""/*/search/cassandraPort"="{{search_cassandra_meta_native_transport_port}}""'
runuser -l {{emailmx_user[0].username}} -g {{ emailmx_user[0].username if users_create_per_user_group else users_group }} -c 'imconfcontrol -install -nobroadcast -key ""/*/search/cassandraWriteConsistency"="{{search_cassmeta_write_consistency|default('LOCAL_QUORUM')}}""'
runuser -l {{emailmx_user[0].username}} -g {{ emailmx_user[0].username if users_create_per_user_group else users_group }} -c 'imconfcontrol -install -nobroadcast -key ""/*/search/cassandraReadConsistency"="{{search_cassmeta_read_consistency|default('LOCAL_QUORUM')}}""'
runuser -l {{emailmx_user[0].username}} -g {{ emailmx_user[0].username if users_create_per_user_group else users_group }} -c 'imconfcontrol -install -nobroadcast -key ""/*/common/enableSearchServer"="true""'
{% endif %}

# Unlock the config server
runuser -l {{emailmx_user[0].username}} -g {{ emailmx_user[0].username if users_create_per_user_group else users_group }} -c 'imconfcontrol -unlockserver'
