#!/bin/bash

# Lock the config server
runuser -l {{emailmx_user[0].username}} -g {{ emailmx_user[0].username if users_create_per_user_group else users_group }} -c 'imconfcontrol -lockserver'

## Mailbox Aging Configuration
runuser -l {{emailmx_user[0].username}} -c 'imconfcontrol -install -nobroadcast -key ""/*/imboxmaint/mailboxAging"="{{mailbox_aging_enabled}}""'
runuser -l {{emailmx_user[0].username}} -c 'imconfcontrol -install -nobroadcast -key ""/*/imboxmaint/mailboxAgingDeleteEnabled"="{{mailbox_aging_delete_enabled}}""'
runuser -l {{emailmx_user[0].username}} -c 'imconfcontrol -install -nobroadcast -key ""/*/imboxmaint/mailboxAgingMaxAgeDays"="{{mailbox_aging_max_age_days}}""'

# Unlock the config server
runuser -l {{emailmx_user[0].username}} -g {{ emailmx_user[0].username if users_create_per_user_group else users_group }} -c 'imconfcontrol -unlockserver'
