#! /bin/bash

# Lock the config server
runuser -l {{emailmx_user[0].username}} -g {{ emailmx_user[0].username if users_create_per_user_group else users_group }} -c 'imconfcontrol -lockserver'

# Set the userDataContext key in config.db
runuser -l {{emailmx_user[0].username}} -g {{ emailmx_user[0].username if users_create_per_user_group else users_group }} -c 'imconfcontrol -install -nobroadcast -key ""/*/common/userDataContext"="1""'

{% if mxos_ldap_read_through_enabled is not defined or mxos_ldap_read_through_enabled == 'false' %}
# Disable ldapReadThroughEnabled key in config.db
runuser -l {{emailmx_user[0].username}} -g {{ emailmx_user[0].username if users_create_per_user_group else users_group }} -c 'imconfcontrol -install -nobroadcast -key ""/*/mxos/ldapReadThroughEnabled""'
{% else %}
# Enable ldapReadThroughEnabled key in config.db
runuser -l {{emailmx_user[0].username}} -g {{ emailmx_user[0].username if users_create_per_user_group else users_group }} -c 'imconfcontrol -install -nobroadcast -key ""/*/mxos/ldapReadThroughEnabled"="true""'
{% endif %}

# Set the failback Logic
runuser -l {{emailmx_user[0].username}} -g {{ emailmx_user[0].username if users_create_per_user_group else users_group }} -c 'imconfcontrol -install -nobroadcast -key ""/*/mxos/ldapFailbackMinOperations"="{{ mxos_ldap_failback_min_operations | default(5) }}""'

# Set storeUserNameAsEmail key in configdb
runuser -l {{emailmx_user[0].username}} -g {{ emailmx_user[0].username if users_create_per_user_group else users_group }} -c 'imconfcontrol -install -nobroadcast -key ""/*/mxos/storeUserNameAsEmail"="true""'

# Set storeUserNameAsEmail key in config.db
runuser -l {{emailmx_user[0].username}} -g {{ emailmx_user[0].username if users_create_per_user_group else users_group }} -c 'imconfcontrol -install -nobroadcast -key ""/*/mxos/returnUserNameWithDomain"="true""'

# Set LDAP write/update strategy
runuser -l {{emailmx_user[0].username}} -g {{ emailmx_user[0].username if users_create_per_user_group else users_group }} -c 'imconfcontrol -install -nobroadcast -key ""/*/mxos/ldapMasterHostsForWriteEnabled"="true""'

# Set Stats Time Duration (default to 60)
runuser -l {{emailmx_user[0].username}} -g {{ emailmx_user[0].username if users_create_per_user_group else users_group }} -c 'imconfcontrol -install -nobroadcast -key ""/*/mxos/statsTimeDuration"="{{ mxos_stats_time_duration|default(60) }}""'

# Set Stats Time Duration (default to 60)
runuser -l {{emailmx_user[0].username}} -g {{ emailmx_user[0].username if users_create_per_user_group else users_group }} -c 'imconfcontrol -install -nobroadcast -key ""/*/mxos/ldapMaxRetryCount"="{{ mxos_ldap_max_retry_count|default(1) }}""'


{% for node_site in sites %}
{% if groups[node_site+'-directory'] is defined and groups[node_site+'-directory']|length >  0 %}

# site={{node_site}} - Set the eureka.enabled key in config.db
runuser -l {{emailmx_user[0].username}} -g {{ emailmx_user[0].username if users_create_per_user_group else users_group }} -c 'imconfcontrol -install -nobroadcast -key ""/{{node_site}}/mxos/eureka.enabled"="true""'

# site={{node_site}} -Set the eureka.name key in config.db
runuser -l {{emailmx_user[0].username}} -g {{ emailmx_user[0].username if users_create_per_user_group else users_group }} -c 'imconfcontrol -install -nobroadcast -key ""/{{node_site}}/mxos/eureka.name"="MAILBOXSERVICE""'

# site={{node_site}} -Set the eureka.port key in config.db
runuser -l {{emailmx_user[0].username}} -g {{ emailmx_user[0].username if users_create_per_user_group else users_group }} -c 'imconfcontrol -install -nobroadcast -key ""/{{node_site}}/mxos/eureka.port"="{{mos_listening_port}}""'

# site={{node_site}} -Set the eureka.region key in config.db
runuser -l {{emailmx_user[0].username}} -g {{ emailmx_user[0].username if users_create_per_user_group else users_group }} -c 'imconfcontrol -install -nobroadcast -key ""/{{node_site}}/mxos/eureka.region"="{{node_site}}""'

# site={{node_site}} -Set the eureka.{{node_site}}.availabilityZones key in config.db
runuser -l {{emailmx_user[0].username}} -g {{ emailmx_user[0].username if users_create_per_user_group else users_group }} -c 'imconfcontrol -install -nobroadcast -key ""/{{node_site}}/mxos/eureka.{{node_site}}.availabilityZones"="cluster1""'

# site={{node_site}} -Set the eureka.serviceUrl.cluster1 key in config.db
runuser -l {{emailmx_user[0].username}} -g {{ emailmx_user[0].username if users_create_per_user_group else users_group }} -c 'imconfcontrol -install -nobroadcast -key ""/{{node_site}}/mxos/eureka.serviceUrl.cluster1"="http://{{ groups[node_site+'-directory'] | join (':'+( eureka_port | string ) +'/eureka/,http://') }}:{{ ( eureka_port | string ) + '/eureka/' }}""'

{% for host in groups[node_site+'-directory']|union(groups[node_site+'-secondarydirectory'])|union(groups[node_site+'-mos']) %}

{% if host in groups[node_site+'-provisioner'] %}
# site={{node_site}} host={{host}} - Provisioner LDAP/MxOS configuration
runuser -l {{emailmx_user[0].username}} -g {{ emailmx_user[0].username if users_create_per_user_group else users_group }} -c 'imconfcontrol -install -nobroadcast -key ""/{{host}}/imdirserv/ldapServerHosts""'
{% if mos_dedicated_provisioner == 'true' %}
runuser -l {{emailmx_user[0].username}} -g {{ emailmx_user[0].username if users_create_per_user_group else users_group }} -c 'imconfcontrol -install -nobroadcast -key ""/{{host}}/mxos/eureka.name"="PROVMAILBOXSERVICE""'
{% else %}
runuser -l {{emailmx_user[0].username}} -g {{ emailmx_user[0].username if users_create_per_user_group else users_group }} -c 'imconfcontrol -install -nobroadcast -key ""/{{host}}/mxos/eureka.name"="MAILBOXSERVICE""'
{% endif %}
{% elif host in groups[node_site+'-directory']|union(groups[node_site+'-secondarydirectory']) %}
{% if hostvars[host]['primary'] is defined %}
# site={{node_site}} host={{host}} - Mx LDAP/MxOS configuration (Primary)
runuser -l {{emailmx_user[0].username}} -g {{ emailmx_user[0].username if users_create_per_user_group else users_group }} -c 'imconfcontrol -install -nobroadcast -key ""/{{host}}/imdirserv/ldapServerHosts"="{{groups[node_site+'-directory']|union(groups[node_site+'-secondarydirectory'])|difference([host])|shuffle|join('\\ ') + '\\ ' + host}}""'
{% else %}
# site={{node_site}} host={{host}} - Mx LDAP/MxOS configuration (Secondary)
runuser -l {{emailmx_user[0].username}} -g {{ emailmx_user[0].username if users_create_per_user_group else users_group }} -c 'imconfcontrol -install -nobroadcast -key ""/{{host}}/imdirserv/ldapServerHosts"="{{host+'\\ '+groups[node_site+'-directory']|union(groups[node_site+'-secondarydirectory'])|difference([host])|shuffle|join('\\ ')}}""'
{% endif %}
{% elif host in groups[node_site+'-migration'] %}
# site={{node_site}} host={{host}} - Migration LDAP/MxOS configuration
runuser -l {{emailmx_user[0].username}} -g {{ emailmx_user[0].username if users_create_per_user_group else users_group }} -c 'imconfcontrol -install -nobroadcast -key ""/{{host}}/mxos/eureka.name"="MIGMAILBOXSERVICE""'
runuser -l {{emailmx_user[0].username}} -g {{ emailmx_user[0].username if users_create_per_user_group else users_group }} -c 'imconfcontrol -install -nobroadcast -key ""/{{host}}/imdirserv/ldapServerHosts""'
{% else %}
runuser -l {{emailmx_user[0].username}} -g {{ emailmx_user[0].username if users_create_per_user_group else users_group }} -c 'imconfcontrol -install -nobroadcast -key ""/{{host}}/imdirserv/ldapServerHosts"="{{groups[node_site+'-directory']|union(groups[node_site+'-secondarydirectory'])|shuffle|join('\\ ')}}""'
{% endif %}

# site={{node_site}} host={{host}} -Set addressBookStoreHosts
runuser -l {{emailmx_user[0].username}} -g {{ emailmx_user[0].username if users_create_per_user_group else users_group }} -c 'imconfcontrol -install -nobroadcast -key ""/{{host}}/mxos/addressBookStoreHosts"="{{pabclusters|join('\\\\n')}}""'

# site={{node_site}} host={{host}} -Set calendarStoreHosts
runuser -l {{emailmx_user[0].username}} -g {{ emailmx_user[0].username if users_create_per_user_group else users_group }} -c 'imconfcontrol -install -nobroadcast -key ""/{{host}}/mxos/calendarStoreHosts"="{{calclusters|join('\\\\n')}}""'

# site={{node_site}} host={{host}} -Set messageStoreHosts
runuser -l {{emailmx_user[0].username}} -g {{ emailmx_user[0].username if users_create_per_user_group else users_group }} -c 'imconfcontrol -install -nobroadcast -key ""/{{host}}/mxos/messageStoreHosts"="{{clusters|join('\\\\n')}}""'

# site={{node_site}} host={{host}} -Set eureka.instance.id
runuser -l {{emailmx_user[0].username}} -g {{ emailmx_user[0].username if users_create_per_user_group else users_group }} -c 'imconfcontrol -install -nobroadcast -key ""/{{host}}/mxos/eureka.instanceId"="{{host}}:mxos:8081""'

{% endfor %}

{% endif %}
{% endfor %}

# Unlock the config server
runuser -l {{emailmx_user[0].username}} -g {{ emailmx_user[0].username if users_create_per_user_group else users_group }} -c 'imconfcontrol -unlockserver'
