#!/bin/bash

# Lock the config server
runuser -l {{emailmx_user[0].username}} -g {{ emailmx_user[0].username if users_create_per_user_group else users_group }} -c 'imconfcontrol -lockserver'

{% for node_site in sites %}
{% if groups[node_site+'-directory'] is defined and groups[node_site+'-pabcal']|length > 0 and pabclusters|length > 0 %}
{% for pab_cluster_k in pabclusters %}

# Set the eureka.enabled key in config.db
runuser -l {{emailmx_user[0].username}} -g {{ emailmx_user[0].username if users_create_per_user_group else users_group }} -c 'imconfcontrol -install -nobroadcast -key ""/{{node_site}}-{{pab_cluster_k}}/pabd/eureka.enabled"="true""'

# Set the eureka.serviceUrl.{{pab_cluster_k}} key in config.db
runuser -l {{emailmx_user[0].username}} -g {{ emailmx_user[0].username if users_create_per_user_group else users_group }} -c 'imconfcontrol -install -nobroadcast -key ""/{{node_site}}-{{pab_cluster_k}}/pabd/eureka.serviceUrl.{{pab_cluster_k}}"="http://{{ groups[node_site+'-directory'] | join (':'+( eureka_port | string ) +'/eureka/,http://') }}:{{ ( eureka_port | string ) + '/eureka/' }}""'

# Set the eureka.{{node_site}}.availabilityZones key in config.db
runuser -l {{emailmx_user[0].username}} -g {{ emailmx_user[0].username if users_create_per_user_group else users_group }} -c 'imconfcontrol -install -nobroadcast -key ""/{{node_site}}-{{pab_cluster_k}}/pabd/eureka.{{node_site}}.availabilityZones"="{{pab_cluster_k}}""'

# Set the StoragePlugin.ClusterPort key in config.db
runuser -l {{emailmx_user[0].username}} -g {{ emailmx_user[0].username if users_create_per_user_group else users_group }} -c 'imconfcontrol -install -nobroadcast -key ""/{{node_site}}-{{pab_cluster_k}}/pabd/StoragePlugin.ClusterPort"="{{cassandra_pab_meta_native_transport_port}}""'

# Set the Settings.DiscoveryVipAddress key in config.db
runuser -l {{emailmx_user[0].username}} -g {{ emailmx_user[0].username if users_create_per_user_group else users_group }} -c 'imconfcontrol -install -nobroadcast -key ""/{{node_site}}-{{pab_cluster_k}}/pabd/Settings.DiscoveryVipAddress"="ADDRBOOK""'

# Set BirthdayEnabled key
runuser -l {{emailmx_user[0].username}} -g {{ emailmx_user[0].username if users_create_per_user_group else users_group }} -c 'imconfcontrol -install -nobroadcast -key ""/{{node_site}}-{{pab_cluster_k}}/pabd/Settings.BirthdayEnabled"="{{pab_birthday_reminder_enabled|default('true')}}""'

{% set c=groups[node_site+'-pabcal']|length %}
{% for host in groups[node_site+'-pabcal']%}
{% if loop.first %}
{% set stbck=0 %}
{% else %}
{% set stbck=(127/c*(loop.index-1)+1)|int %}
{% endif %}
{% set endbck=(127/c*loop.index)|int %}
runuser -l {{emailmx_user[0].username}} -g {{ emailmx_user[0].username if users_create_per_user_group else users_group }} -c 'imconfcontrol -install -nobroadcast -key ""/{{host}}/pabd/StoragePlugin.HouseKeepingSchedule"="#*#{{(pab_housekeeping_schedule_hour_start|default(1)-1+loop.index)|string+'-'+((pab_housekeeping_schedule_hour_start|default(1)+loop.index))|string}}#*#*#*""'
runuser -l {{emailmx_user[0].username}} -g {{ emailmx_user[0].username if users_create_per_user_group else users_group }} -c 'imconfcontrol -install -nobroadcast -key ""/{{host}}/pabd/StoragePlugin.HouseKeepingBucketList"="{{stbck|string +'-'+ endbck|string}}""'
{% endfor %}

{% endfor %}
{% endif %}
{% endfor %}

{% if pab_disable_provisioning is defined %}
# Set the Settings.DisableProvisioning key in config.db
runuser -l {{emailmx_user[0].username}} -g {{ emailmx_user[0].username if users_create_per_user_group else users_group }} -c 'imconfcontrol -install -nobroadcast -key ""/*/pabd/Settings.DisableProvisioning"="{{pab_disable_provisioning}}""'
{% endif %}

# Unlock the config server
runuser -l {{emailmx_user[0].username}} -g {{ emailmx_user[0].username if users_create_per_user_group else users_group }} -c 'imconfcontrol -unlockserver'
