# /etc/systemd/system/search-service.service

[Unit]
Description=Search Service
After=network.target remote-fs.target nss-lookup.target auditd.service sshd.service 

[Service]
User={{owm_user[0].username}}
Group={{owm_user[0].username}}
PermissionsStartOnly=true
ExecStartPre=/bin/mkdir -p /var/log/search/
ExecStartPre=/bin/chown -R {{owm_user[0].username}}:{{owm_user[0].username}} /var/log/search/
ExecStart={{owm_user[0].home}}/search/{{package.name|regex_replace('#search_version#', search_version)}}.jar
SuccessExitStatus=143

[Install]
WantedBy=multi-user.target