# List of mapping of directories where are log files to manage and suffix to use for archiving
# %logDirs = ("/opt/imail/log" => "mx", "/opt/imail/pab/log" => "pab", "/opt/imail/cal/log" => "cal");

{% set dirsobj = [] %}
{% for item in log_services_map|default([]) %}
{% if item['abspath'] is defined %}{% set _=dirsobj.append('"'+item['abspath']+'" => "'+item['service']+'"') %}
# {{'"'+item['abspath']+'" => "'+item['service']+'"'}}
{% elif item['relpath'] is defined and item['userobj'] is defined and vars[item['userobj']] is defined %}
{% set _=dirsobj.append('"'+vars[item['userobj']][0]['home']+'/'+item['relpath']+'" => "'+item['service']+'"') %}
# {{'"'+vars[item['userobj']][0]['home']+'/'+item['relpath']+'" => "'+item['service']+'"'}}
{% endif %}
{% if loop.last %}
%logDirs = ({{dirsobj|join(' , ')}});
{% endif %}
{% endfor %}
# Log file for script operations
$logFile = "{{log_archiver_log_file}}";

# Enable script operation tracing
$enableTrace = {{log_archiver_trace}};

# Folder where to archive logs
$archiveDir = "{{log_archiver_backup_dir}}";

# Extensions to archive
@extensions = ("\.log", "\.stat", "\.trace", "\.out", "\.txt");

# Days to leave. If for example set to 5, archive all the log file older than 5 days.
$daysToLeave = {{log_archive_max_days}};
