#!/bin/bash

# make sure the MX shell environment is loaded
. {{ emailmx_user[0].home }}/.profile

setrcval()
{
    # Usage: setrcval <keyname> <keyvalue>
    local key value

    key="$1"
    shift
    value="$*"
    eval imconfcontrol -install \
        -noRestarts -nobroadcast -key "\"$key\"=\"$value\""
}

# Lock the config server
imconfcontrol -lockserver || exit 1

# install global settings
setrcval '/*/hugemail/cassandraPort' '{{ cassandraPort }}'
setrcval '/*/hugemail/cassandraSchemaMigratorEnabled' '{{ cassandraSchemaMigratorEnabled }}'
setrcval '/*/hugemail/s3AccessKey' '{{ s3AccessKey }}'
setrcval '/*/hugemail/s3BucketName' '{{ s3BucketName }}'
setrcval '/*/hugemail/s3SecretKey' '{{ s3SecretKey }}'

{% for site in sites %}
{%   if site in groups %}
{%     if site + "-affinity-swift" in groups %}
         HOST_SEEN=0 # hack in case someone defines multiple AMs in one site to handle swift
{%       for host in groups[site + "-affinity-swift"] %}
           if [ "${HOST_SEEN}" -eq 0 ]; then
             setrcval '/{{ site }}/hugemail/s3Endpoint' 'http://{{ host + service_suffix }}:{{ nginx_swift_port }}'
             HOST_SEEN=1
           fi
{%       endfor %}
{%     endif %}
{%     if site + "-cassmeta" in groups %}
         CASSMETA=""
{%       for host in groups[site + "-cassmeta"] %}
           if [ -z "${CASSMETA}" ]; then
             CASSMETA="{{ host + service_suffix }}"
           else
             CASSMETA=$(echo "${CASSMETA}" ; echo "{{ host + service_suffix }}" )
           fi
{%       endfor %}
       if [ -n "${CASSMETA}" ]; then
         setrcval '/{{ site }}/hugemail/cassandraEndpoints' "${CASSMETA}"
       fi	
{%     endif %}
{%   endif %}
{% endfor %}

{% if 'hugemail' in groups %}
{%   for host in groups['hugemail'] %}
       setrcval '/{{ host }}/immgrserv/adminPort' '{{ immgrserv_admin_port }}'
       setrcval '/{{ host }}/immgrserv/mgrServPort' '{{ immgrserv_mgr_port }}'
{%   endfor %}
{% endif %}

# Unlock the config server
imconfcontrol -unlockserver
