#!/bin/sh

. {{ emailmx_user[0].home }}/.profile

export MIRA_ROOT

setrcval()
{
    # Usage: setrcval <keyname> <keyvalue>
    local key value

    key="$1"
    shift
    value="$*"
    eval imconfcontrol -install \
        -noRestarts -nobroadcast -key "\"$key\"=\"$value\""
}

removercval()
{
    # Usage: removercval <keyname>
    local key

    key="$1"
    eval imconfcontrol -install \
        -noRestarts -nobroadcast -key "\"$key\""
}

# Lock the config server
imconfcontrol -lockserver || exit 1

removercval "/{{ inventory_hostname }}/smtp/dcountersHosts"
removercval "/{{ inventory_hostname }}/common/OWLogging"

# Unlock the config server
imconfcontrol -unlockserver
