# /usr/lib/systemd/system/razorgate-{{ emailmx_user[0].username }}.service
# rev: {{ razorgate_service_unit_rev }}

[Unit]
Description=razorgate-{{ emailmx_user[0].username }}
After=network.target remote-fs.target nss-lookup.target auditd.service sshd.service service-discovery.service

[Service]
PIDFile={{ razorgate_basepath }}/mira/var/run/launchd.pid
ExecStart={{ razorgate_basepath }}/scripts/start-rg.sh
ExecStop={{ razorgate_basepath }}/scripts/stop-rg.sh
#TimeoutStopSec="5min"
User={{ emailmx_user[0].username }}
Group={{ emailmx_user[0].username if users_create_per_user_group else users_group }}
PermissionsStartOnly=true
StandardOutput=journal
StandardError=journal
LimitNOFILE=524288
LimitMEMLOCK=infinity
LimitNPROC=65536
LimitAS=infinity
Restart=always

[Install]
WantedBy=multi-user.target