filebeat.prospectors:
{% if emailmx_user is defined and emailmx_user|length>0 %}
- input_type: log
  ignore_older: {{filebeat_ignore_older}}
  paths:
    - {{mx_logs_path|default(emailmx_user[0].home+'/log')}}/immgrserv.*.log
    - {{mx_logs_path|default(emailmx_user[0].home+'/log')}}/imconfserv.*.log
    - {{mx_logs_path|default(emailmx_user[0].home+'/log')}}/imconfcacheserv.*.log
    - {{mx_logs_path|default(emailmx_user[0].home+'/log')}}/imdirserv.*.log
    - {{mx_logs_path|default(emailmx_user[0].home+'/log')}}/imextserv.*.log
    - {{mx_logs_path|default(emailmx_user[0].home+'/log')}}/imapserv.*.log
    - {{mx_logs_path|default(emailmx_user[0].home+'/log')}}/popserv.*.log
    - {{mx_logs_path|default(emailmx_user[0].home+'/log')}}/mta.*.log
    - {{mx_logs_path|default(emailmx_user[0].home+'/log')}}/imboxmaint.*.log
    - {{mx_logs_path|default(emailmx_user[0].home+'/log')}}/mss.*.log
    - {{emailmx_user[0].home+'/log'}}/imautoswitchover.*.log
    - {{emailmx_user[0].home+'/log'}}/imswitchoverlistener.*.log
  document_type: mxLog
  exclude_lines: ['SmtpConnectionClosedAbnormally', 'ProcLaunchReport']
  fields_under_root: true

- input_type: log
  ignore_older: {{filebeat_ignore_older}}
  paths:
    - {{mx_logs_path|default(emailmx_user[0].home+'/log')}}/immgrserv.*.stat
    - {{mx_logs_path|default(emailmx_user[0].home+'/log')}}/imconfserv.*.stat
    - {{mx_logs_path|default(emailmx_user[0].home+'/log')}}/imconfcacheserv.*.stat
    - {{mx_logs_path|default(emailmx_user[0].home+'/log')}}/imdirserv.*.stat
    - {{mx_logs_path|default(emailmx_user[0].home+'/log')}}/imextserv.*.stat
    - {{mx_logs_path|default(emailmx_user[0].home+'/log')}}/imapserv.*.stat
    - {{mx_logs_path|default(emailmx_user[0].home+'/log')}}/popserv.*.stat
    - {{mx_logs_path|default(emailmx_user[0].home+'/log')}}/mta.*.stat
    - {{mx_logs_path|default(emailmx_user[0].home+'/log')}}/mss.*.stat
    - {{mx_logs_path|default(emailmx_user[0].home+'/log')}}/capd.*.stat
    - {{mx_logs_path|default(emailmx_user[0].home+'/log')}}/pabd.*.stat
  document_type: mxStat
  exclude_lines: [':type=Short:slots=']

- input_type: log
  ignore_older: {{filebeat_ignore_older}}
  paths:
    - {{mx_logs_path|default(emailmx_user[0].home+'/pab/log/')}}/pabd.*.log
    - {{mx_logs_path|default(emailmx_user[0].home+'/log')}}/pabd.*.log
  document_type: pabdLog
  fields_under_root: true

- input_type: log
  ignore_older: {{filebeat_ignore_older}}
  paths:
    - {{mx_logs_path|default(emailmx_user[0].home+'/cal/log/')}}/capd.*.log
    - {{mx_logs_path|default(emailmx_user[0].home+'/log')}}/capd.*.log
  document_type: capdLog
  fields_under_root: true

- input_type: log
  ignore_older: {{filebeat_ignore_older}}
  paths:
    - {{mx_logs_path|default(emailmx_user[0].home+'/mxos/logs')}}/mxos.log
  document_type: mxosLog
  exclude_lines: ['DEBUG']
  multiline.pattern: '^[0-9]{4}-[0-9]{2}-[0-9]{2}'
  multiline.negate: true
  multiline.match: after
  fields:
    service: mxos
  fields_under_root: true

- input_type: log
  ignore_older: {{filebeat_ignore_older}}
  paths:
    - {{mx_logs_path|default(emailmx_user[0].home+'/mxos/logs')}}/mxos.stats
  document_type: mxosStat
  fields:
    service: mxos
  fields_under_root: true

- input_type: log
  ignore_older: {{filebeat_ignore_older}}
  paths:
    - {{mx_logs_path|default(emailmx_user[0].home)}}/queueservice/logs/queueservice.*.log
  document_type: qsLog
  exclude_lines: ['DEBUG','NodeDisconnectedException','INFO']
  multiline.pattern: '^[0-9]{4}-[0-9]{2}-[0-9]{2}'
  multiline.negate: true
  multiline.match: after
  fields:
    service: queueservice
  fields_under_root: true

- input_type: log
  ignore_older: {{filebeat_ignore_older}}
  paths:
    - {{mx_logs_path|default(emailmx_user[0].home)}}/queueservice/logs/queueservice.*.stat
  document_type: qsStat
  fields:
    service: queueservice
  fields_under_root: true

- input_type: log
  ignore_older: {{filebeat_ignore_older}}
  paths:
    - {{mx_logs_path|default(emailmx_user[0].home)}}/queuesearch/logs/queuesearch.*.log
  document_type: qsLog
  exclude_lines: ['DEBUG','INFO']
  multiline.pattern: '^[0-9]{4}-[0-9]{2}-[0-9]{2}'
  multiline.negate: true
  multiline.match: after
  fields:
    service: queuesearch
  fields_under_root: true

- input_type: log
  ignore_older: {{filebeat_ignore_older}}
  paths:
    - {{mx_logs_path|default(emailmx_user[0].home)}}/queuesearch/logs/queuesearch.*.stat
  document_type: qsStat
  fields:
    service: queuesearch
  fields_under_root: true

- input_type: log
  ignore_older: {{filebeat_ignore_older}}
  paths:
    - {{mx_logs_path|default(emailmx_user[0].home)}}/queueadmin/logs/queueadmin.*.log
  document_type: qsLog
  exclude_lines: ['DEBUG','INFO']
  multiline.pattern: '^[0-9]{4}-[0-9]{2}-[0-9]{2}'
  multiline.negate: true
  multiline.match: after
  fields:
    service: queueadmin
  fields_under_root: true

- input_type: log
  ignore_older: {{filebeat_ignore_older}}
  paths:
    - {{mx_logs_path|default(emailmx_user[0].home)}}/queueadmin/logs/queueadmin.*.stat
  document_type: qsStat
  fields:
    service: queueadmin
  fields_under_root: true

{% if ux_context_path is defined %}
- input_type: log
  ignore_older: {{filebeat_ignore_older}}
  paths:
    - {{mx_logs_path|default(emailmx_user[0].home+'/log')}}/webtop/{{ux_context_path}}/webtop.log
  document_type: webtopLog
  exclude_lines: ['DEBUG']
  multiline.pattern: '^[0-9]{4}-[0-9]{2}-[0-9]{2}'
  multiline.negate: true
  multiline.match: after
  fields:
    service: webtop
  fields_under_root: true

- input_type: log
  ignore_older: {{filebeat_ignore_older}}
  paths:
    - {{mx_logs_path|default(emailmx_user[0].home+'/log')}}/webtop/{{ux_context_path}}/webtop.stats
  document_type: webtopStat
  fields:
    service: webtop
  fields_under_root: true

- input_type: log
  ignore_older: {{filebeat_ignore_older}}
  paths:
    - {{mx_logs_path|default(emailmx_user[0].home+'/log')}}/webtop/{{ux_context_path}}/analytics.log
  document_type: webtopAnalytics
  fields:
    service: webtop
  fields_under_root: true

{% endif %}
- input_type: log
  ignore_older: {{filebeat_ignore_older}}
  paths:
    - {{mx_logs_path|default(emailmx_user[0].home+'/log')}}/webtop/webtop-media/mediatranscoder.log
  document_type: mediaLog
  exclude_lines: ['DEBUG']
  multiline.pattern: '^[0-9]{4}-[0-9]{2}-[0-9]{2}'
  multiline.negate: true
  multiline.match: after
  fields:
    service: webtopmedia
  fields_under_root: true

- input_type: log
  ignore_older: {{filebeat_ignore_older}}
  paths:
    - {{emailmx_user[0].home}}/provREST/provREST/logs/*.log
  document_type: provLog
  exclude_lines: ['DEBUG']
  multiline.pattern: '^[0-9]{4}-[0-9]{2}-[0-9]{2}'
  multiline.negate: true
  multiline.match: after
  fields:
    service: provisioner
  fields_under_root: true

- input_type: log
  ignore_older: {{filebeat_ignore_older}}
  paths:
    - {{emailmx_user[0].home}}/DAC/tomcat/webapps/DAC/WEB-INF/logs/*.log
  document_type: dacLog
  exclude_lines: ['DEBUG']
  multiline.pattern: '^[0-9]{4}-[0-9]{2}-[0-9]{2}'
  multiline.negate: true
  multiline.match: after
  fields:
    service: dac
  fields_under_root: true

{% endif %}
{% if cass_user is defined and cass_user|length>0 %}
- input_type: log
  ignore_older: {{filebeat_ignore_older}}
  paths:
    - {{cass_user[0].home}}/cassandra-blob/log/system.log
    - {{cass_user[0].home}}/cassandra-meta/log/system.log
{% if cass_users is defined and cass_users|length>0 %}
{%     for user in cass_users %}
    - {{user.home}}/cassandra-meta/log/system.log
    - {{user.home}}/cassandra-blob/log/system.log
{% endfor %}
{% endif %}
  document_type: cassandraData
  exclude_lines: ['DEBUG']
  multiline.pattern: '^[0-9]{4}-[0-9]{2}-[0-9]{2}'
  multiline.negate: true
  multiline.match: after
  fields:
    service: cassandra
  fields_under_root: true

{% endif %}
{% if nginx_home_dir is defined %}
{% if filebeat_nginx_access_enabled is defined and filebeat_nginx_access_enabled == 'true' %}
- input_type: log
  ignore_older: {{filebeat_ignore_older}}
  paths:
    - {{ nginx_home_dir }}/nginx_mss/logs/access.log
  document_type: nginxAccess
  exclude_lines: ['/basic_status']
  fields:
    service: nginx-mss
  fields_under_root: true

{% endif %}
- input_type: log
  ignore_older: {{filebeat_ignore_older}}
  paths:
    - {{ nginx_home_dir }}/nginx_mss/logs/error.log
  document_type: nginxError
  fields:
    service: nginx-mss
  fields_under_root: true

- input_type: log
  ignore_older: {{filebeat_ignore_older}}
  paths:
    - {{ nginx_home_dir }}/nginx_swift/logs/access.log
  document_type: nginxAccess
  fields:
    service: nginx-swift
  fields_under_root: true

- input_type: log
  ignore_older: {{filebeat_ignore_older}}
  paths:
    - {{ nginx_home_dir }}/nginx_swift/logs/error.log
  document_type: nginxError
  fields:
    service: nginx-swift
  fields_under_root: true

- input_type: log
  ignore_older: {{filebeat_ignore_older}}
  paths:
    - {{ nginx_home_dir }}/nginx_mos/logs/access.log
  document_type: nginxAccess
  fields:
    service: nginx-mos
  fields_under_root: true

- input_type: log
  ignore_older: {{filebeat_ignore_older}}
  paths:
    - {{ nginx_home_dir }}/nginx_mos/logs/error.log
  document_type: nginxError
  fields:
    service: nginx-mos
  fields_under_root: true

{% endif %}
{% if inventory_hostname in groups['redis'] %}
- input_type: log
  ignore_older: {{filebeat_ignore_older}}
  paths:
    - /var/log/redis.log
  document_type: redisLog
  fields:
    service: redis
  fields_under_root: true

{% endif %}
{% if inventory_hostname in groups['elk-search'] %}
- input_type: log
  ignore_older: {{filebeat_ignore_older}}
  paths:
    - /var/log/elasticsearch/elasticcluster.log
    - /var/log/elasticsearch/curator.log
  document_type: elasticsearchLog
  multiline.pattern: '^[[:space:]]+|^Caused by:'
  multiline.negate: false
  multiline.match: after
  fields:
    service: elasticsearch
  fields_under_root: true

- input_type: log
  ignore_older: {{filebeat_ignore_older}}
  paths:
    - /var/log/logstash/logstash-plain.log
  document_type: logstashLog
  exclude_lines: ['DEBUG']
  multiline.pattern: '^[[:space:]]+|^Caused by:'
  multiline.negate: false
  multiline.match: after
  fields:
    service: logstash
  fields_under_root: true

{% endif %}
{% if filebeat_messages_disabled == 'false' %}
- input_type: log
  ignore_older: {{filebeat_ignore_older}}
  paths:
    - /var/log/messages
  document_type: messagesLog
  exclude_lines: {{filebeat_messages_blacklist}}
  fields:
    service: syslog
  fields_under_root: true

{% endif %}
{% if filebeat_audit_disabled == 'false' %}
- input_type: log
  ignore_older: {{filebeat_ignore_older}}
  paths:
    - /var/log/audit/audit.log
  document_type: auditLog
  include_lines: {{filebeat_audit_whitelist}}
  fields:
    service: audit
  fields_under_root: true

{% endif %}
{% if inventory_hostname in groups['migration'] %}
{% if agent is defined and agent == 'true' %}
- input_type: log
  ignore_older: {{filebeat_ignore_older}}
  paths:
    - {{emailmx_user[0].home}}/hirundo-agent/data/logs/*.log
  document_type: hirundoLog
  exclude_lines: ['DEBUG']
  multiline.pattern: '^[0-9]{4}-[0-9]{2}-[0-9]{2}'
  multiline.negate: true
  multiline.match: after
  fields:
    service: hirundo-agent
  fields_under_root: true

{% endif %}
{% if master is defined and master == 'true' %}
- input_type: log
  ignore_older: {{filebeat_ignore_older}}
  paths:
    - {{emailmx_user[0].home}}/hirundo-master/data/logs/*.log
  document_type: hirundoLog
  exclude_lines: ['DEBUG']
  multiline.pattern: '^[0-9]{4}-[0-9]{2}-[0-9]{2}'
  multiline.negate: true
  multiline.match: after
  fields:
    service: hirundo-master
  fields_under_root: true

{% endif %}
{% endif %}
{% if inventory_hostname in groups['razorgate'] %}
- input_type: log
  ignore_older: {{ filebeat_ignore_older }}
  paths:
    - {{ razorgate_basepath }}/mira/usr/store/logs/smtp.{{ inventory_hostname }}*.log
    - {{ razorgate_basepath }}/mira/usr/store/logs/policy-engine.{{ inventory_hostname }}*.log
    - {{ razorgate_basepath }}/mira/usr/store/logs/counters.{{ inventory_hostname }}*.log
    - {{ razorgate_basepath }}/mira/usr/store/logs/vadeas.{{ inventory_hostname }}*.log
    - {{ razorgate_basepath }}/mira/usr/store/logs/sophosas.{{ inventory_hostname }}*.log
  document_type: razorgateLog
  fields_under_root: true

#- input_type: log
#  ignore_older: {{filebeat_ignore_older}}
#  paths:
#    - {{ razorgate_basepath }}/mira/usr/store/logs/smtp.{{ inventory_hostname }}*.stat
#    - {{ razorgate_basepath }}/mira/usr/store/logs/policy-engine.{{ inventory_hostname }}*.stat
#    - {{ razorgate_basepath }}/mira/usr/store/logs/counters.{{ inventory_hostname }}*.stat
#    - {{ razorgate_basepath }}/mira/usr/store/logs/vadeas.{{ inventory_hostname }}*.stat
#    - {{ razorgate_basepath }}/mira/usr/store/logs/sophosas.{{ inventory_hostname }}*.stat
#  document_type: razorgateStat
#  exclude_lines: [':type=Short:slots=']
{% endif %}

output.redis:
  hosts: ["{{ groups[node_site+'-redis'] | join (':'+( redis_port | string ) +'","') }}:{{ redis_port }}"]
  key: "healthstation"
  loadbalance: true
  db: 0
  timeout: 5
  max_bulk_size: {{filebeat_max_bulk_size}}
  worker: {{filebeat_worker}}
