# /usr/lib/systemd/system/dac.service

[Unit]
Description=Delegate Admin Console server
After=network.target auditd.service mx.service

{% if dac_min_heap is defined %}
{% set JAVA_OPTS='-Xms'+dac_min_heap %}
{% endif %}
{% if dac_max_heap is defined %}
{% set JAVA_OPTS=JAVA_OPTS+' -Xmx'+dac_max_heap %}
{% endif %}

[Service]
Type=forking
User={{emailmx_user[0].username}}
Group={{emailmx_user[0].username}}
ExecStart={{emailmx_user[0].home}}/DAC/tomcat/bin/startup.sh
ExecStop={{emailmx_user[0].home}}/DAC/tomcat/bin/shutdown.sh
TimeoutSec=300
SyslogIdentifier=tomcat-%i
Environment=CATALINA_PID={{emailmx_user[0].home}}/DAC/tomcat/temp/tomcat.pid
Environment=CATALINA_HOME={{emailmx_user[0].home}}/DAC/tomcat
Environment=CATALINA_BASE={{emailmx_user[0].home}}/DAC/tomcat
{% if JAVA_OPTS is defined %}
Environment='JAVA_OPTS={{JAVA_OPTS}}'
{% endif %}
SuccessExitStatus=143
LimitNOFILE=524288
LimitMEMLOCK=infinity
LimitNPROC=65536
LimitAS=infinity
Restart=always

[Install]
WantedBy=multi-user.target