#!/bin/bash

# Lock the config server
runuser -l {{emailmx_user[0].username}} -g {{emailmx_user[0].username}} -c 'imconfcontrol -lockserver'

# Point to certificate file
{% if ssl_pop %}runuser -l {{emailmx_user[0].username}} -g {{emailmx_user[0].username}} -c 'imconfcontrol -install -nobroadcast -key ""/*/popserv/sslCertChainPathAndFile"="{{emailmx_user[0].home}}/lib/certs/{{certificate_file}}""'{% endif %}
{% if ssl_imap %}runuser -l {{emailmx_user[0].username}} -g {{emailmx_user[0].username}} -c 'imconfcontrol -install -nobroadcast -key ""/*/imapserv/sslCertChainPathAndFile"="{{emailmx_user[0].home}}/lib/certs/{{certificate_file}}""'{% endif %}
{% if ssl_smtp %}runuser -l {{emailmx_user[0].username}} -g {{emailmx_user[0].username}} -c 'imconfcontrol -install -nobroadcast -key ""/*/mta/sslCertChainPathAndFile"="{{emailmx_user[0].home}}/lib/certs/{{certificate_file}}""'{% endif %}

# Restrict to secure ciphers
{% if ssl_pop %}runuser -l {{emailmx_user[0].username}} -g {{emailmx_user[0].username}} -c 'imconfcontrol -install -nobroadcast -key ""/*/popserv/sslCipherList"="{{cipher_list}}""'{% endif %}
{% if ssl_imap %}runuser -l {{emailmx_user[0].username}} -g {{emailmx_user[0].username}} -c 'imconfcontrol -install -nobroadcast -key ""/*/imapserv/sslCipherList"="{{cipher_list}}""'{% endif %}
{% if ssl_smtp %}runuser -l {{emailmx_user[0].username}} -g {{emailmx_user[0].username}} -c 'imconfcontrol -install -nobroadcast -key ""/*/mta/sslCipherList"="{{cipher_list}}""'{% endif %}

# Unlock the config server
runuser -l {{emailmx_user[0].username}} -g {{emailmx_user[0].username}} -c 'imconfcontrol -unlockserver'
