# /usr/lib/systemd/system/provisioner.service

[Unit]
Description=provisioner
After=network.target remote-fs.target nss-lookup.target auditd.service sshd.service

[Service]
User={{emailmx_user[0].username}}
Group={{emailmx_user[0].username}}
PermissionsStartOnly=true
ExecStart={{emailmx_user[0].home}}/provREST/provREST/provREST.sh start
SuccessExitStatus=143
StandardOutput=journal
StandardError=journal
LimitNOFILE=524288
LimitMEMLOCK=infinity
LimitNPROC=65536
LimitAS=infinity
Restart=always

[Install]
WantedBy=multi-user.target