#!/bin/bash

# make sure the MX shell environment is loaded
. {{ emailmx_user[0].home }}/.profile

setrcval()
{
    # Usage: setrcval <keyname> <keyvalue>
    local key value

    key="$1"
    shift
    value="$*"
    eval imconfcontrol -install \
        -noRestarts -nobroadcast -key "\"$key\"=\"$value\""
}

delrcval()
{
  # Usage: delrcval <keyname>
  local key

  key="$1"
  eval imconfcontrol -install \
      -noRestarts -nobroadcast -key "\"$key\""
}

# Lock the config server
imconfcontrol -lockserver || exit 1

{% for entry in postinstall_configdb_keys %}
{%  if entry.value is defined %}
# configuring {{entry.key}}=[{{entry.value}}]
setrcval "{{entry.key}}" "{{entry.value}}"
{%  else %}
# removing key {{entry.key}}
delrcval "{{entry.key}}"
{%  endif %}
{% endfor %}


{% for key in multivalue_configdb_keys %}
	VALUE=$(imconfget -fullpath "{{ key['keyname'] }}" 2>/dev/null | grep -v "imconfget:" 2>/dev/null)
	if [ $? -eq 1 ]; then
		# key not found
		VALUE=""
	fi
{%   for valuepair in key['itemvalues'] %}
    VALUE=$( echo "${VALUE}" | grep -v "{{ valuepair['itemname'] }}" )
    VALUE=$( echo "${VALUE}" ; echo "{{ valuepair['itemname'] }}{{ valuepair['itemvalue'] }}" )
{%   endfor %}
    echo "${VALUE}"
    setrcval "{{ key['keyname'] }}" "${VALUE}"
{% endfor %}

{% for entry in multivalue_ordered_configdb_keys %}
    VALUE=$(echo "{{ entry.value }}" | sed 's/\] \[/\]\n\[/g;s/\[//g;s/\]//g' )
    setrcval "{{ entry.key }}" "${VALUE}"
{% endfor %}

imconfcontrol -unlockserver
