#!/bin/bash

# run the main script via runuser. Done this way as running individual
# commands via runuser causes problems when the value to be pushed to 
# the config db is multi-line.
runuser -l {{emailmx_user[0].username}} -g {{emailmx_user[0].username}} -c "/bin/bash /tmp/postconfig.sh"
