#!/bin/bash

# Lock the config server
runuser -l {{emailmx_user[0].username}} -g {{ emailmx_user[0].username if users_create_per_user_group else users_group }} -c 'imconfcontrol -lockserver'

# remove local reminder keys
runuser -l {{emailmx_user[0].username}} -g {{ emailmx_user[0].username if users_create_per_user_group else users_group }} -c 'imconfcontrol -install -nobroadcast -key ""/{{inventory_hostname}}/capd/Settings.CalReminderSMTPHost""'
runuser -l {{emailmx_user[0].username}} -g {{ emailmx_user[0].username if users_create_per_user_group else users_group }} -c 'imconfcontrol -install -nobroadcast -key ""/{{inventory_hostname}}/capd/Settings.CalReminderSMTPuser""'
runuser -l {{emailmx_user[0].username}} -g {{ emailmx_user[0].username if users_create_per_user_group else users_group }} -c 'imconfcontrol -install -nobroadcast -key ""/{{inventory_hostname}}/capd/Settings.CalReminderSMTPpassword""'
runuser -l {{emailmx_user[0].username}} -g {{ emailmx_user[0].username if users_create_per_user_group else users_group }} -c 'imconfcontrol -install -nobroadcast -key ""/{{inventory_hostname}}/capd/Settings.CalReminderSMTPport""'

# Unlock the config server
runuser -l {{emailmx_user[0].username}} -g {{ emailmx_user[0].username if users_create_per_user_group else users_group }} -c 'imconfcontrol -unlockserver'
