# {{ ansible_managed }}

# default host template
# see /etc/nagios/objects/template.cfg for linux-server definition and
# override its parameters in the below service object (mx-monitored-host)

define host {
        name							 mx-monitored-host
        use								 linux-server
        check_command                    {{check_host_alive_command}}
        max_check_attempts               {{nagios_max_check_attempts}}
        check_interval                   {{(nagios_check_interval/2)|round|int}}
        retry_interval                   {{nagios_retry_interval}}
        check_period                     {{nagios_check_period}}
        notification_interval            0
        register                         0
}

# service groups

define servicegroup {
        servicegroup_name                healthstation
        notes                            This is to check all the monitoring tools running on the platform.
}

define servicegroup {
        servicegroup_name                storage
        notes                            This is to check all the storage related checks on the platform.
}

define servicegroup {
        servicegroup_name                resources
        notes                            This is to check all the resources on the platform.
}

define servicegroup {
        servicegroup_name                network
        notes                            This is to check all the network related checks on the platform.
}

define servicegroup {
        servicegroup_name                mx
        notes                            This is to check all the Mx related checks on the platform.
}

define servicegroup {
        servicegroup_name                cassandra
        notes                            This is to check all the Cassandra related checks on the platform.
}

# default service template
# see /etc/nagios/objects/template.cfg for generic-service definition and
# override its parameters in the below service object (mx-service)

define service {
        name                             nagiosgraph
        action_url                       /nagiosgraph/cgi-bin/show.cgi?host=$HOSTNAME$&service=$SERVICEDESC$' onMouseOver='showGraphPopup(this)' onMouseOut='hideGraphPopup()' rel='/nagiosgraph/cgi-bin/showgraph.cgi?host=$HOSTNAME$&service=$SERVICEDESC$&period=day&rrdopts=-w+450+-j' target='main
        register                         0
}

define service {
		name                             mx-service
		use                              generic-service
        check_interval                   {{(nagios_check_interval)}}
		notification_interval            0
		register                         0
}

# default checks
# generic host alive (this is useful for parenting)
define service {
        use                              mx-service,nagiosgraph
        hostgroup_name                   *
        service_description              alive
        check_command                    {{check_host_alive_command}}
}

{% if nagios_check_nrpe is defined and nagios_check_nrpe == 'true'  %}
# check nrpe port on the remote hosts
define service {
        use                              mx-service
        hostgroup_name                   *
        service_description              nrpe
        check_command                    check_tcp!5666!-t 2
        servicegroups                    network,healthstation
{% if is_nagios_3 is not defined %}
        parents                          alive
{% endif %}
}

{% endif %}
{% if nagios_disable_ssh is not defined %}
# check SSH
define service {
        use                              mx-service
        hostgroup_name                   *
        service_description              ssh
        check_command                    check_ssh!-t {{nagios_check_latency_sec}}
        servicegroups                    network,healthstation
{% if is_nagios_3 is not defined %}
        parents                          alive
{% endif %}
}

{% endif %}
# check CPU Load based on available cores (2*cores -> Warning, 4*cores -> Critical)
define service {
        use                              mx-service,nagiosgraph
        hostgroup_name                   *
        service_description              current-load
        check_command                    check_nrpe_load
        servicegroups                    resources
{% if is_nagios_3 is not defined %}
        parents                          alive
{% endif %}
}

# check processes
define service {
        use                              mx-service,nagiosgraph
        hostgroup_name                   *
        service_description              number-of-processes
        check_command                    check_nrpe_total_procs
        servicegroups                    resources
{% if is_nagios_3 is not defined %}
        parents                          alive
{% endif %}
}

# check zombie processes
define service {
        use                              mx-service,nagiosgraph
        hostgroup_name                   *
        service_description              number-of-zombies
        check_command                    check_nrpe_zombie_procs
        servicegroups                    resources
{% if is_nagios_3 is not defined %}
        parents                          alive
{% endif %}
}

# check CPU/IOWait Steal
define service {
        use                              mx-service
        hostgroup_name                   *
        service_description              iowait-cpu-steal
        check_command                    check_nrpe_steal_cpu
        servicegroups                    resources
{% if is_nagios_3 is not defined %}
        parents                          alive
{% endif %}
}

# check os disk space
define service {
        use                              mx-service
        hostgroup_name                   *
        service_description              disk-usage
        check_command                    check_nrpe_disks
        check_interval                   1800
        servicegroups                    resources,storage
{% if is_nagios_3 is not defined %}
        parents                          alive
{% endif %}
}

# check os disk space
define service {
        use                              mx-service
        hostgroup_name                   *
        service_description              ro-mounts
        check_command                    check_nrpe_ro_mounts
        check_interval                   300
        servicegroups                    resources,storage
{% if is_nagios_3 is not defined %}
        parents                          alive
{% endif %}
}

{% if nagios_skip_ntp is not defined or nagios_skip_ntp == 'false' %}
# check ntp time offset
define service {
        use                              mx-service
        hostgroup_name                   *
        service_description              ntp-time
        check_command                    check_nrpe_ntp_time
        check_interval                   3600
        servicegroups                    network
{% if is_nagios_3 is not defined %}
        parents                          alive
{% endif %}
}

{% endif %}
# check filebeat procs
define service {
        use                              mx-service
        hostgroup_name                   *
        service_description              filebeat
        check_command                    check_nrpe_filebeat_procs
        check_interval                   300
        servicegroups                    healthstation
{% if is_nagios_3 is not defined %}
        parents                          alive
{% endif %}
}

{% if nagios_ignore_metricbeat is not defined or nagios_ignore_metricbeat == false %}
# check metricbeat procs
define service {
        use                              mx-service
        hostgroup_name                   *
        service_description              metricbeat
        check_command                    check_nrpe_metricbeat_procs
        check_interval                   300
        servicegroups                    healthstation
{% if is_nagios_3 is not defined %}
        parents                          alive
{% endif %}
}

{% endif %}
# check mx core services
define service {
        use                              mx-service
        hostgroup_name                   mx
        service_description              mx-core-services
        check_command                    check_nrpe_mx_ping
        servicegroups                    mx
{% if is_nagios_3 is not defined %}
        parents                          alive
{% endif %}
}

# check mx core services
define service {
        use                              mx-service
        hostgroup_name                   directory,secondarydirectory
        service_description              mx-dir-sync-services
        check_command                    check_nrpe_dir_sync
        servicegroups                    mx
{% if is_nagios_3 is not defined %}
        parents                          alive
{% endif %}
}

# check mx dir imautoswitchover process
define service {
        use                              mx-service
        hostgroup_name                   directory
        service_description              mx-dir-autoswitch
        check_command                    check_nrpe_dir_autoswitch
        servicegroups                    mx
{% if is_nagios_3 is not defined %}
        parents                          alive
{% endif %}
}

# check mx dir switchover listener
define service {
        use                              mx-service
        hostgroup_name                   directory
        service_description              mx-dir-switchover
        check_command                    check_nrpe_dir_switchover
        servicegroups                    mx
{% if is_nagios_3 is not defined %}
        parents                          alive
{% endif %}
}

# check stateless queue service
define service {
        use                              mx-service
        hostgroup_name                   qservice
        service_description              mx-qservice
        check_command                    check_nrpe_qservice
        servicegroups                    mx
{% if is_nagios_3 is not defined %}
        parents                          alive
{% endif %}
}

# check cassandra disk space
define service {
        use                              mx-service
        hostgroup_name                   cassandra
        service_description              cassandra-disk-usage
        check_command                    check_nrpe_cassandra_disks
        check_interval                   1800
        servicegroups                    resources,storage,cassandra
{% if is_nagios_3 is not defined %}
        parents                          alive
{% endif %}
}

{%   set mdata = {} %}
{% for host in groups[node_site] %}
{%   if host in groups['cassandra'] and ( hostvars[host]['is_alias_host'] is not defined or hostvars[host]['is_alias_host'] == 'false' ) %}
{%     set nrpedata = hostvars[host]['nrpe_cass_users']%}
{%     if nrpedata is defined %}
{%       for data in nrpedata %}
{%         set datakey = data.cassuser+'_'+data.casstype %}
{%         if mdata[datakey] is not defined %}
{%           set _ = mdata.setdefault(datakey, [host]) %}
{%         else %}
{%           set _ = mdata[datakey].append(host) %}
{%         endif %}
{%       endfor %}
{%     endif %}
{%   endif %}
{%   if loop.last %}
{%     for cmdid in mdata %}
# check cassandra node groupid={{cmdid}}
define service {
        use                              mx-service
        host_name                        {{ mdata[cmdid]|join(',') }}
        service_description              cassandra-{{cmdid}}
        check_command                    check_nrpe_cassandra_{{cmdid}}
        check_interval                   300
        servicegroups                    storage,cassandra
{% if is_nagios_3 is not defined %}
        parents                          alive
{% endif %}
}

define service {
        use                              mx-service
        host_name                        {{ mdata[cmdid]|join(',') }}
        service_description              cassandra-maintenance-{{cmdid}}
        check_command                    check_nrpe_cassandra_maintenance_{{cmdid}}
        check_interval                   7200
        servicegroups                    storage,cassandra
{% if is_nagios_3 is not defined %}
        parents                          alive
{% endif %}
}

{%     endfor %}
{%   endif %}
{% endfor %}
# check elasticsearch
define service {
        use                              mx-service
        hostgroup_name                   elasticsearch
        service_description              elasticsearch
        check_command                    check_nrpe_elasticsearch
        servicegroups                    healthstation
{% if is_nagios_3 is not defined %}
        parents                          alive
{% endif %}
}

# check logstash
define service {
        use                              mx-service
        hostgroup_name                   elasticsearch
        service_description              logstash
        check_command                    check_nrpe_logstash
        servicegroups                    healthstation
{% if is_nagios_3 is not defined %}
        parents                          alive
{% endif %}
}

# check redis
define service {
        use                              mx-service
        hostgroup_name                   elasticsearch
        service_description              redis
        check_command                    check_nrpe_redis
        servicegroups                    healthstation
{% if is_nagios_3 is not defined %}
        parents                          alive
{% endif %}
}

# check elasticsearch for queue
define service {
        use                              mx-service
        hostgroup_name                   qelasticsearch
        service_description              elasticsearch
        check_command                    check_nrpe_elasticsearch
        servicegroups                    healthstation
{% if is_nagios_3 is not defined %}
        parents                          alive
{% endif %}
}

{% if nagios_ignore_service_discovery is not defined %}
# check service discovery
define service {
        use                              mx-service
        hostgroup_name                   directory
        service_description              service-discovery
        check_command                    check_nrpe_eureka
        servicegroups                    mx
{% if is_nagios_3 is not defined %}
        parents                          alive
{% endif %}
}
{% endif %}

{% if clusters is defined and clusters|length>0 and groups[node_site+'-affinity']|default([])|length>0 %}
{% for amvip in clusters %}
define service {
        use                              mx-service,nagiosgraph
        hostgroup_name                   fep,uxsuite,mos
        service_description              am-{{amvip}}
        check_command                    check_nrpe_am_{{amvip}}
        servicegroups                    mx
{% if is_nagios_3 is not defined %}
        parents                          alive
{% endif %}
}

{% endfor %}
{% endif %}
{% if groups[node_site+'-mos'] is defined and groups[node_site+'-mos']|length>0 %}
{% for moshost in groups[node_site+'-mos'] %}
define service {
        use                              mx-service,nagiosgraph
        hostgroup_name                   fep,uxsuite,mss,pabcal
        service_description              mos-{{moshost}}
        check_command                    check_nrpe_mos_{{moshost}}
        servicegroups                    mx
{% if is_nagios_3 is not defined %}
        parents                          alive
{% endif %}
}
{% endfor %}
{% endif %}

# check haproxy
define service {
        use                              mx-service
        hostgroup_name                   haproxy
        service_description              haproxy
        check_command                    check_nrpe_haproxy
        servicegroups                    mx
{% if is_nagios_3 is not defined %}
        parents                          alive
{% endif %}
}

# check hugemail
define service {
        use                              mx-service
        hostgroup_name                   hugemail
        service_description              hugemail
        check_command                    check_nrpe_hugemail
        servicegroups                    mx
{% if is_nagios_3 is not defined %}
        parents                          alive
{% endif %}
}

{% for vip in s3_endpoints|default([]) %}
define service {
        use                              mx-service,nagiosgraph
        hostgroup_name                   mss
        service_description              s3-{{vip}}
        check_command                    check_nrpe_s3_{{vip}}
        servicegroups                    mx
{% if is_nagios_3 is not defined %}
        parents                          alive
{% endif %}
}
{% endfor %}
