# {{ ansible_managed }}

define command{
        command_name    check_nrpe_load
        command_line    $USER1$/check_nrpe -t {{nagios_nrpe_timeout}} -H $HOSTADDRESS$ -c check_load
}

define command{
        command_name    check_nrpe_total_procs
        command_line    $USER1$/check_nrpe -t {{nagios_nrpe_timeout}} -H $HOSTADDRESS$ -c check_total_procs
}

define command{
        command_name    check_nrpe_zombie_procs
        command_line    $USER1$/check_nrpe -t {{nagios_nrpe_timeout}} -H $HOSTADDRESS$ -c check_zombie_procs
}

define command{
        command_name    check_nrpe_steal_cpu
        command_line    $USER1$/check_nrpe -t {{nagios_nrpe_timeout}} -H $HOSTADDRESS$ -c check_steal_cpu
}

define command{
        command_name    check_nrpe_disks
        command_line    $USER1$/check_nrpe -t {{nagios_nrpe_timeout}} -H $HOSTADDRESS$ -c check_disks
}

define command{
        command_name    check_nrpe_ro_mounts
        command_line    $USER1$/check_nrpe -t {{nagios_nrpe_timeout}} -H $HOSTADDRESS$ -c check_ro_mounts
}

define command{
        command_name    check_nrpe_cassandra_disks
        command_line    $USER1$/check_nrpe -t {{nagios_nrpe_timeout}} -H $HOSTADDRESS$ -c check_cassandra_disks
}

define command{
        command_name    check_nrpe_mx_ping
        command_line    $USER1$/check_nrpe -t {{nagios_nrpe_timeout}} -H $HOSTADDRESS$ -c check_mx_ping
}

define command{
        command_name    check_nrpe_dir_sync
        command_line    $USER1$/check_nrpe -t {{nagios_nrpe_timeout}} -H $HOSTADDRESS$ -c check_dir_sync
}

define command{
        command_name    check_nrpe_dir_autoswitch
        command_line    $USER1$/check_nrpe -t {{nagios_nrpe_timeout}} -H $HOSTADDRESS$ -c check_dir_autoswitch
}

define command{
        command_name    check_nrpe_dir_switchover
        command_line    $USER1$/check_nrpe -t {{nagios_nrpe_timeout}} -H $HOSTADDRESS$ -c check_dir_switchover
}

define command{
        command_name    check_nrpe_ntp_time
        command_line    $USER1$/check_nrpe -t {{nagios_nrpe_timeout}} -H $HOSTADDRESS$ -c check_ntp_time
}

define command{
        command_name    check_nrpe_filebeat_procs
        command_line    $USER1$/check_nrpe -t {{nagios_nrpe_timeout}} -H $HOSTADDRESS$ -c check_filebeat_procs
}

define command{
        command_name    check_nrpe_metricbeat_procs
        command_line    $USER1$/check_nrpe -t {{nagios_nrpe_timeout}} -H $HOSTADDRESS$ -c check_metricbeat_procs
}

{% set mdata = [] %}
{% for host in groups[node_site] %}
{%   if host in groups['cassandra'] %}
{%     set nrpedata = hostvars[host]['nrpe_cass_users']%}
{%     if nrpedata is defined %}
{%       for data in nrpedata %}
{%         set _=mdata.append(data.cassuser+'_'+data.casstype) %}
{%       endfor %}
{%     endif %}
{%   endif %}
{%   if loop.last %}
{%     for cmdid in mdata|unique %}
define command{
        command_name    check_nrpe_cassandra_{{cmdid}}
        command_line    $USER1$/check_nrpe -t {{nagios_nrpe_timeout}} -H $HOSTADDRESS$ -c check_cassandra_{{cmdid}}
}

define command{
        command_name    check_nrpe_cassandra_maintenance_{{cmdid}}
        command_line    $USER1$/check_nrpe -t {{nagios_nrpe_timeout}} -H $HOSTADDRESS$ -c check_cassandra_maintenance_{{cmdid}}
}

{%     endfor %}
{% endif %}
{% endfor %}

define command{
        command_name    check_nrpe_qservice
        command_line    $USER1$/check_nrpe -t {{nagios_nrpe_timeout}} -H $HOSTADDRESS$ -c check_qservice
}

define command{
        command_name    check_nrpe_elasticsearch
        command_line    $USER1$/check_nrpe -t {{nagios_nrpe_timeout}} -H $HOSTADDRESS$ -c check_elasticsearch
}

define command{
        command_name    check_nrpe_logstash
        command_line    $USER1$/check_nrpe -t {{nagios_nrpe_timeout}} -H $HOSTADDRESS$ -c check_logstash
}

define command{
        command_name    check_nrpe_redis
        command_line    $USER1$/check_nrpe -t {{nagios_nrpe_timeout}} -H $HOSTADDRESS$ -c check_redis
}

define command{
        command_name    check_nrpe_eureka
        command_line    $USER1$/check_nrpe -t {{nagios_nrpe_timeout}} -H $HOSTADDRESS$ -c check_eureka
}

{% if clusters is defined and clusters|length>0 %}
{% for amvip in clusters %}
define command{
        command_name    check_nrpe_am_{{amvip}}
        command_line    $USER1$/check_nrpe -t {{nagios_nrpe_timeout}} -H $HOSTADDRESS$ -c check_am_{{amvip}}
}
{% endfor %}
{% endif %}

define command{
        command_name    check_nrpe_haproxy
        command_line    $USER1$/check_nrpe -t {{nagios_nrpe_timeout}} -H $HOSTADDRESS$ -c check_haproxy
}

{% if groups[node_site+'-mos'] is defined and groups[node_site+'-mos']|length>0 %}
{% for moshost in groups[node_site+'-mos'] %}
define command{
        command_name    check_nrpe_mos_{{moshost}}
        command_line    $USER1$/check_nrpe -t {{nagios_nrpe_timeout}} -H $HOSTADDRESS$ -c check_mos_{{moshost}}
}
{% endfor %}
{% endif %}

define command{
        command_name    check_nrpe_hugemail
        command_line    $USER1$/check_nrpe -t {{nagios_nrpe_timeout}} -H $HOSTADDRESS$ -c check_hugemail
}

{% for vip in s3_endpoints|default([]) %}
define command{
        command_name    check_nrpe_s3_{{vip}}
        command_line    $USER1$/check_nrpe -t {{nagios_nrpe_timeout}} -H $HOSTADDRESS$ -c check_s3_{{vip}}
}
{% endfor %}
