# {{ ansible_managed }}

define contactgroup{
        contactgroup_name       admins
        alias                   Nagios Administrators
        members                 administrator
        }

define contact{
        contact_name                    administrator
        contactgroups                   admins
        use                             generic-contact
        alias                           Nagios Admin
        email                           {{nagios_admin_email}}
}