# {{ ansible_managed }}

define hostgroup {
  hostgroup_name generic
  alias Generic Servers
}

define hostgroup {
  hostgroup_name affinity
  alias Affinity Servers
}

define hostgroup {
  hostgroup_name cassandra
  alias Cassandra Servers
}

define hostgroup {
  hostgroup_name cassandra-mss-meta
  alias Cassandra MSS Meta Servers
}

define hostgroup {
  hostgroup_name cassandra-mss-blob
  alias Cassandra MSS Blob Servers
}

define hostgroup {
  hostgroup_name cassandra-queue
  alias Cassandra Queue Servers
}

define hostgroup {
  hostgroup_name cassandra-pim
  alias Cassandra PIM Servers
}

define hostgroup {
  hostgroup_name dac
  alias Delegated Admin Console Servers
}

define hostgroup {
  hostgroup_name directory
  alias Primary Directory Servers
}

define hostgroup {
  hostgroup_name elasticsearch
  alias Management Servers
}

define hostgroup {
  hostgroup_name qelasticsearch 
  alias Management Servers
}

define hostgroup {
  hostgroup_name fep
  alias Frontend Servers
}

define hostgroup {
  hostgroup_name hugemail
  alias Hugemail Servers
}

define hostgroup {
  hostgroup_name monitorui
  alias MonitorUI Servers
}

define hostgroup {
  hostgroup_name mos
  alias MxOS Servers
}

define hostgroup {
  hostgroup_name mss
  alias MSS Servers
}

define hostgroup {
  hostgroup_name pabcal
  alias PAB and CAL Servers
}

define hostgroup {
  hostgroup_name provisioner
  alias Provisioner Servers
}

define hostgroup {
  hostgroup_name qadmin
  alias Queue Administration Servers
}

define hostgroup {
  hostgroup_name qservice
  alias Queue Service Servers
}

define hostgroup {
  hostgroup_name redis
  alias Redis Servers
}

define hostgroup {
  hostgroup_name secondarydirectory
  alias Secondary Directory Servers
}

define hostgroup {
  hostgroup_name smtpin
  alias Inbound SMTP Servers
}

define hostgroup {
  hostgroup_name smtpout
  alias Outbound SMTP Servers
}

define hostgroup {
  hostgroup_name swift
  alias Swift Servers
}

define hostgroup {
  hostgroup_name uxsuite
  alias UX Suite Servers
}

define hostgroup {
  hostgroup_name mx
  alias Mx Servers
}

define hostgroup {
  hostgroup_name haproxy
  alias HAProxy
}

define hostgroup {
  hostgroup_name rgin
  alias RazorGate inbound
}

define hostgroup {
  hostgroup_name rgout
  alias RazorGate outbound
}
