# {{ ansible_managed }}

{% for host in groups[node_site] %}

{% set hostgroups = [] %}

{% if host in groups['affinity'] %}
{%   set  _=hostgroups.append('affinity') %}
{% endif %}
{% if host in groups['cassandra'] %}
{%   set _=hostgroups.append('cassandra') %}
{% endif %}
{% if host in groups['cassmetamss'] %}
{%   set _=hostgroups.append('cassandra-mss-meta') %}
{% endif %}
{% if host in groups['cassblobmss'] %}
{%   set _=hostgroups.append('cassandra-mss-blob') %}
{% endif %}
{% if host in groups['pabcalcassmeta'] %}
{%   set _=hostgroups.append('cassandra-pim') %}
{% endif %}
{% if host in groups['qservicecass'] %}
{%   set _=hostgroups.append('cassandra-queue') %}
{% endif %}
{% if host in groups['dac'] %}
{%   set _=hostgroups.append('dac') %}
{% endif %}
{% if host in groups['directory'] %}
{%   set _=hostgroups.append('directory') %}
{% endif %}
{% if host in groups['elk-search'] %}
{%   set _=hostgroups.append('elasticsearch') %}
{% endif %}
{% if host in groups['qelk-search'] %}
{%   set _=hostgroups.append('qelasticsearch') %}
{% endif %}
{% if host in groups['fep'] %}
{%   set _=hostgroups.append('fep') %}
{% endif %}
{% if host in groups['hugemail'] %}
{%   set _=hostgroups.append('hugemail') %}
{% endif %}
{% if host in groups['mos'] %}
{%   set _=hostgroups.append('mos') %}
{% endif %}
{% if host in groups['mss'] %}
{%   set _=hostgroups.append('mss') %}
{% endif %}
{% if host in groups['pabcal'] %}
{%   set _=hostgroups.append('pabcal') %}
{% endif %}
{% if host in groups['provisioner'] %}
{%   set _=hostgroups.append('provisioner') %}
{% endif %}
{% if host in groups['qadminsearch'] %}
{%   set _=hostgroups.append('qadmin') %}
{% endif %}
{% if host in groups['qservice'] %}
{%   set _=hostgroups.append('qservice') %}
{% endif %}
{% if host in groups['redis'] %}
{%   set _=hostgroups.append('redis') %}
{% endif %}
{% if host in groups['secondarydirectory'] %}
{%   set _=hostgroups.append('secondarydirectory') %}
{% endif %}
{% if host in groups['smtpin'] %}
{%   set _=hostgroups.append('smtpin') %}
{% endif %}
{% if host in groups['smtpout'] %}
{%   set _=hostgroups.append('smtpout') %}
{% endif %}
{% if host in groups['uxsuite'] %}
{%   set _=hostgroups.append('uxsuite') %}
{% endif %}
{% if host in groups['mx'] %}
{%   set _=hostgroups.append('mx') %}
{% endif %}
{% if host in groups['razorgate-in'] %}
{%   set _=hostgroups.append('rgin') %}
{% endif %}
{% if host in groups['razorgate-out'] %}
{%   set _=hostgroups.append('rgout') %}
{% endif %}
{% if hostvars[host]['haproxy_config_template'] is defined %}
{%   set _=hostgroups.append('haproxy') %}
{% endif %}

{% if hostgroups |length == 0 %}
{%   set _=hostgroups.append('generic') %}
{% endif %}
{% if ( hostvars[host]['is_alias_host'] is not defined or hostvars[host]['is_alias_host'] == 'false' ) %}
define host {
  use                     mx-monitored-host
  host_name               {{ host }}
  alias                   {{ host }}
  address                 {{ host+admin_suffix }}
  hostgroups              {{ hostgroups|join(', ') }}
  action_url              /nagios/kibana.php?khost=$HOSTNAME$' target='main'
}

{% endif %}
{% endfor %}
