metricbeat.modules:
- module: system
  metricsets:
    - cpu
    - load
    - core
    - diskio
    - filesystem
    - fsstat
    - memory
    - network
    - process
  enabled: true
  period: {{ metricbeat_period }}
  processes: ['^{{ metricbeat_processes | join ("$','^") }}$']
  process.cgroups.enabled: {{ metricbeat_cgroups }}
  cpu_ticks: {{ metricbeat_cpu_ticks }}
  interfaces: [{% set objs=[] %}{% for iface in ethernet_interfaces %}{% set _=objs.append(iface['device']) %}{%if loop.last %}{{objs|unique|join(',')}}{% endif %}{% endfor %}]
  filters:
    - drop_event.when.regexp.mount_point: '{{mount_point_ignore_droplist}}'
{% if haproxy_config_template is defined %}
#- module: haproxy
#  metricsets: ["info", "stat" ]
#  enabled: true
#  period: {{ metricbeat_period }}
#  hosts: ["tcp://127.0.0.1:14567"]
{% endif %}
{% if nginx_home_dir is defined and component is defined and component in ['mss','mos','swift']%}
- module: nginx
  metricsets: ["stubstatus"]
  enabled: true
  period: {{ metricbeat_period }}
{%   if component == 'mss' %}
  hosts: ["http://127.0.0.1:{{mss_listening_port_proxy}}/basic_status"]
{%   elif component == 'mos' %}
  hosts: ["http://127.0.0.1:{{mos_listening_port_proxy}}/basic_status"]
{%   elif component == 'swift' %}
  hosts: ["http://127.0.0.1:{{swift_listening_port_proxy}}/basic_status"]
{%   endif %}
{% endif %}

output.redis:
  hosts: ["{{ groups[node_site+'-redis'] | join (':'+( redis_port | string ) +'","') }}:{{ redis_port }}"]
  key: "healthstation"
  loadbalance: true
  db: 0
  timeout: 5
  max_bulk_size: {{metricbeat_max_bulk_size}}
  worker: {{metricbeat_worker}}
