/*/capd/httpPort: [5229]
/*/capd/httpPrincipal: [__DATA_MGR_RW__]
/*/capd/managerTelnetPassword: [p]
/*/capd/managerTelnetPort: [5230]
/*/capd/Settings.EnablePassword: [p]
/*/capd/Settings.ManagerPassword: [p]
/*/capd/Settings.ManagerSecret: [p]
/*/capd/userTelnetPort: [5231]
/*/common/abortIfLogFails: [false]
/*/common/AccountLockedMessage: 
    [Account is locked. Follow <url> to unlock your account]
/*/common/additionalLogEnabled: [false]
/*/common/advertiseProduct: [true]
/*/common/allowRecentFlagModification: [false]
/*/common/allowXCLP: [false]
/*/common/amConnectionRetryCount: [20]
/*/common/amConnectionRetryInterval: [1000]
/*/common/autoInstallTrivialConfigKeys: [true]
/*/common/badPasswordDelay: [5]
/*/common/badPasswordWindow: [120]
/*/common/blobStoreCassandraConnTimeoutMS: [blobtier 15000]
/*/common/blobStoreCassandraPoolDnsLoadBalancingEnabled: [blobtier true]
/*/common/blobStoreCassandraPoolDnsRefreshIntervalSecs: [blobtier 5]
/*/common/blobStoreCassandraRecvTimeoutMS: [blobtier 5000]
/*/common/blobStoreCassandraSendTimeoutMS: [blobtier 5000]
/*/common/blobStoreObjPoolMaxSize: [blobtier 300]
/*/common/blobStoreS3TimeOut:     []
/*/common/blockSendersEnabled: [false]
/*/common/blockSendersListQuota: [250]
/*/common/bucketizeError: [true]
/*/common/bucketizeMtaDefer: [true]
/*/common/bucketizeSideline: [true]
/*/common/cacheEtcHosts: [true]
/*/common/cacheEtcHostsStatInterval: [60]
/*/common/cacheLimitInKB: [30270]
/*/common/cassandraBlobRetrieveIntervalInMS: [500]
/*/common/cassandraBlobRetrieveRetryCount: [3]
/*/common/cassandraOPRetryCount: [3]
/*/common/cassandraOPRetryIntervalInMS: [100]
/*/common/cassandraRetryInvalidatePool: [true]
/*/common/clientConnectionLimitTable:     []
/*/common/clusterHashMap: [{{ mss_cluster_name }}={{ mss_cluster_name }}:0-999]
/*/common/clusterMaxMaintenanceGroups: [20]
/*/common/commonGroup: [imail]
/*/common/commonUser: [imail]
/*/common/configConnectionUpdateInterval: [60]
/*/common/configLazyUpdateEnabled: [false]
/*/common/configRecorderSize: [10240]
/*/common/configUpdateCheckInterval: [60]
/*/common/confservhost: [{{conf_server_name}}]
/*/common/confStandbyHosts:
{% for node in groups["directory"] | difference(conf_server_name) %}
    [{{ node }}]
{% endfor %}
/*/common/confTimeStamp: [Mon Jun 22 15:57:07 PDT 2015]
/*/common/connectRetryInterval: [0]
/*/common/convertUnicodeToUtf8: [false]
/*/common/coreOnFatalEvents: 
    [SysNoSpace]
    [SysHeapCorrupted]
    [SysMallocFail]
/*/common/COSAttributeWarningsEnabled: [true]
/*/common/cosCacheUpdateInterval: [60]
/*/common/counterStatThresholds:     []
/*/common/defaultBindDN: [cn=root]
/*/common/defaultBindPassword: [secret]
/*/common/defaultDirServer: [imdircacheserv]
/*/common/defaultStackSizeInKB: [256]
/*/common/deleteBeforeIndex: [true]
/*/common/destSiteInfo:     []
/*/common/dirCacheMaxSecondaryCalls: [100]
/*/common/dirMaxRetries: [3]
/*/common/dirRmeConnections: [10]
/*/common/disableRedirectToSurrogateMSS: [false]
/*/common/dnsMxMaxTryCount: [10]
/*/common/dnsMxWaitTime: [5]
/*/common/domainName: [auto.openwave.com]
/*/common/enableAutoLogRollover: [true]
/*/common/enableCassandraHardDelete: [false]
/*/common/enableFolderOpenedLogging: [false]
/*/common/enableRegexOptimization: [true]
/*/common/enableSharedBrain: [false]
/*/common/enableSplitOptimization: [true]
/*/common/enableTCPKeepalive: [default]
/*/common/eventMaxWait: [3000]
/*/common/extensionsConnectionPoolMax: [default 10]
/*/common/extensionsConnectionPoolMin: [default 5]
/*/common/extensionsConnectionTimeoutMS: [default 5000]
/*/common/extensionsMap:     []
/*/common/extNodeStatThresholds:     []
/*/common/fatalSigHandlers: [false]
/*/common/fileDescriptors: [0]
/*/common/gmtLogTimes: [false]
/*/common/groupDefinition: 
{% for site in sites %}
{% if groups[site] is defined %}
    [{{ site }}:{{ groups[site] | join(" ") }}]
{% endif %}
{% if groups[site + "-smtpout"] is defined %}
    [{{ site }}-smtpout:{{ groups[site + "-smtpout"] | join(" ") }}]
{% endif %}
{% if groups[site + "-smtpin"] is defined %}
    [{{ site }}-smtpin:{{ groups[site + "-smtpin"] | join(" ") }}]
{% endif %}
{% if groups[site + "-fep"] is defined %}
    [{{ site }}-fep:{{ groups[site + "-fep"] | join(" ") }}]
{% endif %}
{% if groups[site + "-queue"] is defined %}
    [{{ site }}-queue:{{ groups[site + "-queue"] | join(" ") }}]
{% endif %}
{% if groups[site + "-mss"] is defined %}
    [{{ site }}-mss:{{ groups[site + "-mss"] | join(" ") }}]
{% endif %}
{% if groups[site + "-directory"] is defined %}
    [{{ site }}-directory:{{ groups[site + "-directory"] | join(" ") }}]
{% endif %}
{% if groups[site + "-uxsuite"] is defined %}
    [{{ site }}-uxsuite:{{ groups[site + "-uxsuite"] | join(" ") }}]
{% endif %}
{% if groups[site + "-pabcal"] is defined %}
    [{{ site }}-pabcal:{{ groups[site + "-pabcal"] | join(" ") }}]
{% endif %}
{% endfor %}
{% if groups["smtpout"] is defined %}
    [smtpout:{{ groups["smtpout"] | join(" ") }}]
{% endif %}
{% if groups["smtpin"] is defined %}
    [smtpin:{{ groups["smtpin"] | join(" ") }}]
{% endif %}
{% if groups["fep"] is defined %}
    [fep:{{ groups["fep"] | join(" ") }}]
{% endif %}
{% if groups["queue"] is defined %}
    [queue:{{ groups["queue"] | join(" ") }}]
{% endif %}
{% if groups["mss"] is defined %}
    [mss:{{ groups["mss"] | join(" ") }}]
{% endif %}
{% if groups["directory"] is defined %}
    [directory:{{ groups["directory"] | join(" ") }}]
{% endif %}
{% if groups["uxsuite"] is defined %}
    [uxsuite:{{ groups["uxsuite"] | join(" ") }}]
{% endif %}
{% if groups["pabcal"] is defined %}
    [pabcal:{{ groups["pabcal"] | join(" ") }}]
{% endif %}
/*/common/groupPropagationEnabled: [false]
/*/common/hostInfo: [blobtier=Cassandra:{{ blob_cluster_name }}:9162]
/*/common/housekeepingNotifTopic: [housekeeping]
/*/common/HTTPOPConnectTimeoutInMS: [0]
/*/common/HTTPOPRetryCount: [3]
/*/common/HTTPOPRetryIntervalInMS: [50]
/*/common/HttpResponseTimeout: 
    [notifyservice 10]
    [mailboxservice 10]
    [sendsmsservice 10]
    [default 10]
/*/common/httpsEnable: 
    [notifyservice false]
    [mailboxservice false]
    [sendsmsservice false]
    [default false]
/*/common/imconfeditRestartAllowed: [true]
/*/common/ldapAutoDigestUserpassword:     []
/*/common/ldapBaseDn:     []
/*/common/ldapBatchTimeoutMS: [20]
/*/common/ldapBindDn:     []
/*/common/ldapBindPassword:     []
/*/common/ldapBindPasswordAttr: [mailpassword,userpassword]
/*/common/ldapBindTimeoutInMS: [0]
/*/common/ldapConfigDn: [cn=config]
/*/common/ldapConnectTimeoutInMS: [0]
/*/common/ldapConnPoolRefreshIntervalInMS: [1000]
/*/common/ldapConnPoolRefreshRatePercent: [50]
/*/common/ldapConnRefreshTime: [0]
/*/common/ldapCosSearchDn:     []
/*/common/ldapEnableAutoAdminGroup: [false]
/*/common/ldapEntryIdControlNewOID: [true]
/*/common/ldapMasterHosts: [{{conf_server_name}}]
/*/common/ldapMaxBatchOperations: [30]
/*/common/ldapMaxConnectThreads: [300]
/*/common/ldapMaxFallbackTime: [120]
/*/common/ldapNumRetries: [3]
/*/common/ldapOperationTimeoutInMS: [0]
/*/common/ldapRefreshThreadInterval: [0]
/*/common/ldapRootDn: [cn=root]
/*/common/ldapRootPwd: [secret]
/*/common/ldapScdbChgLogNumEntryDbFiles: [16]
/*/common/ldapScdbChgLogNumIndexDbFiles: [8]
/*/common/ldapScdbLogFileMaxSizeKb: [4096]
/*/common/ldapScdbLogsPath: [logs]
/*/common/ldapSchemaDn: [cn=schema]
/*/common/ldapSchemaFile: [config/schema.ldif]
/*/common/LDAPSearchTimeOut: [10]
/*/common/ldapSetPartitionNameBindDn:     []
/*/common/listenBacklog: [1024]
/*/common/logDir: [log]
/*/common/logFilePermission: [default]
/*/common/loginAliases: [false]
/*/common/loginDefaultDomain:     []
/*/common/loginDefaultDomainTable:     []
/*/common/loginNameConvertFrom:     []
/*/common/loginNameConvertTo: [@]
/*/common/logMessageSecure: [false]
/*/common/logMsgTraceTimeInMS: [false]
/*/common/logNamedPipeMode: [0]
/*/common/logRecorderSize: [10240]
/*/common/logToSystem: [false]
/*/common/mailFolderQuotaEnabled: [false]
/*/common/makeFatalEvents:     []
/*/common/masterAgentHost:     []
/*/common/maxBadAccount: [3]
/*/common/maxBadPassword: [3]
/*/common/maxBadPasswordAddrs: [10240]
/*/common/maxBadPasswordDelay: [90]
/*/common/maxBadPasswordUsers: [10240]
/*/common/maxHttpConnections: 
    [notifyservice 10]
    [mailboxservice 10]
    [sendsmsservice 10]
    [default 10]
/*/common/maxKeywordLength: [255]
/*/common/maxPasswordFailures: [10]
/*/common/maxServiceBindRetryCount: [1]
/*/common/maxThreads: [100]
/*/common/messageTracing: [true]
/*/common/minFreeDiskSpaceInKB: [10000]
/*/common/ModdnMaxEntryRoot: [0]
/*/common/ModdnMaxEntryUser: [100]
/*/common/monitoredServers: [mta improxy iminterproxy mss]
/*/common/moverNumThreads:     []
/*/common/msgFileDelimiter: [+]
/*/common/mssConnectionList: [1000]
/*/common/mssConnectionTimeoutSeconds: [5]
/*/common/mssRetryInterval: [15]
/*/common/mutexSerialNumbering: [false]
/*/common/nativeLdapServerHosts:     []
/*/common/netTimeout: [30]
/*/common/parentalBlockSendersEnabled: [true]
/*/common/perfStatSuppress: [false]
/*/common/perfStatThresholds: 
    [StatLDAPQueryTime 50]
    [StatRMEQueryTime 50]
/*/common/pidDir: [tmp]
/*/common/poolStatThresholds:     []
/*/common/primaryDBnumConnections: [40]
/*/common/queueDir: [queue]
/*/common/queueProcessTraceLevel: [0]
/*/common/RdebugEnabled: [false]
/*/common/RdebugQueueSize: [1024]
/*/common/RdebugServerHost:     []
/*/common/RdebugServerPortNum:     []
/*/common/RdebugSyslogIdentity:     []
/*/common/RdebugTcpReconnectNapTime: [180000]
/*/common/RdebugTcpTimeout: [1]
/*/common/RdebugTransportProto:     []
/*/common/recordHeaders:     []
/*/common/RemoteLdapMasterHost:     []
/*/common/removerNumThreads:     []
/*/common/replicationTimeout: [3600]
/*/common/reportParamsInterval: [180]
/*/common/retryOnConnectFail: [0]
/*/common/reuseMSSConnections: [true]
/*/common/rmeAccessList: 
    [0.0.0.0]
    [::]
/*/common/rmeConnectTimeout: [10]
/*/common/rolloverAtLogSizeKB: [0]
/*/common/rolloversPerDay: [24]
/*/common/rolloverTimeZero: [0]
/*/common/rtmiDisable: [true]
/*/common/scdbCheckPointInterval: [300]
/*/common/scdbDeadLockCheckInterval: [10000]
/*/common/servWarnToStderr: [false]
/*/common/smartheapMemPoolPageResizing: [false]
/*/common/snmpReconnectNapTime: [15]
/*/common/sslCipherList: [ALL]
/*/common/statNamedPipeMode: [0]
/*/common/statRecorderSize: [10240]
/*/common/ThreadCondTimedWaitLimitSecs: [30]
/*/common/tmpDir: [tmp]
/*/common/traceNamedPipeMode: [0]
/*/common/traceOutputLevel:     []
/*/common/traceRecorderSize: [10240]
/*/common/traceToStderr: [false]
/*/common/trapMask: 
    [fatal]
    [urgent]
/*/common/trapQueueSize: [1024]
/*/common/trustedInterfaces:     []
/*/common/useMmapReads: [false]
/*/common/useMmapWrites: [false]
/*/common/userDataContext: [1]
/*/imapserv/aggregateUntaggedExistsRespHoldTime: [5]
/*/imapserv/allowedIPs:     []
/*/imapserv/allowLOGINDISABLED: [false]
/*/imapserv/allowNOOPwithIP: [false]
/*/imapserv/allowTLS: [false]
/*/imapserv/alwaysPrintExtensionData: [false]
/*/imapserv/blockAuthHookText: [you are not allowed to authenticate]
/*/imapserv/blockUserDefinedFlags: [false]
/*/imapserv/bulkOperationBatchSize: [1000]
/*/imapserv/checkGroupConstructRFCCompliance: [false]
/*/imapserv/clientNoLoginTimeout: [30]
/*/imapserv/clientTimeout: [1800]
/*/imapserv/createsMboxes: [true]
/*/imapserv/defaultRmeRetryIntervalMS: [1000]
/*/imapserv/disableCosNameFallback: [true]
/*/imapserv/disableMultiLevelSort: [true]
/*/imapserv/enableBodyPartSearch: [true]
/*/imapserv/enableCharsetSearch: [true]
/*/imapserv/enableId: [false]
/*/imapserv/enableIdle: [false]
/*/imapserv/enableImapAbuseControl: [false]
/*/imapserv/enableImapAppendExpiry: [false]
/*/imapserv/enableMOVE: [false]
/*/imapserv/enableSort: [false]
/*/imapserv/enableSpecialDelete: [false]
/*/imapserv/enableTHREAD: [false]
/*/imapserv/fileDescriptors: [32000]
/*/imapserv/filterFetchHeaders:     []
/*/imapserv/folderMapping: 
    [en_US //SentMail/=/Sent Mail/]
    [zh_TW //Chats/=/&U3NmQpAaigo-/ //SentMail/=/&W8RO9lCZTv0-/ //Drafts/=/&g0l6Pw-/ //Spam/=/&V4NXPpD1TvY-/ //Trash/=/&V4NXPmh2-/]
    [zh_CN //Chats/=/&gEpZKQ-/ //SentMail/=/&XfJT0ZCuTvY-/ //Drafts/=/&g0l6Pw-/ //Spam/=/&V4NXPpCuTvY-/ //Trash/=/&XfJSIJZkkK5O9g-/]
    [sk_SK //Chats/=/Rozhovory/ //SentMail/=/Odoslan&AOk- spr&AOE-vy/ //Drafts/=/Rozp&AO0-san&AOk- spr&AOE-vy/ //Trash/=/K&APQBYQ-/]
    [ro_RO //Chats/=/Chaturi/  //SentMail/=/Mesaje trimise/ //Drafts/=/Mesaje nefinalizate/  //Trash/=/Co&AV8- de gunoi/]
    [pl_PL //Drafts/=/Wersje robocze/ //SentMail/=/Wys&AUI-ane/ //Trash/=/kosz/ //Chats/=/Czat/]
    [lv_LV //SentMail/=/Nos&AWs-tne/ //Drafts/=/Melnraksti/ //Spam/=/M&ARM-stules/ //Trash/=/Miskaste/ //\[Chats\]/=/T&ARM-rz&ARMBYQ-anas sarunas/]
    [ja_JP //SentMail/=/&kAFP4W4IMH8w4TD8MOs-/ //Drafts/=/&Tgtm+DBN-/ //Spam/=/&j,dg0TDhMPww6w-/ //Chats/=/&MMEw4zDDMMg-/ //Trash/=/&MLQw33ux-/]
    [it_IT //SentMail/=/Posta inviata/ //Drafts/=/Bozze/  //Chats/=/Chat/ //Trash/=/Cestino/]
    [hu_HU //SentMail/=/Elk&APw-ld&APY-tt levelek/  //Drafts/=/Piszkozatok/ //Trash/=/Kuka/ //Chats/=/Besz&AOk-lget&AOk-sek/]
    [nl_NL //SentMail/=/Verzonden berichten/ //Drafts/=/Concepten/ //Trash/=/Prullenbak/]
    [fr_FR //SentMail/=/Messages envoy&AOk-s/ //Drafts/=/Brouillons/ //Trash/=/Corbeille/ //Chats/=/Tous les chats/]
    [fr_CA //Chats/=/Tous les chats/  //SentMail/=/Messages envoy&AOk-s/ //Drafts/=/Brouillons/ //Trash/=/Corbeille/]
    [es_ES //SentMail/=/Enviados/ //Drafts/=/Borradores/ //Trash/=/Papelera/]
    [cs_CZ //SentMail/=/Odeslan&AOE- po&AWE-ta/ //Drafts/=/Koncepty/  //Trash/=/Ko&AWE-/ //Chats/=/Chaty/]
    [es_MX //SentMail/=/Bandeja de entrada/ //Drafts/=/Borradores/ //Spam/=/Correo no deseado/  //Trash/=/Papelera/]
    [en_GB //SentMail/=/Sent Mail/ //Trash/=/Bin/]
    [de_DE //SentMail/=/Gesendet/ //Drafts/=/Entw&APw-rfe/ //Trash/=/Papierkorb/]
/*/imapserv/idCommandServerInfo:     []
/*/imapserv/imapBannerHostname:     []
/*/imapserv/imapBannerMessage:     []
/*/imapserv/imapProxyAuthenticate: [FALSE]
/*/imapserv/imapProxyHost:     []
/*/imapserv/logMailboxCreation: [true]
/*/imapserv/logRecorderSize: [100000]
/*/imapserv/maxBadCommands: [10]
/*/imapserv/maxMsgTextCache: [1048576]
/*/imapserv/maxRmeNioRetryCount: [3]
/*/imapserv/maxRmeRetryCount: [5]
/*/imapserv/maxSearchDepth: [50]
/*/imapserv/maxSessions: [8000]
/*/imapserv/messageTracing: [true]
/*/imapserv/msgImapExpirationHeader:     []
/*/imapserv/notifyOnBounce: [false]
/*/imapserv/rejectInvalidFlagResponse: [BAD]
/*/imapserv/retrieveExtensionsCOS:     []
/*/imapserv/runDir: [tmp/imapserv]
/*/imapserv/setSpecialSeenOnAppend: [false]
/*/imapserv/sslCertificateInfo:     []
/*/imapserv/sslCertPassword: [InterMail]
/*/imapserv/sslCipherList: [ALL]
/*/imapserv/sslUseSessionCache: [true]
/*/imapserv/suppressUntaggedExistsResponse: [false]
/*/imapserv/threadPoolMaxFree: [200]
/*/imapserv/threadPoolMaxThreads: [3200]
/*/imapserv/threadPoolMinFree: [100]
/*/imapserv/threadPoolNumPools: [2]
/*/imapserv/threadPoolStatusReportIntervalSecs: [0]
/*/imboxmaint/housekeepingEnabled: [false]
/*/imboxmaint/housekeepingMaxAgeDays: [30]
/*/imboxmaint/housekeepingMaxAgeSeconds: [2592000]
/*/imboxmaint/hsmEnabled: [false]
/*/imboxmaint/hsmMoveBlobEnabled: [false]
/*/imboxmaint/hsmMsgArrDays: [30]
/*/imboxmaint/mailboxAging: [false]
/*/imboxmaint/mailboxAgingDeleteEnabled: [false]
/*/imboxmaint/mailboxAgingExcludeList:     []
/*/imboxmaint/mailboxAgingLogDir: [agedMailbox]
/*/imboxmaint/mailboxAgingLogEnabled: [false]
/*/imboxmaint/mailboxAgingMaxAgeDays: [0]
/*/imboxmaint/maintenanceBatchSize: [100]
/*/imboxmaint/maintenanceDurationSecs: [18000]
/*/imboxmaint/maintenanceEnabled: [false]
/*/imboxmaint/maintenanceGroupidEnd: [19]
/*/imboxmaint/maintenanceGroupidStart: [0]
/*/imboxmaint/maintenanceMsgBatchSize: [200]
/*/imboxmaint/maintenanceNumThreads: [5]
/*/imboxmaint/maintenanceOrphanDeleteFreqInDays: [10]
/*/imboxmaint/maintenanceStartAtSecs: [3600]
/*/imboxmaint/systemMsgExpirationEnabled: [false]
/*/imboxmaint/systemMsgLifeTime: [24]
/*/imconfcontrol/netTimeout: [30]
/*/imconfedit/allowNonAscii: [false]
/*/imconfget/netTimeout: [30]
/*/imconfserv/extraCopyConfigDBPath:     []
/*/imconfserv/logRecorderSize: [100000]
/*/imconfserv/runDir: [tmp/imconfserv]
/*/imconfserv/serverTimeout: [30]
/*/imconfserv/versionConfigDB: [true]
/*/imdbcontrol/defaultDirServer: [imdirserv]
/*/imdbcontrol/numLdapConnections: [2]
/*/imdircacheserv/allowTLS: [false]
/*/imdircacheserv/anonBindAccess: [all]
/*/imdircacheserv/attributeAliasingEnable: [false]
/*/imdircacheserv/attributeAliasMap:     []
/*/imdircacheserv/cacheAlwaysReadThru: [false]
/*/imdircacheserv/cacheAuthoritativeOnDbFail: [true]
/*/imdircacheserv/cacheDisableReadThrus: [false]
/*/imdircacheserv/cacheDisableWriteThrus: [false]
/*/imdircacheserv/catchUpWithMaster: [false]
/*/imdircacheserv/chgLogPageSize: [499]
/*/imdircacheserv/clientHeaps: [16]
/*/imdircacheserv/defaultBindAccess: [all]
/*/imdircacheserv/defaultDomain: [auto.openwave.com]
/*/imdircacheserv/defaultStackSizeInKB: [256]
/*/imdircacheserv/dirRmeHosts:     []
/*/imdircacheserv/enableIndexingThread: [false]
/*/imdircacheserv/foreignMaster: [false]
/*/imdircacheserv/indexThreadSnoozePeriod: [2]
/*/imdircacheserv/initIndicesFallback: [true]
/*/imdircacheserv/ldapAccessList: 
    [0.0.0.0]
    [::]
/*/imdircacheserv/ldapACICacheMaxCount: [500]
/*/imdircacheserv/ldapACICacheMaxSizeKb: [1000]
/*/imdircacheserv/ldapBackend: [scdb]
/*/imdircacheserv/ldapClientTimeout: [0]
/*/imdircacheserv/ldapEndUserBindType:     []
/*/imdircacheserv/ldapEndUserConnectionLimit: [250000]
/*/imdircacheserv/ldapEndUserSearchBase:     []
/*/imdircacheserv/ldapEndUserSearchConstraint:     []
/*/imdircacheserv/ldapEndUserSearchMapping:     []
/*/imdircacheserv/ldapEntryCacheMaxCount: [1000]
/*/imdircacheserv/ldapEntryCacheMaxSizeKb: [0]
/*/imdircacheserv/ldapEntryCacheMode: [0]
/*/imdircacheserv/ldapEntryCacheWaitTime: [0]
/*/imdircacheserv/ldapIndices: 
    [cn eq]
    [ sn eq,reverse,sub]
    [ displayname eq,reverse,sub]
    [ givenname eq,reverse,sub]
    [ corpmailprimaryaddress eq,reverse,sub]
    [ domainname eq,reverse,unique]
    [ domaintype eq]
    [ mail eq,reverse,unique]
    [ mailalternateaddress eq,reverse,unique]
    [ mailboxid eq,unique]
    [ maillogin eq,unique]
    [ adminpolicydn eq]
    [ objectclass eq exclude=mailUser;mailUserPrefs;person;organizationalPerson;mailingList]
    [ mailrewritedomain eq]
    [ member eq]
    [ listsubscriberaddress eq]
/*/imdircacheserv/ldapOperationLimit: [10]
/*/imdircacheserv/ldapRecoverGapLimit: [10000]
/*/imdircacheserv/ldapReferralsEnable: [false]
/*/imdircacheserv/ldapReplicationAgreement: 
    [cn: defaultReplicationAgreement]
    [updateInterval: 60]
    [updateintervalasmillisecs: 0]
/*/imdircacheserv/ldapScdbCacheSizeInKB: [102400]
/*/imdircacheserv/ldapScdbEntryPageSizeInKB: [8]
/*/imdircacheserv/ldapScdbFilePath: [db]
/*/imdircacheserv/ldapScdbIndexPageSizeInKB: [8]
/*/imdircacheserv/ldapScdbMaxWcount: [64]
/*/imdircacheserv/ldapScdbNumEntryDbFiles: [16]
/*/imdircacheserv/ldapScdbNumIndexDbFiles: [8]
/*/imdircacheserv/ldapServerHosts:     []
/*/imdircacheserv/ldapServerMaxSecondaryCalls: [100]
/*/imdircacheserv/ldapSizeLimit: [500]
/*/imdircacheserv/ldapSockbufMaxSize: [2097158]
/*/imdircacheserv/ldapTimeLimit: [3600]
/*/imdircacheserv/loginFilter:     []
/*/imdircacheserv/logRecorderSize: [100000]
/*/imdircacheserv/masterSearchRoot:     []
/*/imdircacheserv/numChangeLogFetchThreads: [1]
/*/imdircacheserv/numChangeLogProcessingThreads: [1]
/*/imdircacheserv/numChangeLogQueues: [1]
/*/imdircacheserv/numChangeLogSearchesPending: [2]
/*/imdircacheserv/numLdapConnections: [10]
/*/imdircacheserv/numUserDBFiles: [1]
/*/imdircacheserv/partitionInfo:     []
/*/imdircacheserv/rejectRootExpensiveSearch: [false]
/*/imdircacheserv/rejectRootNonIndexedSearch: [false]
/*/imdircacheserv/rejectUserExpensiveSearch: [false]
/*/imdircacheserv/rejectUserNonIndexedSearch: [false]
/*/imdircacheserv/rootBindAccess: [all]
/*/imdircacheserv/rootMaxSSSEntryNum: [50000]
/*/imdircacheserv/runDir: [tmp/imdircacheserv]
/*/imdircacheserv/scdbSuppressFsync: [true]
/*/imdircacheserv/setNumCandidateSizeLimit: [true]
/*/imdircacheserv/sslCacheAgeSeconds: [7200]
/*/imdircacheserv/sslCacheBucketLen: [1000]
/*/imdircacheserv/sslCacheBucketNum: [499]
/*/imdircacheserv/sslCertChainPathAndFile:     []
/*/imdircacheserv/sslCertPassword: [InterMail]
/*/imdircacheserv/sslCipherList:     []
/*/imdircacheserv/sslIgnoreCertErrors: [false]
/*/imdircacheserv/sslTrustedCertPathAndFile:     []
/*/imdircacheserv/sslUseSessionCache: [true]
/*/imdircacheserv/sslVerifyClient: [false]
/*/imdircacheserv/updateThreadRetryPeriod: [120]
/*/imdircacheserv/userMaxSSSEntryNum: [20000]
/*/imdirdump/dirsyncSourceDbName:     []
/*/imdirmake/runDir: [tmp/imdirmake]
/*/imdirserv/allowTLS: [false]
/*/imdirserv/anonBindAccess: [all]
/*/imdirserv/attributeAliasingEnable: [false]
/*/imdirserv/attributeAliasMap:     []
/*/imdirserv/changelog: [cn=changelog]
/*/imdirserv/clientHeaps: [16]
/*/imdirserv/defaultAccountDITBranch:     []
/*/imdirserv/defaultBindAccess: [all]
/*/imdirserv/defaultDomain: [auto.openwave.com]
/*/imdirserv/defaultStackSizeInKB: [256]
/*/imdirserv/enableIndexingThread: [true]
/*/imdirserv/expChgLogCommitSize: [20]
/*/imdirserv/imTopRealmDN: [cn=site,cn=admin root]
/*/imdirserv/indexThreadSnoozePeriod: [2]
/*/imdirserv/initIndicesFallback: [true]
/*/imdirserv/ldapAccessList: 
    [0.0.0.0]
    [::]
/*/imdirserv/ldapACICacheMaxCount: [500]
/*/imdirserv/ldapACICacheMaxSizeKb: [1000]
/*/imdirserv/ldapAllocRootOverride: [false]
/*/imdirserv/ldapAllocRuleDN: [cn=admin root]
/*/imdirserv/ldapBackend: 
    [scdbchglog cn=changelog]
    [scdb]
/*/imdirserv/ldapClientTimeout: [0]
/*/imdirserv/ldapEntryCacheMaxCount: [10000]
/*/imdirserv/ldapEntryCacheMaxSizeKb: [10000]
/*/imdirserv/ldapEntryCacheMode: [0]
/*/imdirserv/ldapEntryCacheWaitTime: [15]
/*/imdirserv/ldapGuidSuffix: [1]
/*/imdirserv/ldapIndices: 
    [cn eq]
    [ sn eq,reverse,sub]
    [ displayname eq,reverse,sub]
    [ givenname eq,reverse,sub]
    [ corpmailprimaryaddress eq,reverse,sub]
    [ domainname eq,reverse,unique]
    [ domaintype eq]
    [ mail eq,reverse,unique]
    [ mailalternateaddress eq,reverse,unique]
    [ mailboxid eq,unique]
    [ maillogin eq,unique]
    [ adminpolicydn eq]
    [ objectclass pres,eq exclude=mailUser;mailUserPrefs;person;organizationalPerson;mailingList]
    [ mailrewritedomain eq]
    [ member eq]
    [ listsubscriberaddress eq]
    [ adminTargetDN eq]
    [ adminCreatePeerAdminGroup eq]
    [ adminDeletePeerAdminGroup eq]
    [ adminCreateSubAdminGroup eq]
    [ adminDeleteSubAdminGroup eq]
    [ adminRoleDN eq]
    [ adminRealmDN eq]
    [ adminAllowedAdminPolicyDN eq]
    [ adminParentAdminPolicy eq]
    [ adminPolicyDNUsed eq]
    [ adminPolicyGrantDn eq]
    [ adminPolicyDefaultDn eq]
    [ adminDefaultCreatedGroups eq]
    [ uid eq]
/*/imdirserv/ldapMaxDeadlockRetry: [8]
/*/imdirserv/ldapMaxStartWait: [60]
/*/imdirserv/ldapOperationLimit: [10]
/*/imdirserv/ldapRelaxImgrRules: [false]
/*/imdirserv/ldapReplicationAgreement: 
    [cn: defaultReplicationAgreement]
    [updateInterval: 60]
/*/imdirserv/ldapRepLogFiles:     []
/*/imdirserv/ldapScdbCacheSizeInKB: [102400]
/*/imdirserv/ldapScdbEntryPageSizeInKB: [8]
/*/imdirserv/ldapScdbFilePath: [scdb]
/*/imdirserv/ldapScdbIndexPageSizeInKB: [4]
/*/imdirserv/ldapScdbMaxWcount: [64]
/*/imdirserv/ldapScdbNumEntryDbFiles: [16]
/*/imdirserv/ldapScdbNumIndexDbFiles: [8]
/*/imdirserv/ldapServerHosts: [{{conf_server_name}}]
/*/imdirserv/ldapServerMaxSecondaryCalls: [100]
/*/imdirserv/ldapSizeLimit: [500]
/*/imdirserv/ldapSockbufMaxSize: [2097158]
/*/imdirserv/ldapTimeLimit: [360]
/*/imdirserv/logAgeHours: [12]
/*/imdirserv/logExpireHours: [1]
/*/imdirserv/loginFilter:     []
/*/imdirserv/maxCursorsPerConn: [8]
/*/imdirserv/numChangeLogFetchThreads: [1]
/*/imdirserv/numChangeLogProcessingThreads: [4]
/*/imdirserv/numChangeLogQueues: [10]
/*/imdirserv/numChangeLogSearchesPending: [2]
/*/imdirserv/rejectRootExpensiveSearch: [false]
/*/imdirserv/rejectRootNonIndexedSearch: [false]
/*/imdirserv/rejectUserExpensiveSearch: [false]
/*/imdirserv/rejectUserNonIndexedSearch: [false]
/*/imdirserv/rootBindAccess: [all]
/*/imdirserv/rootMaxSSSEntryNum: [50000]
/*/imdirserv/runDir: [tmp/imdirserv]
/*/imdirserv/scdbNumUpdatesCheckPoint: [100]
/*/imdirserv/setNumCandidateSizeLimit: [true]
/*/imdirserv/sslCacheAgeSeconds: [7200]
/*/imdirserv/sslCacheBucketLen: [1000]
/*/imdirserv/sslCacheBucketNum: [499]
/*/imdirserv/sslCertChainPathAndFile:     []
/*/imdirserv/sslCertPassword: [InterMail]
/*/imdirserv/sslCipherList:     []
/*/imdirserv/sslIgnoreCertErrors: [false]
/*/imdirserv/sslTrustedCertPathAndFile:     []
/*/imdirserv/sslUseSessionCache: [true]
/*/imdirserv/sslVerifyClient: [false]
/*/imdirserv/transBaseSearchOnly: [false]
/*/imdirserv/transMaxEntryLocks: [100]
/*/imdirserv/transMaxEntryWLockRoot: [0]
/*/imdirserv/transMaxEntryWlockUser: [100]
/*/imdirserv/transTimeoutIdle: [10]
/*/imdirserv/transTimeoutRoot: [60]
/*/imdirserv/transTimeoutUser: [60]
/*/imdirserv/userMaxSSSEntryNum: [20000]
/*/imdirserv/writeChangeLog: [true]
/*/imdirutilrpt/primaryDBnumConnections: [5]
/*/imdirutilrpt/reportCOSItemDesc: 
    [MailSmtpAccess:mailpolicyOverride=false:]
    [ mailsmtpaccess=1]
    [ MailPopAccess:mailpolicyOverride=false:]
    [ mailpopaccess=all | mailpopaccess=trusted]
    [ MailImapAccess:mailpolicyOverride=false:]
    [ mailimapaccess=all | mailimapaccess=trusted]
    [ MailWebmailAccess:mailpolicyOverride=false:]
    [ mailwebmailaccess=all | mailwebmailaccess=trusted]
    [ SSLEnabled:mailpolicyOverride=false:]
    [ mailintermanagerssl=1|mailimapsslaccess=all|mailimapsslaccess=trusted|]
    [ mailpopsslaccess=all | mailpopsslaccess=trusted | mailsmtpsslaccess=1 |]
    [ mailwebmailsslaccess=all | mailwebmailsslaccess=trusted |]
    [ mailmobilemailaccess=all | mailmobilemailaccess=trusted | mailselfcaressl=1]
/*/imdirutilrpt/reportCountItemDesc: 
    [objectclass:*:LDAP_FILTER_PRESENT:admintargetdn]
    [ objectclass:person:LDAP_FILTER_EQUALITY:admintargetdn]
    [ objectclass:organization:LDAP_FILTER_EQUALITY:admintargetdn]
    [ objectclass:organizationalunit:LDAP_FILTER_EQUALITY:admintargetdn]
    [ objectclass:groupofnames:LDAP_FILTER_EQUALITY:adminrealmdn]
/*/imextserv/clientConnectionsMax: [0]
/*/imextserv/extensionsEnabled:     []
/*/imextserv/extensionsSchemas: 
    [libimextschema]
    [libimextschemamsgexam]
/*/imextserv/runDir: [tmp/imextserv]
/*/immgrserv/legalHosts: [all]
/*/immgrserv/runDir: [tmp/immgrserv]
/*/impartitionname/ldapSetPartitionNameBindPwd:     []
/*/imqueueserv/enableFreeDiskSpaceCheck: [true]
/*/imqueueserv/maxControlFilesMovedFromMSS: [1]
/*/imqueueserv/runDir: [tmp/imqueueserv]
/*/install/adminAccountsCreated: [yes]
/*/install/emailSchemasLoaded: 
    [init_listmgr.ldif contactbook.ldif corpaddrbook.ldif senderlists.ldif rctattrs.ldif mos.ldif specialquota.ldif deliveryhost.localized.ldif mailallowtheseips.ldif pushnotifyattrs.ldif leapfrog_attrs.ldif leapfrog_attrs_netmail.ldif falcon_attrs.ldif falcon_withoutFilterAttrs_object_mailuserprefs.ldif opwvnetmail_scheme.ldif leapfrog_object_mailuser.ldif falcon_object_pabUser.ldif falcon_object_pabUserPrefs.ldif falcon_object_calUser.ldif falcon_object_calUserPrefs.ldif falcon_object_add_for_cos.ldif falcon_object_netmailuser.ldif falcon_object_msguserprefs.ldif falcon_object_maildomain.ldif]
/*/mss/accessorWakeupTime: [0000]
/*/mss/adminMessageStoreName: [admin]
/*/mss/autoReplyDefaultMessage:     []
/*/mss/autoReplyExpireDays: [7]
/*/mss/bounceQuotaNotice: 
    [Return-Path: <>]
    [From: <Notice_From>]
    [Subject: <Bounce_Notice_Subject>]
    [Date: <Notice_Date>]
    []
    [A message was sent to you that was returned to the sender(bounced)]
    [because it would have caused your <Resource_Referent> quota to be exceeded.]
    []
    [The following is the reason that the message was over quota:]
    []
    [       Quota Type: <Requested_Resource>]
    [  Quota Available: <Available_Resource>]
    [      Total Quota: <User_Quota>]
    []
    [The following is the information on the message that was bounced:]
    []
    [      Sender: <Bounced_Message_From>]
    [     Subject: <Bounced_Message_Subject>]
    [        Size: <Bounced_Message_Size>]
    [  Message ID: <Bounced_Message_ID>]
    [        Date: <Bounced_Message_Date>]
    [    Reply-To: <Bounced_Message_Reply_To>]
    []
    [The message was bounced from the following folder:]
    []
    [    <Destination_Folder>]
    []
    [To fix this problem, delete some messages from your mailbox, and contact]
    [the sender to resend the message.]
    []
    [If the size of the message is too big, contact the sender to reduce the]
    [size of the message and resend the message.]
/*/mss/bounceQuotaResourceMacros: 
    [<Requested_Resource>]
    [<Available_Resource>]
    [<User_Quota>]
/*/mss/cassandraBlobRdConsisLevels: [ONE]
/*/mss/cassandraBlobWrConsisLevels: [QUORUM]
/*/mss/cassandraMetaRdConsisLevels: [QUORUM]
/*/mss/cassandraMetaWrConsisLevels: [QUORUM]
/*/mss/cassdbMailboxCacheTTL: [60]
/*/mss/cassFolderMsgBatchSize: [200]
/*/mss/cassMsgFileMaxSizeInKB: [30270]
/*/mss/cassSrcSnkBufferSizeInKB: [256]
/*/mss/checkForWidowsOnSelect: [false]
/*/mss/configuredClients: [ALL]
/*/mss/ConversationViewEnabled: [false]
/*/mss/cosMinUpdateSeconds: [300]
/*/mss/databaseType: [CASSANDRA]
/*/mss/defaultFolderList: 
    [SentMail]
    [Drafts]
    [Spam]
    [Trash]
/*/mss/deleteMessagesBatchSize: [1000]
/*/mss/deletionBasedOnSoftQuotaEnabled: [false]
/*/mss/dupMessageDetect: [true]
/*/mss/dynamicUIDNEXTBaseTime: [0]
/*/mss/dynamicUIDNEXTBaseUID: [1000]
/*/mss/dynamicUIDNEXTEnabled: [false]
/*/mss/dynamicUIDNEXTTimeDivisor: [60]
/*/mss/enableDefaultExpirySpecialDelete: [true]
/*/mss/enableFolderNotification: [false]
/*/mss/enableIOScheduler: [false]
/*/mss/enableMandatoryIfaces: [false]
/*/mss/enableOrphanMboxDetection: [false]
/*/mss/enablePrivateMessages: [false]
/*/mss/enableSpecialDelete: [false]
/*/mss/expirationBasedOnHeadersEnabled: [true]
/*/mss/expirationBasedOnQuotasEnabled: [true]
/*/mss/failOnClientDisconnect: [false]
/*/mss/fileDescriptors: [32000]
/*/mss/flushMailboxInterval: [1]
/*/mss/flushNumThreads: [4]
/*/mss/HTTPOPRetryCount: [3]
/*/mss/HTTPOPRetryIntervalInMS: [50]
/*/mss/idleFlushTimeoutSecs: [10]
/*/mss/indexSliceCount: [5000]
/*/mss/inventoryMaintenanceEnabled: [true]
/*/mss/logMailboxCreation: [true]
/*/mss/logRecorderSize: [100000]
/*/mss/mailboxSizeBytesBounceDescription:     []
/*/mss/mailboxSizeNumberBounceDescription:     []
/*/mss/mailFolderQuotaWildCardEnabled: [false]
/*/mss/maintenanceOrphansEnabled: [false]
/*/mss/mandatoryInterfaces:     []
/*/mss/maxAutoReplyMsgLenKb: [100]
/*/mss/maxBounceNotices: [20]
/*/mss/maxFolders: [100]
/*/mss/maxRootFolderDepth: [30]
/*/mss/maxSessions: [6400]
/*/mss/mboxSoftDelete: [true]
/*/mss/messageFilesDirAlternate:     []
/*/mss/messageLifeInDays: [180]
/*/mss/messageReadTracing: [false]
/*/mss/messageSizeBounceDescription:     []
/*/mss/messageTracing: [true]
/*/mss/msgExpirationTimeSeconds: [2592000]
/*/mss/msgFileCacheSizeInKB: [100]
/*/mss/mssLogRedirects: [false]
/*/mss/mssPingRetryCount: [0]
/*/mss/mutexLockRetryIntervalInMS: [20]
/*/mss/nearQuotaNotice: 
    [Return-Path: <>]
    [From: <Notice_From>]
    [Subject: <HWM_Notice_Subject>]
    [Date: <Notice_Date>]
    []
    [Your mailbox is over the high water mark.]
    [Please delete some messages from your mailbox!]
/*/mss/nonDeliveryTimeoutDays: [0]
/*/mss/noticeFrom: [admin]
/*/mss/noticeRequestedResource/msgCount: [number of messages]
/*/mss/noticeRequestedResource/msgSize: [bytes in the message]
/*/mss/noticeRequestedResource/totSize: [bytes in the <Resource_Referent>]
/*/mss/noticeResourceName/msgCount: [number of messages]
/*/mss/noticeResourceName/msgSize: [size of a message]
/*/mss/noticeResourceName/totSize: [sum of message sizes]
/*/mss/noticeResourceReferent/folder: [folder]
/*/mss/noticeResourceReferent/mailbox: [mailbox]
/*/mss/noticeResourceSubset/all:     []
/*/mss/noticeResourceSubset/read: [read ]
/*/mss/noticeResourceSubset/unread: [unread ]
/*/mss/noticeResourceType/msgCount: [count]
/*/mss/noticeResourceType/msgSize: [size]
/*/mss/noticeResourceType/totSize: [size]
/*/mss/numMSRetryIfLocked: [0]
/*/mss/numMSRetryIntervalIfLocked: [0]
/*/mss/operationTimeoutSeconds: [20]
/*/mss/privateMsgQuotaNotice: 
    []
    [One or more messages in the mailbox are private and can only be]
    [accessed with your telephone and cannot be accessed as email.]
/*/mss/runDir: [tmp/mss]
/*/mss/serverThreadStackSizeInKB: [128]
/*/mss/serviceBlackoutSeconds: [30]
/*/mss/serviceProtocol: [httprme]
/*/mss/showMultipleQuotaResources: [false]
/*/mss/skipBlobDeleteForTiers:     []
/*/mss/threadPoolMaxFree: [200]
/*/mss/threadPoolMaxThreads: [3200]
/*/mss/threadPoolMinFree: [100]
/*/mss/threadPoolNumPools: [2]
/*/mss/thriftSocketTimeoutMS: [5000]
/*/mss/umTypeAssignments: 
    [from: System admin]
    [From: System admin]
/*/mss/umTypeHeaderRegex: [(X-Type|X-ObType|X-Priority|from|From):]
/*/mss/useDateFieldAsArrivalDate: [false]
/*/mss/welcomeMsgId: [<Welcome>]
/*/mss/welcomeMsgMersEvents: [true]
/*/mta/addRemovedRecipientsToHeader: [false]
/*/mta/advancedSmsNotificationTemplate:     []
/*/mta/allowAtSignInLocalName: [false]
/*/mta/allowBURL: [FALSE]
/*/mta/allowCRAMMD5: [false]
/*/mta/allowDropMailFromConnection: [true]
/*/mta/allowEtrn: [true]
/*/mta/allowExpn: [false]
/*/mta/allowHelp: [true]
/*/mta/allowList: [stub]
/*/mta/allowQsnd: [true]
/*/mta/allowRelayIfAuthenticated: [false]
/*/mta/allowTLS: [false]
/*/mta/allowVrfy: [true]
/*/mta/allowXCLP: [FALSE]
/*/mta/alternateAuthAlgo: [false]
/*/mta/alwaysQueue: [false]
/*/mta/alwaysTryFirst: [false]
/*/mta/approveSenderCheck: [false]
/*/mta/authEnforceEnvelopeFrom: [true]
/*/mta/authEnforceHeaderFrom: [true]
/*/mta/authMechNotSupportedReplyText: [<MECHANISM> not supported for <USERNAME>]
/*/mta/authNeededReplyText: 
    [Authentication is required to send mail as <USERNAME>]
/*/mta/autoReplyCharset: [us-ascii]
/*/mta/autoReplyEncoding: [7bit]
/*/mta/autoReplySuppressList: 
    [autoanswer]
    [echo]
    [listserv]
    [mailerdaemon]
    [mailer-daemon]
    [mirror]
    [netserv]
    [server]
    [uucp]
    [mailer]
    [listproc]
    [majordomo]
    [list.manager]
/*/mta/blockAddresses: [false]
/*/mta/blockConnections: [false]
/*/mta/blockDomains: [false]
/*/mta/blockLocalNoAcct: [false]
/*/mta/blockLocalReceiverCode: [550]
/*/mta/blockLocalReceiverText: 
    [This account is not authorized to receive non-local mail:]
/*/mta/blockLocalSenderCode: [550]
/*/mta/blockLocalSenderText: 
    [This account is not authorized to send non-local mail:]
/*/mta/blockPerAccount: [false]
/*/mta/blockReplyCode: [550]
/*/mta/blockReplyText: [you are not allowed to send mail to ADDRESS]
/*/mta/blockSenderBy: [header]
/*/mta/blockSendersPABAdminList:     []
/*/mta/blockSendersPABFolder: [unknownSender]
/*/mta/blockTheseAddresses:     []
/*/mta/blockTheseDomains:     []
/*/mta/blockTheseIPs:     []
/*/mta/blockTheseUsers:     []
/*/mta/blockUsers: [false]
/*/mta/bounce8bitMessages: [false]
/*/mta/bounceFailureBody: 
    [Content-Type: text/plain]
    []
    [This Message was undeliverable due to the following reason:]
    []
    [<ErrorText>]
    []
    [Please reply to <AdminContact>]
    [if you feel this message to be in error.]
/*/mta/bounceFailureHeader: 
    [To: <ReturnAddress>]
    [From: Mail Administrator <AdminContact>]
    [Reply-To: Mail Administrator <AdminContact>]
    [Subject: Mail System Error - Returned Mail with Subject: <Bounced_Message_Subject>]
/*/mta/bounceOnQuotaFull: [true]
/*/mta/bounceRemoveAttachmentsText: 
    [The following attachments have been removed from the bounce message: <AttachmentList>]
/*/mta/bounceRemoveMessageText: 
    [The original message has been removed from the bounce message.]
/*/mta/bounceSuccessBody: 
    [Content-Type: text/plain]
    []
    [<ErrorText>]
    []
    [Please reply to <AdminContact>]
    [if you feel this message to be in error.]
/*/mta/bounceSuccessHeader: 
    [To: <ReturnAddress>]
    [From: Mail Administrator <AdminContact>]
    [Reply-To: Mail Administrator <AdminContact>]
    [Subject: Mail System Delivery Report]
/*/mta/cacheRemoteMtaHost:     []
/*/mta/canonicalize: [true]
/*/mta/checkAuthentication: [false]
/*/mta/checkDuplicateHdrFields: [false]
/*/mta/clientConnectionInitialCategory: [default dedicated]
/*/mta/clientThroughputLimitTable:     []
/*/mta/clientThroughputReplyCode: [451]
/*/mta/clientThroughputReplyText: [Requested action aborted]
/*/mta/completionMethod: [default]
/*/mta/convert8bitHeaders: [true]
/*/mta/convert8bitMessages: [true]
/*/mta/convertDomainLiterals: [true]
/*/mta/createsMboxes: [true]
/*/mta/customAuthHeader: [false]
/*/mta/customAuthHeaderFieldBody: 
    [Submitted using SMTP AUTH <SMTPAUTHMECH> at <HOSTNAME> from <PEERIP> using ID <SMTPAUTHID> at <TIMESTAMP>]
/*/mta/customAuthHeaderFieldName: [Authentication-Info]
/*/mta/customReceivedHeader: [false]
/*/mta/dataBeforeGreetingWeight: [100]
/*/mta/defaultDomain: [auto.openwave.com]
/*/mta/deferOnExcessRCPTs: [true]
/*/mta/deferOnExcessRCPTsReplyText: [Too many recipients]
/*/mta/deferOnMxLookupFail: [true]
/*/mta/deferProcessInterval: [600]
/*/mta/delayGreeting: [0]
/*/mta/deliveryScopeControl: [off]
/*/mta/disableDirectoryRME: [false]
/*/mta/domainLoadMaxTryCount: [0]
/*/mta/domainLoadRetryInterval: [10]
/*/mta/domainTableType: [directory]
/*/mta/domainTableWaitSeconds: [0]
/*/mta/domainUpdateInterval: [60]
/*/mta/dropConnections: [false]
/*/mta/dropConnIfBeingFlooded: [false]
/*/mta/dropMaxMessageRcpts: [0]
/*/mta/dropMaxSameRcpt: [0]
/*/mta/dropRcptsReplyText: [service unavailable]
/*/mta/dropSameRcptReplyText: [service unavailable]
/*/mta/dropTheseIPs:     []
/*/mta/enableAdvancedSmsNotificationIfNoFilter: [false]
/*/mta/enableCosCaching: [false]
/*/mta/enableDelayGreetingDetection: [false]
/*/mta/enableOutboundXCLP: [false]
/*/mta/enableQueuedDomainPriority: [false]
/*/mta/enableSharedConnectionLimits: [false]
/*/mta/encode8BitHeader: [false]
/*/mta/enforceEHLOorHELO: [false]
/*/mta/Error-Actions/AcctForwardDeliveryScopeExceeded: 
    [return]
    [log]
/*/mta/Error-Actions/AcctForwardInfoInvalid: 
    [return]
    [log]
/*/mta/Error-Actions/AcctInactive: 
    [return]
    [log]
/*/mta/Error-Actions/AcctInvalidUser: 
    [return]
    [log]
/*/mta/Error-Actions/AcctReadOnly: 
    [return]
    [log]
/*/mta/Error-Actions/BadReturn: 
    [hold]
    [log]
/*/mta/Error-Actions/FiltActionBounce: 
    [return]
    [log]
/*/mta/Error-Actions/MLstBadPassword: 
    [return]
    [log]
    [notify-list-owner]
/*/mta/Error-Actions/MLstBadPolicyAction: 
    [return]
    [log]
/*/mta/Error-Actions/MLstListLocked: 
    [return]
    [log]
/*/mta/Error-Actions/MLstMessageRejected: 
    [return]
    [log]
/*/mta/Error-Actions/MLstNoModerators: 
    [return]
    [log]
/*/mta/Error-Actions/MLstNotAllowed: 
    [return]
    [log]
/*/mta/Error-Actions/MLstNotAllowedNotify: 
    [return]
    [log]
    [notify-list-owner]
/*/mta/Error-Actions/MLstOverGlobalLimitKB: 
    [log]
    [return]
/*/mta/Error-Actions/MLstOverGlobalLimitMsg: 
    [log]
    [return]
/*/mta/Error-Actions/MLstOverGlobalLimitTotalKB: 
    [log]
    [return]
/*/mta/Error-Actions/MLstOverUserLimit: 
    [log]
    [return]
/*/mta/Error-Actions/MLstRequestToList: 
    [log]
    [return]
    [notify-list-owner]
/*/mta/Error-Actions/MLstServiceDisabled: 
    [return]
    [log]
/*/mta/Error-Actions/MsLimitMsgSize: 
    [return]
    [log]
/*/mta/Error-Actions/MsLimitNumMsgs: 
    [return]
    [log]
/*/mta/Error-Actions/MsLimitTotalSize: 
    [return]
    [log]
/*/mta/Error-Actions/MsLimitTotalSize64: 
    [return]
    [log]
/*/mta/Error-Actions/MsNoAllowDeliver: 
    [return]
    [log]
/*/mta/Error-Actions/MtaAttachmentFailed: [return]
/*/mta/Error-Actions/MtaDeliveryScopeExceeded: 
    [return]
    [log]
/*/mta/Error-Actions/MtaDomainInvalid: 
    [return]
    [log]
/*/mta/Error-Actions/MtaExtSvcActionBounce: [return]
/*/mta/Error-Actions/MtaExtSvcDeferCountMaxExceeded: 
    [return]
    [log]
/*/mta/Error-Actions/MtaExtSvcReturnedAnInvalidAddress: 
    [return]
    [log]
/*/mta/Error-Actions/MtaHeaderNotTerminated: 
    [hold]
    [log]
/*/mta/Error-Actions/MtaHostInvalid: 
    [return]
    [log]
/*/mta/Error-Actions/MtaInvalidMimeAttachment: [return]
/*/mta/Error-Actions/MtaInvalidRealmSyntax: 
    [hold]
    [log]
/*/mta/Error-Actions/MtaMaxMtaHopCountExceeded: 
    [hold]
    [log]
/*/mta/Error-Actions/MtaMessage8BitNotAllowed: 
    [return]
    [log]
/*/mta/Error-Actions/MtaMessageDelivered: [return]
/*/mta/Error-Actions/MtaMessageExpanded: [return]
/*/mta/Error-Actions/MtaMessageQueuedTooLong: 
    [return]
    [log]
/*/mta/Error-Actions/MtaMessageRejected: [return]
/*/mta/Error-Actions/MtaMessageRelayed: [return]
/*/mta/Error-Actions/MtaMessageTooLarge: 
    [return]
    [log]
/*/mta/Error-Actions/MTAMsgNoRecipients: 
    [hold]
    [log]
/*/mta/Error-Actions/MtaReceiveScopeExceeded: 
    [return]
    [log]
/*/mta/Error-Actions/MtaRecipientsRejected: 
    [return]
    [log]
/*/mta/Error-Actions/MtaSenderRejected: 
    [return]
    [log]
/*/mta/Error-Actions/SmtpClientMailLoopDetected: 
    [hold]
    [log]
/*/mta/Error-Actions/SmtpDnsBadConfig: 
    [return]
    [log]
/*/mta/Error-Actions/SmtpProtocolNotSupported: 
    [return]
    [log]
/*/mta/Error-Code/AcctForwardDeliveryScopeExceeded: [5.7.1]
/*/mta/Error-Code/AcctForwardInfoInvalid: [5.2.3]
/*/mta/Error-Code/AcctInactive: [5.2.1]
/*/mta/Error-Code/AcctInvalidUser: [5.1.1]
/*/mta/Error-Code/AcctReadOnly: [5.2.1]
/*/mta/Error-Code/FiltActionBounce: [5.7.1]
/*/mta/Error-Code/MLstBadPassword: [5.7.0]
/*/mta/Error-Code/MLstBadPolicyAction: [5.7.0]
/*/mta/Error-Code/MLstListLocked: [5.2.1]
/*/mta/Error-Code/MLstMessageRejected: [5.0.0]
/*/mta/Error-Code/MLstNoModerators: [5.2.4]
/*/mta/Error-Code/MLstNotAllowed: [5.7.0]
/*/mta/Error-Code/MLstNotAllowedNotify: [5.7.0]
/*/mta/Error-Code/MLstOverGlobalLimitKB: [5.7.0]
/*/mta/Error-Code/MLstOverGlobalLimitMsg: [5.7.0]
/*/mta/Error-Code/MLstOverGlobalLimitTotalKB: [5.7.0]
/*/mta/Error-Code/MLstOverUserLimit: [5.7.0]
/*/mta/Error-Code/MLstRequestToList: [5.7.0]
/*/mta/Error-Code/MLstServiceDisabled: [5.3.2]
/*/mta/Error-Code/MsLimitMsgSize: [4.2.3]
/*/mta/Error-Code/MsLimitNumMsgs: [4.2.2]
/*/mta/Error-Code/MsLimitTotalSize: [4.2.2]
/*/mta/Error-Code/MsLimitTotalSize64: [4.2.4]
/*/mta/Error-Code/MsNoAllowDeliver: [4.2.1]
/*/mta/Error-Code/MtaDeliveryScopeExceeded: [5.7.1]
/*/mta/Error-Code/MtaDomainInvalid: [5.1.2]
/*/mta/Error-Code/MtaHeaderNotTerminated: [5.5.2]
/*/mta/Error-Code/MtaHostInvalid: [5.1.2]
/*/mta/Error-Code/MtaInvalidRealmSyntax: [5.2.3]
/*/mta/Error-Code/MtaMaxMtaHopCountExceeded: [4.4.0]
/*/mta/Error-Code/MtaMessage8BitNotAllowed: [5.6.3]
/*/mta/Error-Code/MtaMessageDelivered: [2.1.5 delivered]
/*/mta/Error-Code/MtaMessageExpanded: [2.1.5 expanded]
/*/mta/Error-Code/MtaMessageQueuedTooLong: [4.4.7]
/*/mta/Error-Code/MtaMessageRejected: [5.3.0]
/*/mta/Error-Code/MtaMessageRelayed: [2.1.5 relayed]
/*/mta/Error-Code/MtaMessageTooLarge: [5.3.4]
/*/mta/Error-Code/MtaMsgNoRecipients: [5.1.3]
/*/mta/Error-Code/MtaReceiveScopeExceeded: [5.7.1]
/*/mta/Error-Code/MtaRecipientsRejected: [5.2.0]
/*/mta/Error-Code/MtaSenderRejected: [5.1.8]
/*/mta/Error-Code/SmtpClientMailLoopDetected: [4.4.6]
/*/mta/Error-Code/SmtpDnsBadConfig: [5.4.4]
/*/mta/Error-Code/SmtpProtocolNotSupported: [5.3.2]
/*/mta/Error-Text/AcctForwardDeliveryScopeExceeded: 
    [Your account is restricted to local delivery, and a remote forwarding address was ]
    [specified by the original Recipient:]
/*/mta/Error-Text/AcctForwardInfoInvalid: 
    [The user has one or more forwarding addresses which are invalid.]
/*/mta/Error-Text/AcctInactive: [The user(s) account is disabled.]
/*/mta/Error-Text/AcctInvalidUser: 
    [The following destination addresses were unknown (please check the]
    [addresses and re-mail the message):]
/*/mta/Error-Text/AcctReadOnly: 
    [The following Recipient(s) are not permitted to receive mail:]
/*/mta/Error-Text/FiltActionBounce: 
    [An incoming mail filter has determined that this message should not]
    [be delivered.]
/*/mta/Error-Text/MLstBadPassword: 
    [The password specified is invalid for the mailing list.]
/*/mta/Error-Text/MLstBadPolicyAction: 
    [Bad mailing list policy. Check mailing list configuration.]
/*/mta/Error-Text/MLstListLocked: [The mailing list is locked.]
/*/mta/Error-Text/MLstMessageRejected: 
    [Your posting to the mailing list was rejected by the moderator.]
/*/mta/Error-Text/MLstNoModerators: 
    [The mailing list appears to have no moderators.]
/*/mta/Error-Text/MLstNotAllowed: 
    [Sorry, you are not allowed to post to this mailing list.]
/*/mta/Error-Text/MLstNotAllowedNotify: 
    [Sorry, you are not allowed to post to this mailing list.]
/*/mta/Error-Text/MLstOverGlobalLimitKB: 
    [Sorry, your posting request has exceeded the limit for]
    [maximum number of kilobytes per message as defined for]
    [this list.]
/*/mta/Error-Text/MLstOverGlobalLimitMsg: 
    [Sorry, your posting request has exceeded the limit for]
    [maximum number of messages per day as defined for]
    [this list.]
/*/mta/Error-Text/MLstOverGlobalLimitTotalKB: 
    [Sorry, your posting request has exceeded the limit for]
    [maximum total number of kilobytes per day as defined]
    [for this list.]
/*/mta/Error-Text/MLstOverUserLimit: 
    [Sorry, you are over one of the limits establshed for you as a]
    [subscriber to this list.]
/*/mta/Error-Text/MLstRequestToList: [A request was posted to the mailing list.]
/*/mta/Error-Text/MLstServiceDisabled: [Mailing List Services are disabled.]
/*/mta/Error-Text/MsLimitMsgSize: 
    [The user(s) account is temporarily over quota.]
/*/mta/Error-Text/MsLimitNumMsgs: 
    [The user(s) account is temporarily over quota.]
/*/mta/Error-Text/MsLimitTotalSize: 
    [The user(s) account is temporarily over quota.]
/*/mta/Error-Text/MsLimitTotalSize64: 
    [The user(s) account is temporarily over quota.]
/*/mta/Error-Text/MsNoAllowDeliver: [The user(s) account is disabled.]
/*/mta/Error-Text/MtaAttachmentFailed: 
    [You tried to send a non-existent IMAP URL to the following destination]
    [addresses:]
/*/mta/Error-Text/MtaDeliveryScopeExceeded: 
    [Your account is not authorized to send mail to remote addresses, including:]
/*/mta/Error-Text/MtaDomainInvalid: 
    [Your message was not delivered because the destination computer was]
    [not found and the domain is not RFC compliant try]
    [sending it again if there were any mistakes.]
/*/mta/Error-Text/MtaExtSvcDeferCountMaxExceeded: 
    [The message could not be delivered due to a temporary system problem.]
    [Please try again later.]
/*/mta/Error-Text/MtaExtSvcReturnedAnInvalidAddress: 
    [The message could not be delivered due to a temporary system problem.]
    [Please try again later.]
/*/mta/Error-Text/MtaHeaderNotTerminated: 
    [Email header is not properly formatted]
/*/mta/Error-Text/MtaHostInvalid: 
    [Your message was not delivered because the destination computer was]
    [not found.  Carefully check that it was spelled correctly and try]
    [sending it again if there were any mistakes.]
    []
    [It is also possible that a network problem caused this situation,]
    [so if you are sure the address is correct you might want to try to]
    [send it again.  If the problem continues, contact your friendly]
    [system administrator.]
/*/mta/Error-Text/MtaInvalidMimeAttachment: 
    [You tried to send a message with an improperly formatted MIME attachment.]
/*/mta/Error-Text/MtaInvalidRealmSyntax: 
    [The recipient's realm based forwarding address is invalid.]
/*/mta/Error-Text/MtaMaxMtaHopCountExceeded: 
    [Other or undefined network or routing status]
/*/mta/Error-Text/MtaMessage8BitNotAllowed: 
    [Your message was not delivered because it uses 8-bit or binary]
    [encoding and the destination computer does not support this encoding.]
    [This server is configured to return the message in this case rather]
    [than attempting to convert the message to a 7-bit encoding.]
/*/mta/Error-Text/MtaMessageDelivered: 
    [Your message was successfully delivered to its final destination.]
    [This is a notification of that fact, as you requested.]
/*/mta/Error-Text/MtaMessageExpanded: 
    [This is a notification of successful delivery, as you requested.]
    [Your message reached its destination and was forwarded to at least]
    [two mailboxes or recipients.]
/*/mta/Error-Text/MtaMessageQueuedTooLong: 
    [Your message was not delivered because the destination computer was]
    [not reachable within the allowed queue period.  The amount of time]
    [a message is queued before it is returned depends on local configura-]
    [tion parameters.]
    []
    [Most likely there is a network problem that prevented delivery, but]
    [it is also possible that the computer is turned off, or does not]
    [have a mail system running right now.]
/*/mta/Error-Text/MtaMessageRejected: 
    [Your message was not delivered because the destination computer refused]
    [to accept it (the error message is reproduced below).  This type of error]
    [is usually due to a mis-configured account or mail delivery system on the]
    [destination computer; however, it could be caused by your message since]
    [some mail systems refuse messages with invalid header information, or if]
    [they are too large.]
/*/mta/Error-Text/MtaMessageRelayed: 
    [As part of the delivery process, your message was relayed to a machine]
    [which does not handle delivery status notifications.  As a result, it]
    [is not possible to determine whether the message will get to its final]
    [destination.]
/*/mta/Error-Text/MtaMessageTooLarge: 
    [Your message is larger than the destination computer is willing to]
    [accept, so it was returned.  The error message below indicates the]
    [size of your message and the maximum size allowed by the receiving]
    [E-mail system.  You may be able to split your message into several]
    [smaller pieces and have them delivered separately.]
/*/mta/Error-Text/MtaMsgNoRecipients: [Bad destination mailbox address syntax]
/*/mta/Error-Text/MtaReceiveScopeExceeded: 
    [The following recipients are not authorized to receive mail from a]
    [remote sender:]
/*/mta/Error-Text/MtaRecipientsRejected: 
    [Each of the following recipients was rejected by a remote mail server.]
    [The reasons given by the server are included to help you determine why]
    [each recipient was rejected.]
/*/mta/Error-Text/MtaSenderRejected: 
    [Your message was not delivered because the return address was refused.]
/*/mta/Error-Text/SmtpClientMailLoopDetected: [Routing loop detected]
/*/mta/Error-Text/SmtpDnsBadConfig: 
    [Your message was not delivered because the Domain Name System]
    [(DNS) for the destination computer is not configured correctly.]
    [The following is a list of reasons why this error message could]
    [have been generated.  If you do not understand the explanations]
    [listed here, please contact your system administrator for help.]
    []
    [     - The host does not have any mail exchanger (MX) or]
    [       address (A) records in the DNS.]
    []
    [     - The host has valid MX records, but none of the mail]
    [       exchangers listed have valid A records.]
    []
    [     - There was a transient error with the DNS that caused]
    [       one of the above to appear to be true.]
    []
    [You may want to try sending your message again to see if the]
    [problem was only temporary.]
/*/mta/Error-Text/SmtpProtocolNotSupported: 
    [Your message was not delivered because the destination computer does]
    [not support electronic mail (SMTP).  Correct any mistakes in the]
    [address and try sending the message again.]
/*/mta/extensionDeferCountMax: [0]
/*/mta/extensionsConnectionPoolMax: [default 50]
/*/mta/extensionsConnectionPoolMin: [default 5]
/*/mta/extensionsConnectionTimeoutMS: [default 5000]
/*/mta/extensionsEnabled:     []
/*/mta/extensionsOptionalCoSAttributes:     []
/*/mta/extensionsSchemas:     []
/*/mta/extensionsServiceAttributes:     []
/*/mta/fileDescriptors: [32000]
/*/mta/filterMimeHeaderOnly: [false]
/*/mta/globalFlowControlGranularity: [off]
/*/mta/globalFlowControlIncludeDeliverers: [false]
/*/mta/headerKeywords:     []
/*/mta/Help/8bit: 
    [Usage:  MAIL FROM:<sender> BODY=8BITMIME]
    []
    [EHLO reply:  8BITMIME]
    []
    [The 8BITMIME extension is required to deliver messages which contain]
    [8-bit data outside the range 0-127 (not in the US-ASCII character set).]
    []
    [Reference:  RFC 1652 "SMTP Service Extension for 8-bitMIME transport"]
/*/mta/Help/data: 
    [Usage:  DATA]
    []
    [The DATA command is used to transfer the message body.  Lines]
    [are read until a line consisting of a single "." is encountered.]
/*/mta/Help/ehlo: 
    [Usage:  EHLO domain]
    []
    [The extended HELO command is used to determine which SMTP]
    [extensions are supported by the receiver.  The EHLO command]
    [can be used in place of HELO when extended SMTP functions]
    [are desired.]
    []
    [Reference: RFC 1651 "SMTP Service Extensions"]
/*/mta/Help/expn: 
    [Usage:  EXPN <address>]
    []
    [EXPN lists the actual recipients of a message sent to <address>.]
/*/mta/Help/helo: 
    [Usage:  HELO domain]
    []
    [HELO announces the domain name of the sending host.  This is]
    [required at the start of every SMTP session.  See also EHLO.]
/*/mta/Help/help: 
    [Usage:  HELP \[command\]]
    []
    [Without an argument, the HELP command lists all of the supported]
    [SMTP commands.  If a command is specified, then help about that]
    [specific command is given (but you figured it out yourself :-)]
/*/mta/Help/mail: 
    [Usage:  MAIL FROM:<sender>]
    []
    [Tells the receiver who the sender of the message is.  Any error]
    [messages will be sent to this address.]
/*/mta/Help/noop: 
    [Usage:  NOOP]
    []
    [Do nothing (NO OPeration).  This can be used to check if the]
    [receiver is still listening for commands.]
/*/mta/Help/quit: 
    [Usage:  QUIT]
    []
    [QUIT tells the receiver to stop expecting transaction requests]
    [from the sender, and to close the connection.]
/*/mta/Help/rcpt: 
    [Usage:  RCPT TO:<recipient>]
    []
    [Tells the receiver to deliver the message to <recipient>.  May be]
    [repeated any number of times for multiple recipients.]
/*/mta/Help/rset: 
    [Usage:  RSET]
    []
    [RSET resets the state of the receiver.  An implicit RSET is per-]
    [formed after every DATA command.]
/*/mta/Help/size: 
    [Usage:  MAIL FROM:<sender> SIZE=sss]
    []
    [EHLO reply:  SIZE \[nnn\]]
    []
    [The SIZE extension is used to inform the receiver of the size of]
    [a message prior to sending it.  The EHLO reply tells the sender]
    [the maximum message size that the receiver is willing to accept.]
    []
    [Reference:  RFC 1653 "SMTP Service Extension for Message]
    [                      Size Declaration"]
/*/mta/Help/smtp: 
    [This SMTP server is a part of the Email Mx E-mail system.  For]
    [information about Email Mx, please see http://www.openwave.com]
    []
    [      Supported commands:]
    []
    [           EHLO     HELO     MAIL     RCPT     DATA]
    [           VRFY     RSET     NOOP     QUIT]
    []
    [      SMTP Extensions supported through EHLO:]
    []
    [           EXPN     HELP     SIZE]
    []
    [For more information about a listed topic, use "HELP <topic>"]
    [Please report mail-related problems to Postmaster at this site.]
/*/mta/Help/vrfy: 
    [Usage:  VRFY <address>]
    []
    [Verify that a message sent to <address> will be delivered.  If the]
    [address does not refer to a local account, the message may still]
    [be accepted and forwarded.]
/*/mta/hostnameAliasList:     []
/*/mta/illegalRcptHarvester: [true]
/*/mta/incomingMailFilter:     []
/*/mta/inDeliveryDeferKb: [1000000]
/*/mta/inDeliveryRejectKb: [0]
/*/mta/inDeliveryStopDeferProcessKb: [0]
/*/mta/internalQueueDepths:     []
/*/mta/ldapServerHosts:     []
/*/mta/listBounceFilter: 
    [from: mailer-daemon]
    [message-type: ^\\s*delivery report$]
    [subject: ^\\s*undeliverable]
    [subject: undeliverable message$]
    [subject: unable to deliver message$]
    [subject: failed mail$]
    [subject: ^failed mail]
    [subject: ^returned mail]
    [subject: delivery: rejected]
    [return-path: ucx_smtp]
/*/mta/listBounceRewrites: 
    [header Precedence: junk]
    [match error: nosuchuser: (\[<a-zA-Z0-9\]\[^>\\s\]+\[>a-zA-Z\])]
    [result \\1]
    [end]
    [header From: mail administrator]
    [header Subject: mail system error - returned mail]
    [match recipient was rejected.*Recipient: (<\[^>\\s\]+>)]
    [result \\1]
    [end]
    [header From: mail administrator]
    [header Subject: mail system error - returned mail]
    [match recipients did not receive this message:\\s+(<\[^>\\s\]+>)\\s]
    [result \\1]
    [end]
    [header From: mail administrator]
    [header Subject: mail system error - returned mail]
    [match The following destination addresses were unknown\[^<\]*(<\[^>\\s\]+>)]
    [result \\1]
    [end]
    [header From: mail administrator]
    [header Subject: mail system error - returned mail]
    [match account is temporarily over quota\[^<\]*(<\[^>\\s\]+>)]
    [result \\1]
    [end]
    [header From: mailer-daemon]
    [header Subject: returned mail]
    [match The following addresses\[^<\]*(<\[^>\\s\]+>)]
    [result \\1]
    [end]
    [header X-Report-Type: nondelivery]
    [header Subject: local delivery error]
    [match Error-For:\\s+(\\S+)]
    [result \\1]
    [end]
    [header Subject: returned mail]
    [match Transcript of session.*55\[0-9\] (\[<a-zA-Z0-9\]\[^>\\s\]+\[>a-zA-Z\])(\\.\\.| is not)]
    [result \\1]
    [end]
    [header Subject: returned mail]
    [match Transcript of the session\[^<\]*(<\[^>\\s\]+\[>a-zA-Z\])]
    [result \\1]
    [end]
    [header Subject: delivery failed]
    [header From: mailer-daemon]
    [match Unable to deliver mail.*"(\[a-zA-Z0-9\]+)" was not found]
    [result \\1]
    [end]
    [header Subject: failed mail\\.]
    [match Your message was not delivered to (\[<a-zA-Z0-9\]\[^>\\s\]+\[>a-zA-Z\])]
    [result \\1]
    [end]
    [header Subject: unrouteable mail]
    [match Cannot route mail to the following:\\s+(\[<a-zA-Z0-9\]\[^>\\s\]+\[>a-zA-Z\])]
    [result \\1]
    [end]
    [header Subject: returned mail: no such addressee]
    [match The following message.*could not be delivered\\s+to ``(\[<a-zA-Z0-9\]\[^>\\s\]+\[>a-zA-Z\])'']
    [result \\1]
    [end]
    [header Subject: returned mail]
    [match Transcript of session.*\\s(\[<a-zA-Z0-9\]\[^>\\s\]+\[>a-zA-Z\]) .bounced]
    [result \\1]
    [end]
    [header Subject: problems delivering your mail]
    [match Please make sure you have the correct address.\\s+(\[<a-zA-Z0-9\]\[^>\\s\]+\[>a-zA-Z\])]
    [result \\1]
    [end]
    [header From: postmaster general]
    [match error: unresolveable: (\[<a-zA-Z0-9\]\[^>\\s\]+\[>a-zA-Z\])]
    [result \\1]
    [end]
    [header Subject: undeliverable mail]
    [match your mail was not delivered to the intended recipient.*below was sent to user (\[<a-zA-Z0-9\]\[^>\\s\]+\[>a-zA-Z\]) on the]
    [result \\1]
    [end]
    [header From: mailer-daemon]
    [match This is a permanent error.*didn't work out.\\s+(\[<a-zA-Z0-9\]\[^>\\s\]+\[>a-zA-Z\]):]
    [result \\1]
    [end]
    [header Subject: undeliverable mail: processing failure]
    [match These addresses were rejected:\\s*(\[<a-zA-Z0-9\]\[^>\\s\]+\[>a-zA-Z\]) not found in]
    [result \\1]
    [end]
    [header Subject: a message you sent could not be delivered]
    [match Recipient (\[<a-zA-Z0-9\]\[^>\\s\]+\[>a-zA-Z\])\\s+did NOT receive the message]
    [result \\1]
    [end]
    [header From: mailer-daemon]
    [header Subject: returned mail]
    [match While connected to .*55\[0-9\] (\[<a-zA-Z0-9\]\[^>\\s\]+\[>a-zA-Z\])(\\.\\.| is not)]
    [result \\1]
    [end]
    [header Subject: delivery problems with your mail]
    [match The following errors occurred .*55\[0-9\] (\[<a-zA-Z0-9\]\[^>\\s\]+\[>a-zA-Z\])(\\.\\.| is not)]
    [result \\1]
    [end]
    [header Subject: your mail to .* failed]
    [match This is an automatic reply.*Don't know who (\[a-zA-Z0-9\]+) is]
    [result \\1]
    [end]
    [header Subject: undeliverable mail]
    [match could not be sent because the address '(\[<a-zA-Z0-9\]\[^>\\s\]+\[>a-zA-Z\])' was rejected]
    [result \\1]
    [end]
    [header From: mailer-daemon]
    [header Subject: returned mail: undeliverable]
    [match The mail you sent could not be delivered.*55\[0-9\] (\[<a-zA-Z0-9\]\[^>\\s\]+\[>a-zA-Z\])(\\.\\.| is not)]
    [result \\1]
    [end]
    [header Subject: failed mail]
    [match Whilst talking to .*55\[0-9\] (\[<a-zA-Z0-9\]\[^>\\s\]+\[>a-zA-Z\])(\\.\\.| is not)]
    [result \\1]
    [end]
    [header Subject: failed mail]
    [match Your message to .* was rejected.*55\[0-9\] (\[<a-zA-Z0-9\]\[^>\\s\]+\[>a-zA-Z\])(\\.\\.| is not)]
    [result \\1]
    [end]
    [header Subject: U1: unable to deliver message]
    [match Your message to (\\S+) cannot be delivered]
    [result \\1]
    [end]
    [header Subject: undeliverable mail]
    [match Your message was not delivered\[^:\]*:\\s+(\[^:\]+)]
    [result \\1]
    [end]
    [header Subject: undeliverable mail]
    [match The enclosed message could not be delivered\[^:\]*:\\s+(\\S+)]
    [result \\1]
    [end]
    [header Message-Type: Delivery Report]
    [match Your message was not delivered to:?\\s+(\\S+)]
    [result \\1]
    [end]
    [header Message-Type: Delivery Report]
    [header Subject: Undeliverable message]
    [header From: compuserve]
    [match Invalid receiver address:\\s+(\\S+)]
    [result \\1]
    [end]
    [header Subject: cc:?mail]
    [match User (\\S+) is not defined]
    [result \\1]
    [end]
    [header Subject: delivery failure]
    [match delivery problems.*Originally addressed to (\\S+)\\)]
    [result \\1]
    [end]
    [header Subject: delivery failure notification]
    [match User (<\[^>\\s\]+>) not known at this site]
    [result \\1]
    [end]
    [header Subject: nameserver error]
    [match not delivered to the following:\\s*(\\S+)\\s+No matches to nameserver query]
    [result \\1]
    [end]
    [header From: mailer-daemon]
    [header Subject: message status - undeliverable]
    [match that you sent was undeliverable to the following:\\s+(\\S+)\\s]
    [result \\1]
    [end]
    [header From: mailer-daemon]
    [header Subject: returned mail]
    [header X-Mailer: SMTP.MS]
    [match rejected recipient:\\s+(\\S+)]
    [result \\1]
    [end]
    [header Subject: delivery: rejected]
    [header X-Mailer: ugate]
    [match Your message failed to reach.*Rejected for:\\s*(\\S+)]
    [result \\1]
    [end]
    [header Subject: undeliverable mail:]
    [header From: pmdf]
    [match The message could not be delivered.*Addressee:\\s+(\\S+)]
    [result \\1]
    [end]
    [header Subject: undeliverable:]
    [match The following recipient.s. could not be reached:\\s+(\\S+)\\s]
    [result \\1]
    [end]
    [header From: mailer-daemon]
    [header Subject: mail delivery failed: returning message to sender]
    [match unknown local-part "(\[^"\]+)" in domain "(\[^"\]+)"]
    [result \\1@\\2]
    [end]
    [header From: mailer-daemon]
    [header Subject: mail failed]
    [match Failed addresses follow:\[^<a-zA-Z0-9\]*(\[<a-zA-Z0-9\]\\S+)]
    [result \\1]
    [end]
    [header From: postmaster]
    [header Subject: undeliverable mail]
    [match bad address -- <(\[^>@\]+)>]
    [result \\1]
    [end]
/*/mta/listDigestHeaderList: 
    [Date:]
    [From:]
    [To:]
    [Cc:]
    [Subject:]
    [Message-ID:]
    [Keywords:]
    [Content-Type:]
/*/mta/listDigestMaxIssueNumber: [365]
/*/mta/listOwnerBody: 
    [The mail system on <Host> encountered the following error:]
    []
    [<ErrorText>]
    []
    [The original mail envelope addresses are:]
    []
    [    User-From: <UserFrom>]
    [<Recipients>]
    []
    [-----------------------------------------------------------]
    [The message was submitted on <SubmitDate>]
    [by host <SubmitHost>]
    []
    [The original message header is below:]
    []
    [<Headers>]
/*/mta/listOwnerHeader: 
    [To: <ReturnAddress>]
    [From: Mailing List Manager <AdminContact>]
    [Reply-To: Mailing List Manager <AdminContact>]
/*/mta/listProcessingDisable: [true]
/*/mta/listProcessingHosts:     []
/*/mta/listProcessingRedirect: [false]
/*/mta/listQueueProcessInterval: [300]
/*/mta/listRequestDetection: [true]
/*/mta/listSchedulerWorkerNumThreads: [10]
/*/mta/ListServer/Manager/Help: 
    [Introduction to the List Manager]
    [--------------------------------]
    [  This is the Mailing List Manager for Openwave Email <+++Version+++>.]
    [  The interface is similar to Brent Chapman's "Majordomo".  ]
    []
    []
    [How to Access the List Manager]
    [------------------------------]
    [  You can interact with the List Manager by sending commands in the body of ]
    [  an E-mail message addressed to "<+++ListManager+++>".]
    []
    [    (Important Note:  Commands in the "Subject:" line are NOT processed.)]
    []
    []
    [Available List Manager Commands]
    [-------------------------------]
    [  The Openwave Email Mailing List Manager understands the following commands:]
    []
    [    (Note:  In the descriptions below items contained in \[\]'s are optional. ]
    [             When providing the item, do not include the \[\]'s around it.)]
    []
    []
    [    subscribe <list> \[<address>\] \[immediate|digest\]]
    [        Subscribe yourself (or <address> if specified) to the named <list>.]
    []
    [    unsubscribe <list> \[<address>\]]
    [        Unsubscribe yourself (or <address> if specified) from the named <list>.]
    []
    [    which]
    [        Find out which lists you are on.]
    []
    [    who <list>]
    [        Find out who is on the named <list>.]
    []
    [    info <list>]
    [        Retrieve the general introductory information for the named <list>.]
    []
    [    lists]
    [        Show the lists served by this List Manager server.]
    []
    [    help]
    [        Retrieve this message.]
    []
    [    end]
    [        Stop processing commands (useful if your mailer adds a signature).]
/*/mta/ListServer/Messages/AlreadyApplied: 
    [This user/E-mail address is already waiting for moderator approval.]
/*/mta/ListServer/Messages/AlreadySubscribed: 
    [This user/E-mail address is already subscribed.]
/*/mta/ListServer/Messages/ApplicantsCmdResponse: 
    []
    [Send the following commands to <+++ListManager+++>,]
    [after replacing 'subscribe' or 'unsubscribe' with 'reject']
    [as appropriate.]
    []
    [set list-address <+++ListAddress+++>]
    [set password LIST-PASSWORD]
/*/mta/ListServer/Messages/ApprovalHoldRequest: 
    [Subject: APPROVE <+++ListName+++>]
    []
    [<+++AuthAddress+++> requests that you approve the following:]
    []
    [    <+++Command+++>]
    []
    [If you approve, please send an E-mail message to <+++AuthAddress+++> ]
    [with the following content (substituting the appropriate PASSWORD, of course):]
    []
    [  set password YOUR-PASSWORD]
    [  <+++Command+++>]
    []
    [If you disapprove, send a message like this:]
    []
    [  set password YOUR-PASSWORD]
    [  rejectuser <+++ListAddress+++> <+++Subscriber+++>]
    []
    [<+++AuthAddress+++>]
/*/mta/ListServer/Messages/ApprovalRequest: 
    [Subject: APPROVE <+++ListName+++>]
    []
    [<+++AuthAddress+++> requests that you approve the following:]
    []
    [    <+++Command+++>]
    []
    [If you approve, please send an E-mail message back to <+++AuthAddress+++> ]
    [with the following content (substituting the appropriate PASSWORD, of course):]
    []
    [  approve PASSWORD <+++Command+++>]
    []
    [If you disapprove, you don't need to do anything.  The List Manager ]
    [will handle it for you automatically.]
    []
    [<+++AuthAddress+++>]
/*/mta/ListServer/Messages/ApprovalRequired: 
    [Approval from the list owner is required for this action.]
    [Your request has been forwarded to the list owner.]
/*/mta/ListServer/Messages/AuthenticationRequired: 
    [Security settings for this list require address verification.]
    [Therefore, this request cannot be performed until address]
    [verification is received.  ]
    []
    [A verification request has been sent to the subscription address.]
    [That message includes authorization information that must be sent]
    [to the list request address.  Specific instructions are included]
    [in the message.]
/*/mta/ListServer/Messages/AuthKeyRequest: 
    [Subject: Address verification request]
    []
    [Someone (possibly you) has requested that your email address be added]
    [to or deleted from the following mailing list : <+++ListAddress+++>]
    []
    [If you want this action to be taken, please send a message to:]
    []
    [\t\t <+++AuthAddress+++>]
    []
    [Your message must contain only the following three lines:]
    []
    [\t\tauth <+++AuthKey+++>]
    [\t\t<+++Command+++>]
    [\t\tend]
    []
    [If you do not want this action to be taken, just ignore this message.]
    []
    [Thanks!]
    []
    [<+++AuthAddress+++>]
/*/mta/ListServer/Messages/BadAuthKey: 
    [The authentication key provided was invalid.]
/*/mta/ListServer/Messages/BadPassword: [The password provided was invalid.]
/*/mta/ListServer/Messages/BadSubscribeCommand: 
    [The subscribe command is invalid. Please check the command below:]
    [    (Note:  In the descriptions below items contained in \[\]'s are]
    [ optional. ]
    [             When providing the item, do not include the \[\]'s aro]
    [und it.)]
    [    subscribe <list> \[<address>\] \[immediate|digest\]]
    [        Subscribe yourself (or <address> if specified) to the named]
    [ <list>.]
/*/mta/ListServer/Messages/CircularSubscription: 
    [A list may not be subscribed to itself.]
/*/mta/ListServer/Messages/ConflictDeliveryMode: 
    [We're sorry, but your request to subscribe to the mailing list]
    [has been denied. The subscription delivery mode you requested]
    ['<+++RequestDeliveryMode+++>' is conflict with the mailing list]
    [delivery mode '<+++ListDeliveryMode+++>'.]
/*/mta/ListServer/Messages/CouldNotApprove: 
    [The following messages could not be approved:]
/*/mta/ListServer/Messages/CouldNotRemove: 
    [The following messages could not be removed:]
/*/mta/ListServer/Messages/EmailModerateHeldNotice: 
    [Subject: List posting approval requested]
    []
    [Mail was received for <+++ListName+++> requiring your approval.]
    []
    [To approve it, fill in your password on the supplied]
    [Approved: line below where indicated, and forward everything]
    [BELOW the dashed line to <+++ListAddress+++>.]
    []
    [No action is necessary to reject this message.]
    [----------------------------------------------]
    [Approved: YOUR-PASSWORD]
/*/mta/ListServer/Messages/FilterBounceNotice: 
    [Subject: Bounce sent to <+++ListAddress+++>]
    []
    ["<+++ListName+++>" received a bounce message.  Most likely this]
    [occurred because a message sent out to the list (or a notice]
    [automatically generated by the list) was rejected by a remote mail]
    [server.  Possible reasons for this rejection include a list subscriber]
    [whose account was closed, or a host that was down for an extended]
    [period of time.]
    []
    [If these bounce messages persist, manual intervention may be required]
    [to determine which subscriber is causing the bounces and unsubscribe]
    [that user from the mailing list.]
    []
    [<+++AuthAddress+++>]
/*/mta/ListServer/Messages/InfoChanged: [Info changed.]
/*/mta/ListServer/Messages/InfoNotChanged: [Update failed. Info not changed.]
/*/mta/ListServer/Messages/InvalidAddress: [This is not a valid address.]
/*/mta/ListServer/Messages/ListMembers: [Members of list <+++ListName+++>:]
/*/mta/ListServer/Messages/Locked: 
    [This mailing list is temporarily unavailable.]
/*/mta/ListServer/Messages/MessageIdsNotFound: 
    [The following message id's were not found:]
/*/mta/ListServer/Messages/ModerateFwdNotice: 
    [Subject: List posting approval requested]
    []
    [A message was received for <+++ListName+++>.  Your approval ]
    [is required before it can be accepted for posting.  ]
    []
    [Please review the messages awaiting approval.]
    []
    [<+++AuthAddress+++>]
/*/mta/ListServer/Messages/ModerateHeldNotice: 
    [Subject: List posting approval requested]
    []
    [Mail was received for <+++ListName+++> and it needs to be approved.  ]
    []
    [To approve it, please send an E-mail to <+++AuthAddress+++> ]
    [with the body of the message structured exactly as follows:]
    []
    [   set password YOUR-PASSWORD]
    [   approvemail <+++AuthKey+++>]
    []
    [To reject it, send a message like this:]
    []
    [   set password YOUR-PASSWORD]
    [   rejectmail <+++AuthKey+++>]
    []
    [<+++AuthAddress+++>]
/*/mta/ListServer/Messages/NoAccess: 
    [You don't have access to the subscriber list.]
/*/mta/ListServer/Messages/NoApplicants: 
    [The applicants queue for this list is empty.]
/*/mta/ListServer/Messages/NoCommandsFound: 
    [**** No valid commands found.]
    [**** Commands must be in message BODY, not in HEADER.]
    []
    [**** Help for <+++ListManager+++>:]
/*/mta/ListServer/Messages/NoListsFound: [There are no lists on this server.]
/*/mta/ListServer/Messages/NoMailbox: 
    [Cannot resolve the mailing list's mailbox. Try again later.]
/*/mta/ListServer/Messages/NoMessageInfo: 
    [Cannot retrieve message information from the mailing list's]
    [Messages folder. Try again later.]
/*/mta/ListServer/Messages/NoMessagesFolder: 
    [Cannot resolve the mailing list's <+++Folder+++> folder. Try again later.]
/*/mta/ListServer/Messages/NoMessagesFound: [No messages found.]
/*/mta/ListServer/Messages/NoMSS: 
    [Cannot resolve the mailing list's Message Store Server. Try again later.]
/*/mta/ListServer/Messages/NoSuchList: 
    [There is no such list. Check the list name and try again.]
/*/mta/ListServer/Messages/NoSuchVariable: [No such variable.]
/*/mta/ListServer/Messages/NotSubscribed: 
    [This user/E-mail address is not subscribed to the list specified.]
/*/mta/ListServer/Messages/NotSubscribedToAnyLists: 
    [This user/E-mail address is not subscribed to any mailing lists.]
/*/mta/ListServer/Messages/OverGlobalLimitKB: 
    [Sorry, your posting request has exceeded the limit for]
    [maximum number of kilobytes per message as defined for]
    [this list.]
/*/mta/ListServer/Messages/OverGlobalLimitMsg: 
    [Sorry, your posting request has exceeded the limit for]
    [maximum number of messages per day as defined for]
    [this list.]
/*/mta/ListServer/Messages/OverGlobalLimitTotalKB: 
    [Sorry, your posting request has exceeded the limit for]
    [Maximum total number of kilobytes per day as defined ]
    [for this list.]
/*/mta/ListServer/Messages/OverLimit: 
    [Sorry, but this list already has the maximum number of subscribers allowed.]
/*/mta/ListServer/Messages/OverLimitNotification: 
    [Subject: Notification of subscribe attempt for <+++ListName+++>]
    []
    [<+++AuthAddress+++> got a request to subscribe to the list]
    [<+++ListAddress+++> from <+++Subscriber+++>.  Since the]
    [list is at its maximum number of subscribers, the request was denied.]
    []
    [Sincerely,]
    []
    [<+++AuthAddress+++>]
/*/mta/ListServer/Messages/RequestDenied: 
    [You were not granted permission to perform this request.]
    [The list is currently closed to subscription.]
/*/mta/ListServer/Messages/RequestFailed: [Request failed.]
/*/mta/ListServer/Messages/RequestNotFound: 
    [The request was not found. Perhaps it was already handled by another moderator.]
/*/mta/ListServer/Messages/RequestToList: [A request was posted to the list.]
/*/mta/ListServer/Messages/SetCmdUsage: 
    [Usage: set variable value]
    [where 'variable' is one of:]
    [    password]
    [    list-address]
/*/mta/ListServer/Messages/SubscribeAttemptNotification: 
    [Subject: Notification of subscribe attempt for <+++ListName+++>]
    []
    [<+++AuthAddress+++> got a request to subscribe to the list]
    [<+++ListAddress+++> from <+++Subscriber+++>.  Since the]
    [list is closed, the request was denied.  To turn off these]
    [messages, change the list policy from "Closed With Notification"]
    [to "Closed Without Notification".]
    []
    [Sincerely,]
    []
    [<+++AuthAddress+++>]
/*/mta/ListServer/Messages/Subscribed: [Subscribed.]
/*/mta/ListServer/Messages/SubscribeRejectionNotice: 
    [Subject: <+++Command+++>]
    []
    [We're sorry, but your request to be subscribed to the mailing list]
    ["<+++ListAddress+++>" has been denied.  For more information]
    [about why this happened, contact <+++OwnerAddress+++>.]
    []
    [Sincerely,]
    []
    [<+++AuthAddress+++>]
/*/mta/ListServer/Messages/SubscriptionChanged: 
    [Your subscription delivery mode has been changed.]
/*/mta/ListServer/Messages/Success: [Success.]
/*/mta/ListServer/Messages/SuccessfullyProcessed: 
    [The following messages id's were successfully processed:]
/*/mta/ListServer/Messages/TempFail: 
    [A temporary failure occurred; please try again later.]
/*/mta/ListServer/Messages/UnrecognizedCommand: [**** Unrecognized command.]
/*/mta/ListServer/Messages/Unsubscribed: [Unsubscribed.]
/*/mta/ListServer/Messages/UnsubscribeRejectionNotice: 
    [Subject: <+++Command+++>]
    []
    [We're sorry, but your request to be unsubscribed to the mailing list]
    ["<+++ListAddress+++>" has been denied.  For more information]
    [about why this happened, contact <+++OwnerAddress+++>.]
    []
    [Sincerely,]
    []
    [<+++AuthAddress+++>]
/*/mta/ListServer/Messages/WrongArgCount: [**** Wrong number of arguments.]
/*/mta/ListServer/Request/Help: 
    [Introduction to the List Manager]
    [--------------------------------]
    [  This is the Mailing List Manager for Openwave Email <+++Version+++>.]
    [  The interface is similar to Brent Chapman's "Majordomo".  ]
    []
    []
    [How to Access the List Manager]
    [------------------------------]
    [  You can interact with the List Manager by sending commands in the body of ]
    [  an E-mail message addressed to "<+++ListManager+++>".]
    []
    [    (Important Note:  Commands in the "Subject:" line are NOT processed.)]
    []
    []
    [Available List Manager Commands]
    [-------------------------------]
    [  The Openwave Email Mailing List Manager understands the following commands:]
    []
    [    (Note:  In the descriptions below items contained in \[\]'s are optional. ]
    [            When providing the item, do not include the \[\]'s around it.]
    []
    [            Below, "the mailing list" refers to the mailing list associated]
    [            with the mailing list request address above.)]
    []
    []
    [    subscribe \[<address>\] \[immediate|digest\]]
    [        Subscribe yourself (or <address> if specified) to the mailing list.]
    []
    [    unsubscribe \[<address>\]]
    [        Unsubscribe yourself (or <address> if specified) from the mailing list.]
    []
    [    which]
    [        Find out which lists you are on.]
    []
    [    who]
    [        Find out who is subscribed to the mailing list.]
    []
    [    info]
    [        Retrieve the general introductory information for the mailing list.]
    []
    [    lists]
    [        Show the lists served by this List Manager server.]
    []
    [    help]
    [        Retrieve this message.]
    []
    [    end]
    [        Stop processing commands (useful if your mailer adds a signature).]
/*/mta/localCharacterSet: [Ascii]
/*/mta/localDeliveryQueuedProcessMsgNumThreads: [10]
/*/mta/localDeliveryQueuedProcessNumThreads: [1]
/*/mta/localFallback: [false]
/*/mta/localFallbackForBounce: [false]
/*/mta/logAllVotes: [FALSE]
/*/mta/logDeliveryMetrics:     []
/*/mta/logDomainTableRequests: [false]
/*/mta/logForwardingInfo: [true]
/*/mta/loginAliases: [true]
/*/mta/logMailboxCreation: [true]
/*/mta/logRecorderSize: [100000]
/*/mta/logRelayStatus: [false]
/*/mta/logSmtpClientFailureResponse: [false]
/*/mta/mailRoutingHost:     []
/*/mta/mailRoutingTable:     []
/*/mta/mailRoutingTableMode: [distributed]
/*/mta/maxApndDirectDelivery: [5]
/*/mta/maxApndDirectKB: [1]
/*/mta/maxBadCommands: [10]
/*/mta/maxBounceSizeInKB: [0]
/*/mta/maxDirectDelivery: [15]
/*/mta/maxDirectKB: [30270]
/*/mta/maximumMTAHops: [30]
/*/mta/maxMessageSizeInKB: [30270]
/*/mta/maxMssDeliverCount: [20]
/*/mta/maxMxRecConnAttempt: [0]
/*/mta/maxNormalIdleTimeSecs: [2]
/*/mta/maxNullSenderRcpts: [0]
/*/mta/maxQueueTimeInHours: [96]
/*/mta/maxQueueTimeInHoursPerDomain:     []
/*/mta/maxRetriesForAdvancedSmsNotifications: [3]
/*/mta/maxValidatorCount: [100]
/*/mta/messageIdPrototype: [%D%T.%C.%I.%H@%M]
/*/mta/messageIdReplacementPolicy: [create]
/*/mta/messageIdUsePrototype: [False]
/*/mta/messageInputSource: [all]
/*/mta/messageTracing: [true]
/*/mta/mimeParseMode: [imap-only]
/*/mta/minQueueIdleTime: [900]
/*/mta/msgDelivererNumThreads: [100]
/*/mta/msgExpirationHeader: [X-Opwv-Expiration-Time]
/*/mta/msgValidatorNumThreads: [200]
/*/mta/mssDeliverTimeoutSecs: [1200]
/*/mta/mtaSpool: [spool]
/*/mta/ndnAttachmentName:     []
/*/mta/noLocalDelivery: [false]
/*/mta/noLocalForwarding: [false]
/*/mta/numLdapConnections: [10]
/*/mta/originatingMsisdnForAdvancedSmsNotifications:     []
/*/mta/otherMessageHeaderLinesLogged:     []
/*/mta/outboundDeferProcessInitialWait: [0]
/*/mta/outboundDeferProcessInterval: [300]
/*/mta/outboundDeferProcessIntervalHigh: [300]
/*/mta/outboundDeferProcessIntervalLow: [21600]
/*/mta/outboundSMTPPort: [25]
/*/mta/outboundXCLPExpectsReply: [TRUE]
/*/mta/overQuotaCacheEnabled: [false]
/*/mta/overQuotaCacheMaxSize: [10000]
/*/mta/overQuotaEstimatedMsgSizeKb: [25]
/*/mta/privateMsgHeaders:     []
/*/mta/queuedDomainPriority:     []
/*/mta/queueRetryInterval: [15]
/*/mta/queueServerConnections: [10]
/*/mta/queueServerRetrieveHosts: [all]
/*/mta/queueServerStoreHosts: [all]
/*/mta/queueSplitFactor: [100]
/*/mta/randomizeMxRecords: [false]
/*/mta/rcptHarvesterCount: [30]
/*/mta/rcptHarvesterPotentialCIDRs:     []
/*/mta/rcptHarvesterTTLMinutes: [60]
/*/mta/rcptMaxHarvesters: [100]
/*/mta/rcptPotentialHarvesterTTLMinutes: [3]
/*/mta/realmsEnabled: [false]
/*/mta/realmsLocal:     []
/*/mta/receivedByPart: 
    [<HOSTNAME>]
    [(<PRODUCTNAME> <PRODUCTVERSION>)]
/*/mta/receivedForPart: [<RECIPIENT>]
/*/mta/receivedFromPart: [<HELODOMAIN> (<PEERNAME> <PEERIP>)]
/*/mta/receivedIdPart: [<TXNID>]
/*/mta/receivedViaPart:     []
/*/mta/receivedWithPart: [<PROTOCOL>]
/*/mta/rejectConnectionOnMaxAccept: [true]
/*/mta/rejectConnectionOnMaxAcceptText: [Service not available]
/*/mta/rejectConnectionUnavailableText: [Service not available]
/*/mta/rejectDnsServer:     []
/*/mta/rejectSenderBadAddress: [false]
/*/mta/rejectSenderBadDomain: [false]
/*/mta/rejectSenderIPDomain: [false]
/*/mta/rejectSenderNoDomain: [false]
/*/mta/rejectSourceRoute: [true]
/*/mta/rejectSourceRouteText: [Requested action not taken: Policy restriction]
/*/mta/relayAuthIdWithMailFrom: [false]
/*/mta/relayDestAllowList:     []
/*/mta/relayDestDenyList:     []
/*/mta/relayHost:     []
/*/mta/relayLocalDomainsOk: [true]
/*/mta/relayLocalMustExist: [false]
/*/mta/relayMaxRcpts: [0]
/*/mta/relayNullRestricted: [TRUE]
/*/mta/relayReplyCode: [550]
/*/mta/relayReplyText: [relaying mail to DOMAIN is not allowed]
/*/mta/relaySourceDomainList:     []
/*/mta/relaySourceLocalIPList:     []
/*/mta/relaySourcePolicy: [denyAll]
/*/mta/relaySourceRemoteIPList:     []
/*/mta/relayTreatNonAuthAsAuth: [false]
/*/mta/removeBcc: [false]
/*/mta/reportingDisabledIPs:     []
/*/mta/reportingGroupAssignments:     []
/*/mta/reportingGroupAssignmentsFile:     []
/*/mta/reportingGroupAssignmentsUpdateInSecs: [600]
/*/mta/requireAuthentication: [false]
/*/mta/requireCrLf: [false]
/*/mta/requireSecureAuth: [false]
/*/mta/retryIntervalForAdvancedSmsNotifications: [5]
/*/mta/reverseDnsLookup:     []
/*/mta/rewriteDomains: [false]
/*/mta/rewriteGatewayHeaderList:     []
/*/mta/rewriteHeaderList:     []
/*/mta/rewriteMaxMtaHops: [1]
/*/mta/rewriteOnlyLocal: [true]
/*/mta/rewritePrimary: [false]
/*/mta/rewriteSaveOrig: [true]
/*/mta/runDir: [tmp/mta]
/*/mta/scanFor8bit: [false]
/*/mta/scanOldMessagesIntervalInHours: [24]
/*/mta/schedulerMaxSessions: [1000]
/*/mta/schedulerThreadPoolMaxFree: [40]
/*/mta/schedulerThreadPoolMaxThreads: [80]
/*/mta/schedulerThreadPoolMinFree: [20]
/*/mta/schedulerThreadPoolNumPools: [2]
/*/mta/senderIpLookup: [false]
/*/mta/senderIpLookupAction: [drop]
/*/mta/serviceMode: [Standard]
/*/mta/sidelineMessages: [false]
/*/mta/sidelineNullToMany: [false]
/*/mta/sidelineNumRcpts: [0]
/*/mta/sidelineNumRcptsPerConnection: [0]
/*/mta/skipMssStatusCheck: [false]
/*/mta/smtpAcceptNumThreads: [50]
/*/mta/smtpAuthDistrustList:     []
/*/mta/smtpAuthTrust:     []
/*/mta/smtpAuthTrustList:     []
/*/mta/smtpBannerHostname:     []
/*/mta/smtpBannerMessage:     []
/*/mta/smtpDeliverNumThreads: [50]
/*/mta/smtpGreetingDomain:     []
/*/mta/smtpQueueBucketCount: [101]
/*/mta/smtpQueueControlBucketCount: [101]
/*/mta/smtpQueueProcessNumThreads: [10]
/*/mta/smtpQueueProcessNumThreadsHigh: [10]
/*/mta/smtpQueueProcessNumThreadsLow: [10]
/*/mta/spamMessageText: [Message Rejected.]
/*/mta/splitDelivery: [true]
/*/mta/spoolSplitFactor: [100]
/*/mta/sslCertificateInfo:     []
/*/mta/sslCertPassword: [InterMail]
/*/mta/sslCipherList: [ALL]
/*/mta/sslUseSessionCache: [true]
/*/mta/stateless: [true]
/*/mta/subDomains:     []
/*/mta/suppressDisplayOfRcptForBounce: [false]
/*/mta/threadPerQueueRetrieval: [false]
/*/mta/threadPoolStatusReportIntervalSecs: [0]
/*/mta/timeoutClientConnect: [60]
/*/mta/timeoutClientDataDot: [600]
/*/mta/timeoutClientDataSend: [180]
/*/mta/timeoutClientGreet: [300]
/*/mta/timeoutClientHelo: [300]
/*/mta/timeoutClientMailFrom: [300]
/*/mta/timeoutClientQuit: [300]
/*/mta/timeoutClientRcptTo: [300]
/*/mta/timeoutClientRset: [300]
/*/mta/timeoutServerCommand: [300]
/*/mta/timeoutServerData: [300]
/*/mta/timeoutServerDelivery: [5]
/*/mta/timeoutServerDeliveryRejection: [5]
/*/mta/trackerEnabled: [false]
/*/mta/trackerLibrary:     []
/*/mta/trackRcptHarvesters: [false]
/*/mta/useAuthIdForCosLookups: [false]
/*/mta/useMx: [true]
/*/mta/useWildcardAsLocalAcct: [false]
/*/mta/validatorBatchSize: [5]
/*/mta/verifyDeferOk: [false]
/*/mta/verifyDomainRFC2821Compliant: [false]
/*/mta/verifyRcpts: [true]
/*/mta/virusMessageText: [Virus detected in message, message rejected.]
/*/mta/voteFailureRecommendation: [deny]
/*/mta/voteWeights:     []
/*/mta/voteWeightsFile:     []
/*/mta/voteWeightsFileUpdateInSecs: [600]
/*/mta/XclpAllowedIPs: 
    [127.0.0.1]
    [::1]
/*/pabd/httpNotificationPort: [9091]
/*/pabd/httpPassword: [p]
/*/pabd/httpPort: [9090]
/*/pabd/httpPrincipal: [__DATA_MGR_RW__]
/*/pabd/managerTelnetPassword: [p]
/*/pabd/managerTelnetPort: [4211]
/*/pabd/Settings.DataMgrROPassword: [p]
/*/pabd/Settings.EnablePassword: [p]
/*/pabd/Settings.ManagerPassword: [p]
/*/pabd/Settings.ManagerSecret: [p]
/*/pabd/userTelnetPort: [4212]
/*/popserv/allowAPOP: [false]
/*/popserv/allowCAPA: [true]
/*/popserv/allowedIPs:     []
/*/popserv/allowTLS: [false]
/*/popserv/blockAuthHookText: [you are not allowed to authenticate]
/*/popserv/bulkOperationBatchSize: [1000]
/*/popserv/clientTimeout: [240]
/*/popserv/createsMboxes: [true]
/*/popserv/enableSpecialDelete: [false]
/*/popserv/fileDescriptors: [32000]
/*/popserv/initClientTimeout: [240]
/*/popserv/lockTimeout: [0]
/*/popserv/logMailboxCreation: [true]
/*/popserv/logRecorderSize: [100000]
/*/popserv/maxBadCommands: [10]
/*/popserv/maxSessions: [8000]
/*/popserv/messageTracing: [true]
/*/popserv/moveRetrieveErrors: [false]
/*/popserv/needUidRFC1939Compliance: [false]
/*/popserv/popBannerHostname:     []
/*/popserv/popBannerMessage:     []
/*/popserv/popCustomErrorMessage:     []
/*/popserv/popProxyHost:     []
/*/popserv/retrieveExtensionsCOS:     []
/*/popserv/runDir: [tmp/popserv]
/*/popserv/setMsgSeenFlagOnQUIT: [false]
/*/popserv/sslCertificateInfo:     []
/*/popserv/sslCertPassword: [InterMail]
/*/popserv/sslCipherList: [ALL]
/*/popserv/sslUseSessionCache: [true]
/*/popserv/useStatusHeader: [false]
/*/snmpdm/community: [public]
/*/snmpdm/runDir: [tmp/snmpdm]
/*/sysadmin/additionalServers:     []
/*/sysadmin/imboxhousekeeping_opt: [ -nosnmp]
/*/sysadmin/imboxhousekeeping_run: [on]
/pabcal/capd/proxyServerMode: [false]
/fep/capd/proxyServerMode: [true]
/*/capd/Settings.CalReminderSMTPhost: [localhost]
/*/capd/Settings.CalReminderSMTPpassword: [p]
/*/capd/Settings.CalReminderSMTPuser: [user1]
/*/capd/Settings.InstallDir: [{{emailmx_user[0].home}}/cal]
/*/capd/Settings.ProcessGroupID: [1003]
/*/capd/Settings.ProcessUserID: [1003]
/*/common/binDir: [bin]
{% for site in sites %}
{% for node in groups[site + "-directory"] %}
/{{node}}/common/dirCacheHosts: [{{ node }}]
/{{node}}/common/dirRmeHosts: [{{ node }}]
/{{node}}/imdircacheserv/ldapServerHosts: [{{ node }}]
{% endfor %}
{% for node in groups[site + "-smtpout"] | union(groups[site + "-smtpin"]) | union(groups[site + "-fep"]) | union(groups[site + "-mss"]) | union(groups[site + "-pabcal"]) | union(groups[site + "-uxsuite"]) %}
/{{node}}/common/dirCacheHosts: [{{ groups[site + "-queue"] | join(" ") }}]
/{{node}}/common/dirRmeHosts: [{{ groups[site + "-queue"] | join(" ") }}]
/{{node}}/imdircacheserv/ldapServerHosts: [{{ groups[site + "-queue"] | join(" ") }}]
{% endfor %}
{% for node in groups[site + "-queue"] %}
{% set before = [ ] %}
{% set after = [ ] %}
{% set found = False %}
{% for n in groups[site + "-queue"] %}
{% if n == node %}
{% set found = True %}
{% endif %}
{% if found == True %}
{% set ignored = before.append( n ) %}
{% else %}
{% set ignored = after.append( n ) %}
{% endif %}
{% endfor %}
{% set dcslist = before | union(after) | join(" ") %}
/{{node}}/common/dirCacheHosts: [{{ dcslist }}
/{{node}}/common/dirRmeHosts: [{{ dcslist }}]
/{{node}}/imdircacheserv/ldapServerHosts: [{{ dcslist }}]
{% endfor %}
{% endfor %}
/*/common/installDir: [{{emailmx_user[0].home}}]
/*/common/mxOsServiceHost: 
    [notifyservice affinity_mos:8081]
    [mailboxservice affinity_mos:8081]
    [sendsmsservice affinity_mos:8081]
    [sendmailservice affinity_mos:8081]
    [default affinity_mos:8081]
/*/common/nlsDir: [nlslib]
/*/common/sharedDir: [{{emailmx_user[0].home}}]
/*/common/tls.tlsdirectory: [{{emailmx_user[0].home}}/tls]
/*/imapserv/sslCertChainPathAndFile: 
    [{{emailmx_user[0].home}}/lib/certs/im_default_certs.txt]
{% for node in groups["directory"] %}
{% if node == conf_server_name %}
/{{node}}/imdirserv/masterServerRole: [1]
{% else %}
/{{node}}/imdirserv/masterServerRole: [2]
{% endif %}
{% endfor %}
/*/imqueueserv/queueDir: [{{emailmx_user[0].home}}/queue]
/*/install/knownPortOffset: [0]
/*/install/startKey: [{{ports_offset}}]
/*/mss/journalDir: [{{emailmx_user[0].home}}/journal]
/*/mss/messageFilesDir: [{{emailmx_user[0].home}}/msgfiles]
/*/mss/remoteDatabaseOption: [false]
{% for site in sites %}
/{{site}}/mta/queueServHosts: [{{ groups[site + "-queue"] | join(" ") }}]
{% endfor %}
/*/mta/sslCertChainPathAndFile: 
    [{{emailmx_user[0].home}}/lib/certs/im_default_certs.txt]
/*/mxos/addressBookBackend: [PAB]
/*/mxos/addressBookStoreHosts:     []
/*/mxos/autheticationLockTimeout: [300]
/*/mxos/badPasswordDelay: [5]
/*/mxos/badPasswordWindow: [120]
/*/mxos/blobBackend: [mss]
/*/mxos/calendarStoreHosts:     []
/*/mxos/calLocation:     []
/*/mxos/childDomainObjectClasses: 
    [top]
    [domain]
    [mailDomain]
    [organization]
/*/mxos/contextId: [BACKEND]
/*/mxos/contextType: [BACKEND]
/*/mxos/cryptoKeyList: 
    [1,|wNry*bkSPn:Q{rU]
    [2,Syd81?Fc3%mSc&4c]
/*/mxos/defaultDirServer: [imdirserv]
/*/mxos/defaultMailboxStatus: [active]
/*/mxos/defaultPasswordStoreType: [clear]
/*/mxos/defaultWebmailVersion: [UXS2]
/*/mxos/domainCustomFieldsClass: 
    [com.opwvmsg.mxos.backend.crud.ldap.LDAPDomainCustomProperty]
/*/mxos/enableSoftDelete: [true]
/*/mxos/extensionsOptionalCoSAttributes: 
    [basicblock jphoneuserwmlimitedflg]
    [rcvcontrol JphoneUserEmailSuspendedTime,JphoneUserEmailRcvStatus]
/*/mxos/heartbeatInterval: [1]
/*/mxos/heartbeatMisses: [3]
/*/mxos/mailboxBackend: [ldap]
/*/mxos/mailboxCustomFieldsClass: 
    [com.opwvmsg.mxos.backend.crud.ldap.LDAPMailboxCustomProperty]
/*/mxos/mailboxObjectClasses: 
    [top]
    [person]
    [mailuser]
    [mailuserprefs]
    [msguserprefs]
    [maillocaluserprefs]
    [msguser]
    [netmailuser]
    [senderscontrol]
    [pabuser]
    [pabuserprefs]
    [caluser]
    [caluserprefs]
    [smsuserprefs]
/*/mxos/messageStoreHosts:     [{{ mss_cluster_name }}]
/*/mxos/metaBackend: [mss]
/*/mxos/mssMaxConnectionPoolIdleTimeSec: [30]
/*/mxos/mssMaxConnectionPoolSize: [10]
/*/mxos/mssMinConnectionPoolSize: [5]
/*/mxos/netTimeout: [240]
/*/mxos/pabLocation:     []
/*/mxos/parentDomainObjectClasses: 
    [top]
    [domain]
/*/mxos/posixDBRootFolder: [/tmp/mxos]
/*/mxos/posixMaxBuckets: [10]
/*/mxos/provisioningBackend: [ldap]
/*/mxos/rmeLookupTimeout: [240]
/*/mxos/searchMaxRows: [1000]
/*/mxos/searchMaxTimeOut: [2000]
/*/mxos/statsEnabled: [true]
/*/mxos/statsNumEvents: [10000]
/*/mxos/statsTimeDuration: [10]
/*/mxos/systemFolders: [INBOX]
/*/mxos/trustedClient: [false]
/*/pabd/Settings.InstallDir: [{{emailmx_user[0].home}}]
/*/pabd/Settings.PresenceDatabaseEnvironmentPath: 
    [{{emailmx_user[0].home}}/pab/db-env/presence]
/*/pabd/Settings.PresenceDatabaseLogPath: 
    [{{emailmx_user[0].home}}/pab/db-log/presence]
/*/pabd/Settings.ProcessGroupID: [{{emailmx_user[0].uid}}]
/*/pabd/Settings.ProcessUserID: [{{emailmx_user[0].uid}}]
/*/pabd/Settings.RunDir: [{{emailmx_user[0].home}}/pab]
/*/pabd/Settings.SocialNetworkDatabaseEnvironmentPath: 
    [{{emailmx_user[0].home}}/pab/db-env/social_network]
/*/pabd/Settings.SocialNetworkDatabaseLogPath: 
    [{{emailmx_user[0].home}}/pab/db-log/social_network]
/*/pabd/Settings.StoragePlugin: [{{emailmx_user[0].home}}/pab/bin/stormgr.so]
/*/pabd/StoragePlugin.DatabaseDir: [{{emailmx_user[0].home}}/pab/databases]
/*/pabd/StoragePlugin.DatabaseEnvironmentPath: 
    [{{emailmx_user[0].home}}/pab/db-env/storage]
/*/popserv/sslCertChainPathAndFile: 
    [{{emailmx_user[0].home}}/lib/certs/im_default_certs.txt]
/fep/sysadmin/additionalServers: 
    [capd calStartStop calPing user=root]
    [pabd pabStartStop pabPing user=root]
/pabcal/sysadmin/additionalServers:
    [capd calStartStop calPing user=root]
    [pabd pabStartStop pabPing user=root]
/directory/sysadmin/additionalServers: [mxos mxosStartStop mxosPing]
/directory/sysadmin/imconfserv_opt: [-nosnmp]
/directory/sysadmin/imconfserv_run: [on]
/directory/sysadmin/imdircacheserv_opt: [-nosnmp]
/directory/sysadmin/imdircacheserv_run: [on]
/directory/sysadmin/imdirserv_opt: [-nosnmp]
/directory/sysadmin/imdirserv_run: [on]
/directory/sysadmin/immgrserv_opt: [-nosnmp]
/directory/sysadmin/immgrserv_run: [on]
/directory/sysadmin/mxos_opt:     []
/directory/sysadmin/mxos_run: [on]
/fep/sysadmin/capd_opt:     []
/fep/sysadmin/capd_run: [on]
/fep/sysadmin/imapserv_opt: [-nosnmp]
/fep/sysadmin/imapserv_run: [on]
/fep/sysadmin/immgrserv_opt: [-nosnmp]
/fep/sysadmin/immgrserv_run: [on]
/fep/sysadmin/mta_opt: [-nosnmp]
/fep/sysadmin/mta_run: [on]
/fep/sysadmin/pabd_opt:     []
/fep/sysadmin/pabd_run: [on]
/fep/sysadmin/popserv_opt: [-nosnmp]
/fep/sysadmin/popserv_run: [on]
/mss/sysadmin/immgrserv_opt: [-nosnmp]
/mss/sysadmin/immgrserv_run: [on]
/mss/sysadmin/mss_opt: [-db  -nosnmp]
/mss/sysadmin/mss_run: [on]
/pabcal/sysadmin/capd_opt:     []
/pabcal/sysadmin/capd_run: [on]
/pabcal/sysadmin/immgrserv_opt: [-nosnmp]
/pabcal/sysadmin/immgrserv_run: [on]
/pabcal/sysadmin/pabd_opt:     []
/pabcal/sysadmin/pabd_run: [on]
/queue/sysadmin/additionalServers: [mxos mxosStartStop mxosPing]
/queue/sysadmin/imdircacheserv_opt: [-nosnmp]
/queue/sysadmin/imdircacheserv_run: [on]
/queue/sysadmin/immgrserv_opt: [-nosnmp]
/queue/sysadmin/immgrserv_run: [on]
/queue/sysadmin/imqueueserv_opt: [-nosnmp]
/queue/sysadmin/imqueueserv_run: [on]
/queue/sysadmin/mxos_opt:     []
/queue/sysadmin/mxos_run: [on]
/smtpin/sysadmin/imextserv_opt: [-nosnmp]
/smtpin/sysadmin/imextserv_run: [on]
/smtpin/sysadmin/immgrserv_opt: [-nosnmp]
/smtpin/sysadmin/immgrserv_run: [on]
/smtpin/sysadmin/mta_opt: [-nosnmp]
/smtpin/sysadmin/mta_run: [on]
/smtpout/sysadmin/imextserv_opt: [-nosnmp]
/smtpout/sysadmin/imextserv_run: [on]
/smtpout/sysadmin/immgrserv_opt: [-nosnmp]
/smtpout/sysadmin/immgrserv_run: [on]
/smtpout/sysadmin/mta_opt: [-nosnmp]
/smtpout/sysadmin/mta_run: [on]
/uxsuite/sysadmin/additionalServers: [webtop webtopctl webtopping]
/uxsuite/sysadmin/immgrserv_opt: [-nosnmp]
/uxsuite/sysadmin/immgrserv_run: [on]
/uxsuite/sysadmin/webtop_opt: []
/uxsuite/sysadmin/webtop_run: [on]
/*/imapserv/adminPort: [5011]
/*/imapserv/imap4Port: [143]
/*/imapserv/sessionControlPort: [5012]
/*/imapserv/sslImap4Port: [993]
/*/imconfserv/adminPort: [5001]
/*/imconfserv/confServPort: [5000]
/*/imdircacheserv/adminPort: [5008]
/*/imdircacheserv/dirCachePort: [5007]
/*/imdircacheserv/ldapPort: [389]
/*/imdirserv/adminPort: [5006]
/*/imdirserv/dirRMEPort: [5004]
/*/imdirserv/ldapPort: [5005]
/*/imextserv/adminPort: [5015]
/*/imextserv/extRMEport: [5014]
/*/immgrserv/adminPort: [5003]
/*/immgrserv/mgrServPort: [5002]
/*/imqueueserv/adminPort: [5017]
/*/imqueueserv/queueServerPort: [5016]
/*/mss/adminPort: [5010]
/*/mss/mssBasePort: [5009]
/*/mss/mssNumPorts: [1]
/*/mta/adminPort: [5018]
/*/mta/SMTPPort: [25]
/*/mta/sslSMTPPort: [465]
/*/pabd/Settings.LDAPPort: [0]
/*/popserv/adminPort: [5013]
/*/popserv/pop3Port: [110]
/*/popserv/sslPop3Port: [995]
{% for site in sites %}
{% if groups[site + "-mss"] is defined %}
/{{ site }}-mss/common/cassandraClusterConnTimeoutMS: [15000]
/{{ site }}-mss/common/cassandraClusterObjPoolMaxSize: [300]
/{{ site }}-mss/common/cassandraClusterPoolDnsLoadBalancingEnabled: [true]
/{{ site }}-mss/common/cassandraClusterPoolDnsRefreshIntervalSecs: [5]
/{{ site }}-mss/common/cassandraClusterRecvTimeoutMS: [5000]
/{{ site }}-mss/common/cassandraClusterSendTimeoutMS: [5000]
/{{ site }}-mss/common/cassandraMDCluster: [{{ meta_cluster_name }}]
/{{ site }}-mss/common/cassandraMDThriftPort: [9161]
/{{ site }}-mss/common/clusterHashMap: [{{ mss_cluster_name}}={{ mss_cluster_name }}:0-999]
/{{ site }}-mss/mss/clusterName: [{{ mss_cluster_name }}]
/{{ site }}-mss/mss/clusterPort: [23456]
/{{ site }}-mss/mss/currentBlobLocation: [blobtier]
/{{ site }}-mss/mss/statelessMSS: [true]
{% endif %}
{% endfor %}
{% for site in sites %}
{% if groups[site + "-smtpin"] is defined %}
{% if groups[site + "-fep"] is defined %}
/{{ site }}-smtpin/mta/mailRoutingTable: [*:{{ groups[site + "-fep"] | join(",") }}]
{% endif %}
/{{ site }}-smtpin/mta/noLocalDelivery: [true]
/{{ site }}-smtpin/mta/queueServerRetrieveHosts: []
/{{ site }}-smtpin/mta/queueServerStoreHosts: []
{% endif %}
{% if groups[site + "-smtpout"] is defined %}
{% if groups[site + "-fep"] is defined %}
/{{ site }}-smtpout/mta/mailRoutingTable: [*:{{ groups[site + "-fep"] | join(",") }}]
{% endif %}
/{{ site }}-smtpout/mta/noLocalDelivery: [true]
/{{ site }}-smtpout/mta/queueServerRetrieveHosts: []
/{{ site }}-smtpout/mta/queueServerStoreHosts: []
{% endif %}
{% endfor %}
